[2022-03-07 18:29] prashantjadhav92 opened #1 "Acronis User ID bug"
Verified this works

[2022-03-07 18:31] cphillips83 commented on #1
Hello

[2022-03-07 18:36] prashantjadhav92 opened #2 "#1417610 XSS via image alt name"
login and upload any image in /#gallery/banner/images
set alt name to the XSS payload, "xss onmouseover='alert("stored xss via image alt attribute")'"
set this image as logo in company profile (/#user/profile/)
upload any video on /#gallery/videos
click Preview the video, move mouse over the company logo and see XSS executed

[2022-03-08 15:08] cphillips83 opened #3 "Acronis API IDOR"
If you change the userid in flight you can modify any user.

[2022-03-08 15:12] #3 closed

[2022-03-10 15:40] prashantjadhav92 opened #4 "#1430212 Stored XSS via case name at partners.acronis.coms (01/11/2022)"
**Severity: Medium**

The case name is vulnerable to XSS (https://partners.acronis.com/#manage/support)

[2022-03-10 15:41] prashantjadhav92 opened #5 "#1436013 Stored XSS via activity name on MDF page (01/11/2022)"
**Severity: Medium**

XSS when you view project -> activity name

[2022-03-10 16:05] prashantjadhav92 opened #6 "#1438743 IDOR allows to send messages to any support case. (01/11/2022)"
Severity: Medium

submit a case then write a message on the case. intercept the request and change the caseid to other case

[2022-03-10 16:07] prashantjadhav92 opened #7 "#1439408 Stored XSS via opportunity name on report page (01/11/2022)"
Severity: Medium

- go to https://partners.acronis.com/#connections/contacts
- select a user then go to view -> opportunities
- add new record then go to additional info
- put JS code in opportunity name: XSS<script>alert('happy new year')</script>
- then save ... finish
- POC https://partners.acronis.com/#setup/user/stats/98208?ispartner=undefined

[2022-03-10 16:08] prashantjadhav92 opened #8 "#1441100 IDOR allows to close any support ticket, /api/SaveAcronisCaseRecord (01/12/2022)"
Severity: Medium

In the request to API endpoint /api/SaveAcronisCaseRecord it is possible to specify support ticket ID (caseid field), owned by user from another organization and close it

[2022-03-10 16:10] prashantjadhav92 opened #9 "#1442018 IDOR provides access to files from another organization, /api/CreateEbookFromFile (01/12/2022)"
Severity: Medium

In the request to API endpoint /api/CreateEbookFromFile it is possible to specify ID of any file, including files location in other organizations (field filed). As a result, it is possible to create Ebook from file user should have no access to and read this file.

[2022-03-10 16:16] prashantjadhav92 opened #10 "**#1443684 IDOR at /api/SaveShareData endpoint leading to access to the file (01/12/2022)**"
Severity: Medium

In the request to API endpoint /api/SaveShareData it is possible to share the  file with several users. However, access check is done only for the first user. As a result, it is possible to specify any shareid (id of the file) and own userid in the request, and obtain full access to files from other organizations. Request body example:
"{\"shareid\":[<ANY_FILE_ID>],\"sharetype\":

[2022-03-10 16:18] prashantjadhav92 opened #11 "SEC-3954 IDOR on /api/SetProfileData - it is possible to set any image (even owned by other organizations) as profile or signature photo (01/12/2022)"
Severity: Medium

In the  request to /api/SetProfileData it is possible to specify file id for profile or signature photo. File might be located in any organization.

[2022-03-10 16:22] prashantjadhav92 opened #12 "SEC-3955 IDOR on /api/SaveOrganization - it is possible to set any image (even owned by other organizations) as organization photo (01/12/2022)"
Severity: Medium

In the  request to /api/SaveOrganization it is possible to specify file id for organization  photo. File might be located in any organization. As a result, user will be able to access this file

[2022-03-10 16:24] prashantjadhav92 opened #13 "#1478620 IDOR on /api/SaveUser in “signature” field, allows access to files from other organizations (02/14/2022)"
Severity: Medium

In the  request to /api/SaveUser it is possible to specify file id for signature. File might be located in any organization. As a result, user will be able to access this file

[2022-03-10 16:25] prashantjadhav92 opened #14 "#1478012 IDOR on /feedback/<file_ID>/2/rating (02/14/2022)"
Severity: Medium

It is possible to get direct links to files using /feedback/<file_ID>/2/rating endpoint. “Asset Name” will be the link to the file

[2022-03-10 16:25] prashantjadhav92 opened #15 "#1478752, #1478750, #1478749, #1478747, #1478743 XSS on user profile page (02/14/2022)"
Severity: Medium

Fields city, address, telephone, firstname, lastname are vulnerable to stored XSS on page /#user/profile/.
Steps to reproduce:
Login under admin
Copy session cookie .ASPXAUTH and X-CSRF-Token values
Go to /#setup/users/list
Copy ID of any user, e.g. <TEST_USER_ID>
Make the following request:
curl  <URL>/api/SaveUser -H “X-CSRF-Token: <CSRF_COOKIE_VALUE>” -b “.ASPXAUTH=<ASPXAUTH_C

[2022-03-10 16:26] prashantjadhav92 opened #16 "#1479528 IDOR allows to delete email blast from other organizations, /api/deleteemails (02/14/2022)"
Severity: Medium

POST request to /api/deleteemails ({"ids":[<EMAIL_BLAST_ID>],"cstatus":1}) contains id of the email blast. It is possible to specify <EMAIL_BLAST_ID> created in another organization and delete it

[2022-03-10 16:27] prashantjadhav92 opened #17 "#1479513 IDOR allows to delete offline activity of a contact from another organization, /api/DeleteOfflineActivities (02/14/2022)"
Severity: Medium

POST request to /api/DeleteOfflineActivities ({"ids":[<OFFLINE_ACTIVITY_ID>]}) contains id of offline activity, it is possible to specify ID of the activity from another organization and delete it

[2022-03-10 16:27] prashantjadhav92 opened #18 "#1479573 Stored XSS on /#connections/contacts/filters/<CONTACT_ID> page (02/14/2022)"
Severity: Medium

 Stored XSS on /#connections/contacts/filters/<CONTACT_ID> page via filter name. Steps to reproduce:
Login and go to /#connections/contacts
Copy <CONTACT_ID> of any contact
Make request to /api/GetOrAddFilterForContact with filter parameter set to the following: qwerty\" onmouseover=\"confirm(123) and contactid set to <CONTACT_ID>
Open /#connections/contacts/filters/<CONTACT_ID>

[2022-03-10 16:28] prashantjadhav92 opened #19 "#1479573 It is possible to see filter names created by other users (in other organizations), /public/search.ashx?q=test (02/14/2022)"
Is it supposed behavior that using /public/search.ashx?q=<FILTER_NAME_OR_ITS_PART> it is possible to see what filters are there on the platform (including those created in other organizations)?

[2022-03-10 16:29] prashantjadhav92 opened #20 "#1474935 IDORS allows to see attachments to support tickets from other organizations, /api/GetDocumentList (02/14/2022)"
Severity: Medium

In the request to /api/GetDocumentList it is possible to specify caseid of the support case created in another organization. As a result, it is possible to access attachments of this support ticket

[2022-03-10 16:29] prashantjadhav92 opened #21 "#1474889 IDOR allows to delete export status, /api/DeleteContactExportEntries (02/14/2022)"
Severity: Low

It is possible to specify id of Export Entry from another organization and delete it

[2022-03-10 16:30] prashantjadhav92 opened #22 "#1476281 Stored XSS in filters on images, documents, videos pages (02/14/2022)"
Severity: Medium

Make request to /api/SetFilters ( {"ids":[item_id],"filters":["filter"onclick=\"alert(1337)\""]}) and specify ID of any image,  and in filter add the following: onclick=\"alert(1337)\". After that open /#gallery/banner/images and find just created filter. Click on it and see JS executed

[2022-03-10 16:30] prashantjadhav92 opened #23 "#1476378, #1476372, #1477734 XSS on company profile page in city, url, linkedin, facebook and twitter fields (02/14/2022)"
Severity: Low

Make request to /api/SaveOrganization and specify the following in city, url, linkedin, facebook and twitter: https://google.com\"onmouseover=\"alert('XSS'). Go to company profile page and hover over the corresponding fields (city, url,  linkedin, facebook and twitter). See JS executed

[2022-03-10 16:31] prashantjadhav92 opened #24 "#1476406 IDOR allows to read comments of documents from other organizations, /api/GetFeedbackCommentForItem (02/14/2022)"
Severity: Medium

In the request to /api/GetFeedbackCommentForItem it is possible to change itemid to the ID of the document located in another organizations and access the comments related to this document

[2022-03-10 16:32] prashantjadhav92 opened #25 "#1476406 IDOR allows to access files from other organizations, /feedback/<file_id>/2/comment (02/14/2022)"
Severity: Medium

It is possible to get direct links to files located in other organizations by specifying <file_id> in request /feedback/<file_id>/2/comment. “Asset name” is a direct link to a file

[2022-03-10 16:32] prashantjadhav92 opened #26 "#1476120 IDOR allows to add comments to documents located in other organizations, /api/UpdateComments (02/14/2022)"
Severity: Low

In the request to /api/UpdateComments ({"itemid":[item_id],"comment":"[your_comment]","type":2}}}) it is possible to specify file ID in itemid and any comment in the corresponding field to add comment to a document from another organizations. Is it supposed behavior?

[2022-03-10 16:33] prashantjadhav92 opened #27 "#1478438 IDOR on /connections/list/<LIST_ID>/info allows access to lists from other organizations (02/14/2022)"
Severity: Medium

It is possible to specify any <LIST_ID> and access corresponding list, even if it was created in another organization

[2022-03-10 16:34] prashantjadhav92 opened #28 "#1478438 IDOR on /api/SaveListInfo allows to change to list located in another organizations"
Severity: Medium

It is possible to specify any “listid” and corresponding “distributionid” (which might be found on /connections/list/<LIST_ID>/info) and change the list, even if it is located in another organization

[2022-03-10 16:34] prashantjadhav92 opened #29 "#1478438 Stored XSS on /#connections/lists page in filters (02/14/2022)"
Severity: Medium

Stored XSS on /#connections/lists page in filters. Together with IDOR in lists it is possible to inject payload on list page located in other organizations. Steps to reproduce:
Make request to /api/SaveListInfo to change the list. Add the following to the filters: qwerty\" onclick=\"alert(123)
Open /#connections/lists
Open filters -> click on just added filter
See JS executed

[2022-03-10 17:29] prashantjadhav92 opened #30 "8x8 Security issue - IDOR allows to delete customer social media post/drip."
Steps To Reproduce

1. Login.
2. Visit these vulnerable pages
https://refer.8x8.com/#communicate/social
https://refer.8x8.com/#manage/campaigns/socialdrip.
3. Intercept the request before deleting the social media post/drip.
4. Change the media ID to any media of another account.
[VULN-1006.pdf](https://github.com/MindMatrix/SecurityTracker/files/8225717/VULN-1006.pdf)

[2022-03-16 13:37] prashantjadhav92 opened #32 "Bug type : Clickjacking (UI Redress) Impact : Phishing (account compromise)"
Priority - Urgent

Description:

Clickjacking is a portmanteau of two words ‘click’ and ‘hijacking’. It refers to hijacking a user's click for malicious intent. In it, an attacker embeds the vulnerable site in an transparent iframe in the attacker's own website and overlays it with objects such as buttons using CSS skills. This tricks users to perform unintended actions on vulnerable websites, thi

[2022-03-19 21:43] shaileshtayde commented on #4
@prashantjadhav92 This is verified and no longer an issue.

[2022-03-19 22:03] shaileshtayde commented on #5
@prashantjadhav92 This has been verified and is not reproduceable anymore.

[2022-03-19 22:06] shaileshtayde commented on #6
@prashantjadhav92 The case record can't be accessed by user until it is shared with resp user OR it falls in case permission extension where if user has ability to view all case records  of his current organization.

[2022-03-19 22:38] shaileshtayde commented on #8
@prashantjadhav92 This has been resolved already adding required permission check;
[code]

[2022-03-19 23:02] shaileshtayde commented on #9
@prashantjadhav92 This has been addressed by adding resp. permission check.
Resp. page (https://dvl-main.amp.vg/#collateral/ebook) needs to be tested by @sunrao' team.
@sunrao Please have this page tested on main branch on dvl.

[2022-03-19 23:17] shaileshtayde commented on #7
@prashantjadhav92 This issue was already addressed and is good on production.

[2022-03-19 23:31] shaileshtayde commented on #11
@cphillips83 @shivmishra we'd need to implement the permission check _photoid_ and _signature_ in `UpdateCustomFields `function. i.e. for resp. file(s)

[2022-03-19 23:33] shaileshtayde commented on #12
@shivmishra  implement the permission check for _photoid_ in UpdateCustomFields function as mentioned for user profile data.

[2022-03-19 23:49] shaileshtayde commented on #10
@shivmishra Please look into this. We'd need to add the permission check for file id;
![image](https://user-images.githubusercontent.com/6465652/159142205-cde11d36-14e2-403a-a5ec-372d69015efd.png)

[2022-03-19 23:52] shaileshtayde commented on #13
@shivmishra This is the same thing that was mentioned for saving organization/user profile data. We'd need to have resp. permission checked when we save JSON data.

[2022-03-20 00:13] shaileshtayde commented on #14
@shivmishra we'd need to implement permission check in _GetFeedbackRatingForItem_ API + _ratinghistory.aspx.cs_ for resp. file/template id.
Also, please confirm if rating can be visible to any logged-in user?

[2022-03-20 00:39] shaileshtayde commented on #15
Install - https://acronis2.sb.amp.vg/#user/profile/1647736355524
User - shailesh31@mailinator.com
JSON -
`{"userid":2354,"syncusername":null,"groups":[],"json":{"name":"shailesh31@mailinator.com","email":"shailesh31@mailinator.com","firstname":"testXSS\" onmouseover=\"alert(1)","lastname":"testXSS\" onmouseover=\"alert(2)","title":null,"portfolio":null,"photoid":null,"signature":null,"url":null,"b

[2022-03-20 00:44] shaileshtayde commented on #16
@shivmishra Can you please confirm if this API has the generalized permission check instead of specific email one?

[2022-03-20 00:48] shaileshtayde commented on #17
@sunrao @cphillips83 As of now there are no actual permission check for Offline Activities. There is only one generalized permission check implemented for contact Edit (_currentuser.Accessibility.Roles.Contacts.CanEdit_). Having said that, it is possible to delete Offline activities from different organizations/companies.

@sunrao Can you mention what permission checks offline activities should ha

[2022-03-20 00:59] shaileshtayde commented on #19
@prashantjadhav92 filters that are created can be seen by all users. This is the part of default functionality to avoid filter duplication. You can confirm with @cphillips83 @sunrao

[2022-03-20 01:05] shaileshtayde commented on #20
@prashantjadhav92 As mentioned in issue #6
The case record can't be accessed by user until it is shared with resp. user OR it falls in case permission extension (or isPartnerAdmin) where if user has ability to view all case records of his current organization.

[2022-03-20 01:18] shaileshtayde commented on #21
@Mahimapatil Please have resp. permission added.
1. Only current (creator) user can delete its resp. accessible record, hence the fileid.

[2022-03-20 01:20] shaileshtayde commented on #23
@NagmaKadiri as mentioned in issue #15, this needs to be addressed.

[2022-03-20 01:22] shaileshtayde commented on #24
@shivmishra Please add resp. permission for template/file so resp. user can only access and make comment on the same.

[2022-03-20 01:31] shaileshtayde commented on #25
@shivmishra As mentioned in issue #14
we'd need to implement permission check in GetFeedbackCommentForItem API + commenthistory.aspx.cs for resp. file/template id.
Also, please confirm if comment can be done to any logged-in user for any item or only accessible one?

[2022-03-20 01:35] shaileshtayde commented on #26
@shivmishra related to issue #25. Please confirm.

[2022-03-20 01:42] shaileshtayde commented on #27
@shivmishra As of now, use can access the contact list even if the list created in the same company.
![image](https://user-images.githubusercontent.com/6465652/159144428-60e0fcbf-e3b2-4e53-8090-a49ba7360ce0.png)

@shivmishra @prashantjadhav92 @sunrao Please confirm if this should have the same check?
@cphillips83 fyi

[2022-03-21 19:08] prashantjadhav92 opened #34 "#1417610 XSS via image alt name"
Severity: Medium

1. login and upload any image in /#gallery/banner/images
2. set alt name to the XSS payload, "xss onmouseover='alert("stored xss via image alt attribute")'"
3. set this image as logo in company profile (/#user/profile/)
4. upload any video on /#gallery/videos
5. click Preview the video, move mouse over the company logo and see XSS executed

[2022-03-21 19:14] prashantjadhav92 opened #35 "#1419815 XSS via organization website URL"
1. go to profile page, and specify website URL with XSS payload,
e.g. https://example.com'onmouseover='alert("xss via website url input")
2. go to any created by the partner page, and in the footer there will be link to this website
3. move mouse over the link and see payload executed

This has been fixed but it can be bypassed
e.g. with the following payload: https://google.com/?test' onMouseDown

[2022-03-21 19:16] prashantjadhav92 opened #36 "#1424730 XSS via company name"
1. It is possible to set company name on /api/SaveOrganization, in field “name”, e.g. using the following payload:
test\" onload=\"alert('xss via company name')\"
2. When company name is changed,
go to /#user/profile/ -> Company and set Company logo
3. Save profile
4. Open any video preview and see XSS executed

[2022-03-21 19:20] prashantjadhav92 opened #37 "#1435486 Two IDOR allows to dump all [admins, customers, users] credentials."
1. Link twitter account to any other user https://partners.acronis.com/#communicate/social
2. Create a message with the content E.g. [variable field="##user.Password##" /] and link it to a user
3. publish the message. The tweet will have the user hash

Additional details from client:
go to https://partners.acronis.com/#communicate/social and press create. A form will appear. In the form there is a

[2022-03-21 19:36] prashantjadhav92 opened #38 "#1444021 Missing session invalidation on password change"
There is no session invalidation on password change. Steps to reproduce:
- Login to your account in browser1
- In browser2 change the password for this account
- Go to browser1 and see that session is still active

[2022-03-22 07:44] shivmishra commented on #14
@sunrao this is fixed here ask someone to test
https://github.com/MindMatrix/AMP/pull/48276

[2022-03-22 07:44] shivmishra commented on #16
@sunrao this is fixed here ask someone to test
https://github.com/MindMatrix/AMP/pull/48276

[2022-03-22 07:45] shivmishra commented on #24
@sunrao @shaileshtayde  this is fixed here ask someone to test
https://github.com/MindMatrix/AMP/pull/48276

[2022-03-22 07:45] shivmishra commented on #25
@sunrao @shaileshtayde  this is fixed here ask someone to test
https://github.com/MindMatrix/AMP/pull/48276

[2022-03-22 07:47] shivmishra commented on #26
@sunrao @shaileshtayde  this is fixed here ask someone to test
https://github.com/MindMatrix/AMP/pull/48276

[2022-03-22 12:24] shivmishra commented on #28
@sunrao @shaileshtayde this is fixed here ask someone to test
https://github.com/MindMatrix/AMP/pull/48276

[2022-03-22 12:25] shivmishra commented on #27
@sunrao @shaileshtayde this is fixed here ask someone to test
https://github.com/MindMatrix/AMP/pull/48276

[2022-03-23 14:00] PriyankaBorunde commented on #10
@sunrao @shivmishra I have fixed the security issue for sharing in the below branch.
https://dvl-security-sharedata.amp.vg/

[2022-03-23 14:08] shivmishra commented on #10
@sunrao @shaileshtayde this should be tested with sharing of data to different scenario like users/organizations/groups

[2022-03-23 14:11] sunrao commented on #10
@shivmishra Is this for sharing of the templates?

[2022-03-23 14:23] shivmishra commented on #10
not only templates but for many
TEMPLATES | PROJECTTYPES | CAMPAIGNS | DRIP_CAMPAIGN |CASETYPES |ASSETTYPES | SOLUTIONTYPES | IMAGES | DOCUMENTS | VIDEOS | SOCIAL_TEMPLATES | CALENDAREVENTS | COMPANY | TRACKINGLINKS | DRIP_TEMPLATES

we just handled security things not any feature changes so just should be verified any one or two types

[2022-03-24 02:34] sunrao commented on #26
@shivmishra Mention the pages to be tested

[2022-03-24 02:35] sunrao commented on #25
@shivmishra Mention the pages to be tested

[2022-03-24 02:35] sunrao commented on #28
@shivmishra Mention the pages to be tested

[2022-03-24 02:36] sunrao commented on #27
@shivmishra Mention the pages to be tested

[2022-03-24 02:36] sunrao commented on #24
@shivmishra Mention the pages to be tested

[2022-03-24 02:37] sunrao commented on #14
@shivmishra Mention the pages to be tested

[2022-03-24 02:41] sunrao commented on #17
@shaileshtayde Only those created by ownself can be deleted

[2022-03-24 05:05] YogeshRevclerx opened #39 "Email Template>> In List View, Thumbnail image is not displyed properly on hover."
URL:- mm.amp.vg
User:- Yogesh

STR

1. Setup>> Asset Management>> Templates>> Click On Email Template tab.
2. Now Click on List view>> Hover the pointer on the thumbnail of the template and observe the image in the tooltip.

**Actual Result:-** After Hovering on the thumbnail, the thumbnail image does not fully display.

![image](https://user-images.githubusercontent.com/92095999/159844462-8248dcd

[2022-03-24 05:08] sunrao commented on #39
@Vish-Patil Pl. verify if we are displaying 200x200 or 300x300 thumbnail?

[2022-03-24 05:20] sunrao commented on #10
@Apeksha1 Pl. test this for Templates, Opportunities

[2022-03-24 05:21] sunrao commented on #9
@piyushh Pl. test this on Main

[2022-03-24 05:32] shivmishra commented on #25
its a feedback and rating history page opening from templates/ files

[2022-03-24 05:33] shivmishra commented on #24
its a feedback and rating graph display in many grids

[2022-03-24 05:34] shivmishra commented on #26
its a common api calling from every grid to add comments

[2022-03-24 05:35] shivmishra commented on #27
its a list info page but permission is common so check diffrent types of lists info to open info page

[2022-03-24 05:35] shivmishra commented on #28
its saving of list info page

[2022-03-24 05:37] shivmishra commented on #14
its a common rating to rate from diffrent grids

[2022-03-24 09:15] Apeksha1 commented on #10
@PriyankaBorunde : I have noticed that on Template Sharing page data is not getting saved. Can you please have a look.

User: Roger
After giving permission to a user
![image](https://user-images.githubusercontent.com/20540268/159882816-86e4116d-bb10-4d90-ad6b-21af077284c4.png)
Reopen the Sharing page
![image](https://user-images.githubusercontent.com/20540268/159882987-d3921025-8c46-4549-bb4a-a7b3

[2022-03-24 14:50] shivmishra commented on #12
should be fixed here https://github.com/MindMatrix/AMP/pull/48326

[2022-03-24 14:50] shivmishra commented on #11
should be fixed here https://github.com/MindMatrix/AMP/pull/48326

[2022-03-24 15:12] shivmishra commented on #13
save user should be tested

[2022-03-24 15:12] shivmishra commented on #11
save organization should be tested

[2022-03-24 15:13] shivmishra commented on #12
save organization should be tested

[2022-03-25 08:22] YogeshRevclerx commented on #16
@shivmishra I have tested this on the branch. It has been fixed and One user can not able to delete an email of another organization with an Email blast id.

[2022-03-25 08:27] shivmishra commented on #16
@YogeshRevclerx if its working then you have to close the issue and signoff in the PR

[2022-03-25 20:34] prashantjadhav92 commented on #16
@shivmishra @YogeshRevclerx is this fix released?

Please mark the issues closed only when the fix is released else it will cause confusion and I won't know when to send an update to the clients.

[2022-03-28 07:56] shivmishra commented on #16
its not released. will take care from next time

[2022-03-28 11:06] PriyankaBorunde commented on #10
@Apeksha1 Kindly check now

[2022-03-28 14:35] prashantjadhav92 commented on #30
@shaileshtayde @tajindersharma @cphillips83 this is a critical issue marked by client and has been pending for update since past few weeks. Can we please have this one looked into on priority?

[2022-03-28 20:46] prashantjadhav92 commented on #8
@shaileshtayde I have verified the case is not shared between these users. Nither they have the access to share it.

Case ID is 05398129

[2022-03-29 05:26] shaileshtayde commented on #8
@HareshKedar Please confirm the same

[2022-03-29 07:35] Apeksha1 commented on #10
@PriyankaBorunde : Now sharing is getting saved only for User tab and not for other tabs. Please look into it.

![image](https://user-images.githubusercontent.com/20540268/160558435-92c9ce7f-f5fd-40ac-ac52-184106dbff1b.png)

[2022-03-29 09:36] PriyankaBorunde commented on #10
@Apeksha1 Kindly check now

[2022-03-29 10:31] Apeksha1 commented on #10
@PriyankaBorunde : Working as expected. Kindly send this PR for release.

[2022-03-29 18:31] sunrao commented on #11
@YogeshRevclerx Pl. test this

[2022-03-29 18:33] sunrao commented on #12
@Apeksha1 Pl. test this

[2022-03-29 18:34] sunrao commented on #13
@YogeshRevclerx Pl. test this

[2022-03-29 18:34] sunrao commented on #14
@Apeksha1 Pl. test this

[2022-03-29 18:35] shaileshtayde commented on #17
@sunrao Please have this tested on main branch.

[2022-03-30 12:35] YogeshRevclerx commented on #11
@shivmishra sir, the issue is still there as I am able to change the Profile image and signature image of a user through "/api/SetProfileData" using the image id from a different org.

![image](https://user-images.githubusercontent.com/92095999/160834646-c4af666f-6292-4b95-bb35-60d5e7718915.png)

![image](https://user-images.githubusercontent.com/92095999/160834895-1311721c-f0be-4da5-8c2c-546e496c

[2022-03-30 12:39] YogeshRevclerx commented on #13
@shivmishra sir, the issue is still there as I am able to change the signature image of a user through "/api/SaveUser" using the image id from a different org. I can also change the Profile image as well using the same method.

![image](https://user-images.githubusercontent.com/92095999/160835816-97044e19-2c3e-4821-9dac-50d09c47f644.png)

![image](https://user-images.githubusercontent.com/92095999

[2022-03-31 07:34] sunrao commented on #28
@Apeksha1 Pl. test this

[2022-03-31 07:35] sunrao commented on #27
@Apeksha1 Give a run

[2022-03-31 07:36] sunrao commented on #25
@YogeshRevclerx Pl. test this

[2022-03-31 07:36] sunrao commented on #26
@YogeshRevclerx Pl. test this

[2022-03-31 07:37] sunrao commented on #17
@Apeksha1 Pl. test this on the Main branch

[2022-03-31 07:38] sunrao commented on #24
@YogeshRevclerx Pl. test this

[2022-03-31 08:40] shivmishra commented on #13
@YogeshRevclerx can u verify again

[2022-03-31 08:40] shivmishra commented on #11
@YogeshRevclerx can u verify again

[2022-03-31 09:28] YogeshRevclerx commented on #11
@shivmishra Sir, still not resolved.

[2022-03-31 09:33] YogeshRevclerx commented on #13
@shivmishra Sir, still able to change both the Signature image and Profile image.

[2022-03-31 11:55] Mahimapatil commented on #21
@shaileshtayde PR https://github.com/MindMatrix/AMP/pull/48417

[2022-03-31 14:13] Apeksha1 commented on #28
@shivmishra : Working as expected. Closing this issue.
#NOTE: Tested using POSTMAN

[2022-03-31 15:04] YogeshRevclerx commented on #26
@shivmishra I have tested it on the branch and it has been fixed. User cannot update the comments of other organization's documents and templates.

![API 1](https://user-images.githubusercontent.com/92095999/161087134-76036e7f-4ae1-4cf6-8ef0-84b24807abf0.png)

[2022-04-01 12:24] Apeksha1 commented on #12
@shivmishra : I am unable to change Organization Logo on this branch even when I tried doing it manually. Can you please have  a look.

[2022-04-01 13:19] shivmishra commented on #14
@Apeksha1 why u checking in security-tracer-2 branch??

[2022-04-01 13:22] Apeksha1 commented on #17
@sunrao : Tested on Main branch - "User can not delete activity created by different user"

[2022-04-01 13:36] shaileshtayde commented on #17
@prashantjadhav92 This will go in next release. i.e. 1st April

[2022-04-01 17:08] YogeshRevclerx commented on #24
@shivmishra I have tested this and this is working as expected.

![Untitled 1](https://user-images.githubusercontent.com/92095999/161310135-c7f2c93e-f9b2-4690-985f-6fbdb1d05375.png)

[2022-04-04 06:32] Apeksha1 commented on #14
@shivmishra : Working on expected on  https://dvl-issue-security-tracker.amp.vg/#corporatemarketing branch.

[2022-04-04 07:03] YogeshRevclerx commented on #16
@shivmishra Sir i am still able to delete the email from another organization.
Email Blast id:- 6624
User:- Sharmayug75

[2022-04-04 10:11] shivmishra commented on #16
should be fixed now

[2022-04-04 12:29] Apeksha1 commented on #12
@shivmishra : Working as expected.

[2022-04-04 12:47] Apeksha1 commented on #27
@shivmishra : Working as expected.

[2022-04-04 12:47] YogeshRevclerx commented on #25
@shivmishra I have tested this and the link containing other organization's document id is not accessible as it is showing the following error

![image](https://user-images.githubusercontent.com/92095999/161545645-552a7faa-62e2-41ec-8f9d-9a78cecae257.png)

[2022-04-04 13:06] Apeksha1 commented on #12
@shivmishra : User is still able to set any image even owned by other Organization as Organization Photo.

[2022-04-04 13:10] shivmishra commented on #25
ok, means that is fixed

[2022-04-04 14:47] YogeshRevclerx commented on #16
@shivmishra It has been fixed.

![image](https://user-images.githubusercontent.com/92095999/161569652-e29a0f9d-e185-4a19-979c-4fcb4d261a9c.png)

[2022-04-04 21:28] prashantjadhav92 commented on #4
@shaileshtayde Acronis has claimed this to be reproducible. Please confirm again.

[2022-04-04 21:29] prashantjadhav92 commented on #5
@shaileshtayde Acronis has claimed this to be reproducible. Please confirm again.

[2022-04-04 21:31] prashantjadhav92 commented on #6
@shaileshtayde Acronis has mentioned that this is possible due to this vulnerability. Here are more details on it:

**Vulnerable endpoint: /api/SubmitCaseMessagesForUser. In POST request to this endpoint caseid field might be changed, which will allow to send message to case not related to current user (e.g. created in another organization)**

[2022-04-05 10:14] shaileshtayde commented on #6
@prashantjadhav92 we've required permission check added as I mentioned you the criteria above.
Please get the users using which they have tested this one. So we can confirm the same at our end.

[2022-04-05 10:16] shaileshtayde commented on #21
@prashantjadhav92 This is fixed and scheduled to release on 7th and for Acronis on 11th

[2022-04-05 10:17] shaileshtayde commented on #5
@Vish-Patil Please look into this.

[2022-04-05 11:23] shaileshtayde commented on #35
@Vish-Patil can you please see if we can get rid of this one.

[2022-04-05 11:24] shaileshtayde commented on #36
@shivmishra we've fixed this one already but have this confirmed again.

[2022-04-05 11:25] shaileshtayde commented on #37
@tajindersharma I think, this is fixed already, please confirm. If not, please have this fixed.

[2022-04-05 11:27] shaileshtayde commented on #30
@tajindersharma Please confirm.
If you need to make any business decision, please have this discussed with  @sunrao about roles/permissions

[2022-04-05 12:41] shivmishra commented on #13
@YogeshRevclerx plz verify again

[2022-04-05 12:42] shivmishra commented on #12
plz verify again

[2022-04-05 12:44] shivmishra commented on #11
plz verify again

[2022-04-05 18:24] YogeshRevclerx commented on #13
@shivmishra It looks like it has been fixed as the User is not able to change the signature image through API. But it is also not able to change it manually. The newly added image is not getting saved when change manually.

![image](https://user-images.githubusercontent.com/92095999/161823871-db727f30-f1df-402d-95e5-bf7c8e100657.png)

![image](https://user-images.githubusercontent.com/92095999/161

[2022-04-05 18:45] YogeshRevclerx commented on #11
@shivmishra Not able to change Profile image and Signature image through API and Manually as well.

[2022-04-06 09:20] Apeksha1 commented on #12
@shivmishra : I am unable to change the Organization Logo through API

[2022-04-06 13:54] tajindersharma commented on #30
@shaileshtayde I have fixed this in https://dvl-security-issue-30.amp.vg/
Can you please get this tested once?

[2022-04-06 18:01] shaileshtayde commented on #30
@sunrao Please do the needful

[2022-04-07 08:37] sunrao commented on #30
@Rohitharidas Pl. test this on the branch

[2022-04-07 13:04] Rohitharidas commented on #30
@tajindersharma Please send PR for release

[2022-04-07 15:23] shivmishra commented on #13
@YogeshRevclerx plz check again

[2022-04-07 15:24] shivmishra commented on #11
@YogeshRevclerx plz check again

[2022-04-07 18:19] YogeshRevclerx commented on #13
@shivmishra Sir, not resolved. Issue is still there.

[2022-04-07 19:21] YogeshRevclerx commented on #11
@shivmishra Sir, issue is still the same.

[2022-04-08 05:30] YogeshRevclerx opened #40 "Email Editor>> Brand Palettes are not getting displayed in Email editor."
### Issue 1

Url:- https://dvl-main.amp.vg/#setup/templates/templates
User:- Yogesh

1. Setup>> Asset Management>> Templates>> Email Tab>> Click on create>> Select a Brand and its Theme in Setting.

![image](https://user-images.githubusercontent.com/92095999/162364115-3ce98a61-a175-4d2a-ac5d-48512297a3c3.png)

2. On Editor, Click on Email setting on the black bar>> Click on Email BG color icon>> C

[2022-04-08 11:37] PriyankaBorunde commented on #10
@Apeksha1 Kindly test the sharing for all the pages once again

[2022-04-09 07:03] Apeksha1 commented on #12
@shivmishra : Working as expected.

[2022-04-11 07:31] Apeksha1 commented on #10
@PriyankaBorunde : Working as expected.

[2022-04-12 04:43] YogeshRevclerx commented on #11
@shivmishra After the fix, this is working as expected. Please send this PR for Release.

[2022-04-12 04:45] YogeshRevclerx commented on #13
@shivmishra Sir, working as expected now. Please send this PR for release.

[2022-04-13 15:09] prashantjadhav92 commented on #30
@tajindersharma when can we expect this to be released?

[2022-04-13 17:42] tajindersharma commented on #30
@prashantjadhav92  This will be done in this week's release

[2022-04-14 06:49] YogeshRevclerx opened #41 "8x8 Security issue - Alert message is apearing again in the media part of Email."
URL:- https://mm.amp.vg/#communicate/email
User:- Yogesh

STR

Communicate>> Email>> Go with blank template>> On editor, Add text object>> Add alert message on SVG into it.>> Save it and click on Preview.
![image](https://user-images.githubusercontent.com/92095999/163329333-35155aa5-8c6d-4d8d-8282-b9d874ed9e4c.png)

**Actual Result:-** The alert message will appear after clicking on the preview.

[2022-04-14 06:56] sunrao commented on #41
@YogeshRevclerx Once clear all cache and cookies and check on LIVE, if it is working on Main and if still, the issue exists then ask @Vish-Patil to look into it

[2022-04-14 06:56] sunrao commented on #41
@Vish-Patil Can you pl check this?

[2022-04-14 07:00] YogeshRevclerx commented on #41
@sunrao sir, I have checked it after clearing the cache and cookies, still showing the same.

[2022-04-14 11:06] Vish-Patil commented on #41
main has strictxmlsanitization set as true, so issue will not come in main.
please check in any other branch
Issue is resolved in this branch dvl-security-41.amp.vg, please get it tested once its build successfully.

[2022-04-18 05:06] YogeshRevclerx commented on #41
@Vish-Patil Sir, This message is appearing on Send email page. but in the editor and its preview, it is working fine.

![image](https://user-images.githubusercontent.com/92095999/163755212-d9f36b8d-028d-422d-9dbf-60b52dcb659e.png)

[2022-04-19 05:42] NagmaKadiri commented on #23
@shaileshtayde PR - #48700 created for testing.

[2022-04-19 05:42] NagmaKadiri commented on #15
@shaileshtayde PR - #48700 created for testing.

[2022-04-19 17:38] YogeshRevclerx commented on #41
@Vish-Patil after commit, I have checked this on the branch. and it is working as expected. Please send this PR for release.

![image](https://user-images.githubusercontent.com/92095999/164062818-0d88c57e-7f8f-4639-9686-c46bcc92f304.png)

[2022-04-20 13:27] prashantjadhav92 commented on #30
@tajindersharma @shaileshtayde is this released on 8x8 prod?

[2022-04-26 15:17] #41 closed

[2022-05-16 08:56] tajindersharma commented on #37
@Rohitharidas Can you please confirm this once?

[2022-05-17 15:53] prashantjadhav92 opened #42 "[VULN-1099] SSRF lead to LFI on refer.8x8.com SEC-4603"
Local files on the Windows machines can be accessed via an LFI.
Details as attached.
[[#VULN-1099] [H1] SSRF lead to LFI on refer.8x8.com (Mind Matrix).pdf](https://github.com/MindMatrix/SecurityTracker/files/8709732/VULN-1099.H1.SSRF.lead.to.LFI.on.refer.8x8.com.Mind.Matrix.pdf)

[2022-05-19 15:51] prashantjadhav92 opened #43 "#1436199 Stored XSS via customer company name on Deal page"
- create a new deal, create a new customer, put xss" onmouseover="alert('xss via deal registration') as customer company name
- POC https://partners.acronis.com/#manage/leads/leadregistered

[2022-05-19 15:58] prashantjadhav92 opened #44 "#1451724 IDOR allows to copy other organizations’ email drip campaigns, /api/copydrip"
In the request to /api/copydrip (sent by user from <organization1>)  it is possible to specify drip ID of drip campaign from any other organization. The drip campaign will be copied to <organization1> and its content will be accessible

[2022-05-19 15:59] prashantjadhav92 opened #45 "#1451564 IDOR allows to copy other organizations’ social media post/drip, /api/CopyPublishing"
In the request to /api/CopyPublishing (sent by user from <organization1>)  it is possible to specify media ID of media from any other organization. It will be copied to <organization1> and its content will be accessible

[2022-05-19 15:59] prashantjadhav92 opened #46 "#1450085 IDOR allows to copy other organizations’ social media post/drip, /api/DeletePublishings"
In the request to /api/DeletePublishings it is possible to specify media ID of media from any other organization. This media will be deleted

[2022-05-19 16:00] prashantjadhav92 opened #47 "#1451676 IDOR allows to copy other organizations’ drip campaign, /api/deletedrip"
In the request to /api/deletedrip it is possible to specify drip ID of drip campaign from any other organization. This drip campaign will be deleted as a result

[2022-05-19 16:01] prashantjadhav92 opened #48 "#1452207 (1) IDOR allows to add messages to other organizations’ drip, /api/SavePublishingMessage"
In the request to /api/SavePublishingMessage it is possible to specify publishingid to drip ID from any other organization. As a result, it is possible to add publishing messages to drip in other organizations.

[2022-05-19 16:01] prashantjadhav92 opened #49 "#1452207 (2) IDOR allows to publish other organizations’ drip campaign, /api/RestartPublishing"
In the request to /api/RestartPublishing it is possible to specify publishingid to drip ID from any other organization. As a result, it is possible to publish drip from other organizations. Together with #1452207
(1) it might be possible to publish messages on behalf of other organizations in their social media (assuming social media was configured in drip)

[2022-05-19 16:08] prashantjadhav92 opened #50 "#1476406 IDOR allows to read comments of documents from other organizations, /api/GetFeedbackCommentForItem"
In the request to /api/GetFeedbackCommentForItem it is possible to change itemid to the ID of the document located in another organizations and access the comments related to this document

[2022-05-19 16:15] prashantjadhav92 opened #51 "#1478619, #1478617 IDOR on /api/SaveUser in “photoid” and “portfolio” fields, allows access to files from other organizations"
Similar to #1478620, but here in “photoid” and “portfolio” fields. In the  request to /api/SaveUser it is possible to specify file id in these fields. File might be located in any organization. As a result, user will be able to access this file

[2022-05-19 16:15] prashantjadhav92 opened #52 "#1449932 Stored XSS using file renamin"
It is possible to change uploaded file extension to .svg, which leads to Cross-Site Scripting attack possibility. For example, the following file was uploaded: https://partners.acronis.com/file/ccweldtavhlnc/svg.txt, if extension is changed to .svg, XSS payload will be executed: https://partners.acronis.com/file/ccweldtavhlnc/svg.svg

[2022-05-19 18:01] prashantjadhav92 opened #53 "SEC-4356 Email change without password confirmation on /api/SaveUser"
It is possible to change email without password confirmation using API endpoint /api/SaveUser. Using this endpoint it is possible to change email address for users in the same organization (including currently logged in user)

Steps to Reproduce:
* Send POST request to /api/SaveUser with the following body
{"userid":<VICTIM_USER_ID>,"groups":[],"json":{"email":"<ATTACKER_EMAIL>"},"cfjson":{}}

Fix

[2022-05-19 18:03] prashantjadhav92 opened #54 "SEC-4427 Account takeover via IDOR using API endpoint /api/SendTemporaryPassword"
Account takeover via IDOR using API endpoint /api/SendTemporaryPassword, since this endpoint allows to send password reset link for existing users in the same organization. Additionally, this is not possible in UI

Steps to Reproduce:

Send POST request to /api/SendTemporaryPassword with the following body

{"userid":<USER_ID>,"sendemailto":1,"recipient":"","linkid":0,"linktype":2,"ismultipleconta

[2022-05-19 18:05] prashantjadhav92 opened #55 "SEC-4357 Email change without password confirmation"
It is possible to change email without password confirmation. As a result, such issues as XSS can lead to account takeover

Steps to Reproduce:
* Send POST request to /api/SetProfileData with the following body
{"json":{"email":"<NEW_EMAIL_ADDRESS>"},"notifymebyemail":false,"language":8}

Fix: require password confirmation for email change

[2022-05-19 18:07] prashantjadhav92 opened #56 "SEC-4426 Same organization account takover via IDOR vulnerability (/api/ConvertPartnerToUser)"
It is possible to takeover accounts in the same organization due to IDOR vulnerability in /api/ConvertPartnerToUser

Steps to Reproduce:
In POST request to API endpoint /api/ConvertPartnerToUser it is possible to specify userid of any user in the same organization and change email address to your own.

{"userid":<VICTIM_USER_ID>,"syncusername":null,"groups":[],"json":{"email":"<ATTACKER_CONTROLLED

[2022-05-19 18:23] prashantjadhav92 commented on #37
@Rohitharidas attached is the video file with the steps.

https://user-images.githubusercontent.com/31324885/169372955-3479cf7e-9629-4f36-867e-3b293fe8dfb4.mp4

[2022-05-20 17:29] tajindersharma commented on #30
Yes, it should be on 8x8 prod

[2022-05-23 21:01] prashantjadhav92 opened #57 "SEC-3777 Stored XSS in web banners customization, via "Google script" field"
Stored XSS via HTML page creation. This issue was already reported in support ticket 74939 (#1406096), but was not fully fixed, since vulnerable field was just hidden on frontent.

Steps to reproduce:
    a. Open customization for any web banner and go to Web Banner Editor -> Settings -> Meta Information
    b. Open browser Developer Tools -> Inspector. In Inspector search for "Scripts and Styling

[2022-05-23 21:05] prashantjadhav92 opened #58 "SEC-4354 XSS via file extension change"
XSS via file extension change

Steps to reproduce:
1. Login in go to /#gallery/documents/assets
2. Upload text file with the following payload:
3.
<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg">
  <polygon id="triangle" points="0,0 0,50

[2022-05-25 18:40] piyushh commented on #9
@sunrao +1

[2022-05-26 21:11] prashantjadhav92 opened #59 "SEC-3854 XSS in Landing Pages"
It is possible to insert scripts in Landing Pages during their customization. This issue was already reported, but was not fully fixed, since the vulnerable field was just hidden on the frontend.

Steps to reproduce:
    a. Open customization for any landing page and go to Landing page Editor -> Page Settings -> Meta Information
    b. Open browser Developer Tools -> Inspector. In Inspector search

[2022-05-27 18:24] prashantjadhav92 opened #60 "User without "user manage" role can change information about other users"
User without "user manage role" (no access to user creation, etc) can change information about other users. Probably, it is also possible to create users, etc.

Steps to Reproduce:
Create user without "user manage" role. In UI for such users user management sections will not be visible. However, it is still possible to make requests to change information about users, and probably to create new use

[2022-05-31 14:18] prashantjadhav92 opened #61 "SEC-4596 Endpoint allows to access all customers files. [/gallery/images/[File_ID]/edit/edit]"
[File_ID] is numeric and easy to guess. An attacker can access to all files by guessing [File_ID].

Steps To Reproduce:
Login
Visit this URL https://partners.acronis.com/gallery/images/[File_ID]/edit/edit
Type any file id in URL, then click view page source.
The direct URL to download the file is rendered ("original": "https://partners.acronis.com/....)

[2022-06-01 15:55] prashantjadhav92 commented on #42
@shaileshtayde 8x8 is asking for an update on this point. Can you please get this checked on priority?

[2022-06-03 17:58] prashantjadhav92 opened #62 "SEC-3863 H1#1424162 IDOR allows to dump all [admins, customers, users] credentials."
Steps To Reproduce
1. Login with your account https://partners.acronis.com/login.
2. Visit this page https://partners.acronis.com/#internalplaybook/45490.
3. Click on ==Email Campaign== and ==Overcoming MSP tool==.

4. Click edit and replace the content with this payload
{{
Email:##user.Email##
Password:##user.password##
}}
5. Click ==Save== and ==Preview==, intercept the request to get preview li

[2022-06-03 17:59] prashantjadhav92 commented on #62
@cphillips83 @shaileshtayde this is a critical issue.

[2022-06-03 19:24] prashantjadhav92 opened #63 "SEC-3976 H1#1452207 Two IDOR allows to publish posts on customers social media pages."
Summary
Hello team,
I found two IDOR Vulnerability allows to posting posts on customers social media pages,
In short, through these two IDOR, you can modify the old social drip of customers and republish them.

Steps To Reproduce
1. Login.
2. Visit this page https://partners.acronis.com/#manage/campaigns/socialdrip.
3. Click on any social drip and click on the message and write any message.
4. Int

[2022-06-03 21:52] prashantjadhav92 opened #64 "SEC-3884 H1#1427519 IDOR allows to dump all [admins, customers, users] credentials."
Summary
Hello, I found an IDOR vulnerability that allows to get users data from the database with an ==publickey== (public key is user id but encrypted).
The end point :[https://partners.acronis.com/html/[template_id]/0-1/index.html?userid=[publickey|https://partners.acronis.com/html/[template_id]/0-1/index.html?userid=[publickey]].

Steps To Reproduce
1.Login with your account https://partners.ac

[2022-06-03 22:07] prashantjadhav92 commented on #64
@cphillips83 @shaileshtayde this is another priority security point.

[2022-06-03 22:16] prashantjadhav92 opened #65 "SEC-3962 H1#1435486 Two IDOR allows to dump all [admins, customers, users] credentials."
Summary
Hello, I found two IDOR vulnerability allows to get users data from the database.
The first IDOR allows to adding your Twitter account to any user.
The second IDOR allows to publish posts to any user's account.

Steps To Reproduce
###The first IDOR
1. Login with your account https://partners.acronis.com/login.
2. Visit this page https://partners.acronis.com/#user/profile/
3. Intercept the

[2022-06-03 22:19] prashantjadhav92 commented on #65
@cphillips83 @shaileshtayde this is critical.

[2022-06-03 22:23] prashantjadhav92 commented on #37
@cphillips83 @shaileshtayde @tajindersharma this is critical.

[2022-06-03 22:24] prashantjadhav92 commented on #65
@cphillips83 @shaileshtayde this is a duplicate of https://github.com/MindMatrix/SecurityTracker/issues/37
Closing this project.

[2022-06-06 20:46] prashantjadhav92 commented on #42
@shaileshtayde This has now been reported by Acronis too. Can we get an update on this?

[2022-06-08 12:57] prashantjadhav92 commented on #42
@cphillips83 @shaileshtayde can this be checked on priority as this issue has been reported by both Acronis and 8x8. The 8x8 client has asked for an update multiple times on this.
If we can atleast get an ETA that would be helpful.

[2022-06-08 13:00] shaileshtayde commented on #42
I'll review this today on priority. I was busy with tickets + Lenovo, hence
didn't get a chance to look into this.

Shailesh

On Wed, Jun 8, 2022 at 6:27 PM prashantjad ***@***.***> wrote:

[2022-06-09 20:29] #28 closed

[2022-06-09 20:30] #19 closed

[2022-06-10 05:23] PuneetRevclerx commented on #55
@shaileshtayde A normal user does not have any option available on UI to change his Email id in View Profile. But user can change his email id by following the above mentioned steps.

Originally user's email id was "ishantrevclerx@mailinator.com"
![Normal User email](https://user-images.githubusercontent.com/102346181/172995673-0c7c1892-5bbd-448d-ba17-faea1982e39d.png)

After following the above m

[2022-06-10 05:38] shaileshtayde commented on #55
@shivmishra I believe, only SA user has privilege to change the email id of his company user. So, when email address is changed, we'd need to either check for SA when email is changed or remove the email address from this API, if we'd need to

[2022-06-10 06:34] IshantRevclerx commented on #42
@shaileshtayde Sir I have Checked above issue and by following the mention steps user can access files on local machine via LFI.

![8X8 ScreenShoot](https://user-images.githubusercontent.com/92088937/173005047-a1c5b5e1-fa82-4b85-b1c5-2f759da32e68.png)

[2022-06-10 07:24] PuneetRevclerx commented on #59
@shaileshtayde sir, I have verified the above mentioned issue on "dvl-main" and "mm live":

**Point 1:** It is possible to remove style="display: none;" for "Scripts and Styling" and see the field on UI which is otherwise hidden on both  "dvl-main" and "mm live".

**Point 2:** After inserting the script in "Scripts and Styling" filed, if we open the link:

- On "dvl-main" alert message does not sh

[2022-06-10 07:36] IshantRevclerx commented on #57
@shaileshtayde Sir Same tickets is alredy created under - #59

We have alredy verified #59.

[2022-06-10 12:30] IshantRevclerx commented on #48
@shaileshtayde sir I have Checked above issue and user can add any publishing Massage to drip in other organization.

![API Test05](https://user-images.githubusercontent.com/92088937/173064436-62251158-c7e2-4b63-a624-4b30af633394.png)

[2022-06-13 12:59] IshantRevclerx commented on #49
@shaileshtayde I have Checked above issue, this issue exist.
It is possible to publish drip from other organizations.
![Drip Status](https://user-images.githubusercontent.com/92088937/173358898-08f01779-57b3-436c-b45a-5619042d1a94.png)
After Changing the Status via API.
![Drip Status-2](https://user-images.githubusercontent.com/92088937/173358957-a53fd855-f856-4499-80c4-193c9d8b064e.png)

[2022-06-13 13:20] IshantRevclerx commented on #46
@shaileshtayde sir , I have Checked above Issue. this issue is exist.
If one user in other organization that can be delete the drip of other organization.
![Delete Drip-1](https://user-images.githubusercontent.com/92088937/173362266-ec4b03d5-719e-4d4a-bd49-736d4ea136fa.png)

![Delete Drip-2](https://user-images.githubusercontent.com/92088937/173362463-0820b07f-5987-4c24-9e9b-a8d3cc9e5396.png)

[2022-06-14 04:51] PuneetRevclerx commented on #47
@shaileshtayde Sir, I have checked the above issue and it is possible for a user to delete a drip of any user from other organization by only changing the drip id in the payload of "/api/deletedrip".

![Drip available](https://user-images.githubusercontent.com/102346181/173495490-ee8ec9b4-b2d2-4259-9c4c-271866914f1f.png)

Test template drip was deleted using drip id by other user.
![Drip deleted](

[2022-06-14 05:43] PuneetRevclerx commented on #56
@shaileshtayde Sir, I have check the above mentioned issue. By using "/api/ConvertPartnerToUser" API, user can change the email address of **any user in the same organization as well as in any other organization**. Along with email id, user can also change username, first name, last name etc. as well.

![Old user data](https://user-images.githubusercontent.com/102346181/173501490-07a876e2-4ef7-4f4

[2022-06-14 06:19] IshantRevclerx commented on #53
@shaileshtayde Sir, I have Check above mentioned issue. it is possible for normal user to change Email ID of any user for same Organization, even though Email ID field is disabled for normal user
![Save Email Id -2](https://user-images.githubusercontent.com/92088937/173506665-f9a46475-196d-4443-9a6c-eeeba3315aa5.png)
After Changing the Email address.
![Save User-3](https://user-images.githubuserco

[2022-06-15 05:35] IshantRevclerx commented on #51
@Shailesh Sir, I have check above mention issue, User is only able to access the documents from the other organization and not been able to access the images.
UserName- puneet security
Company Name- Automation Tester
![portfolio-3](https://user-images.githubusercontent.com/92088937/173747069-0c2a9718-8b6c-4d58-92ae-ca745779f5d1.png)

The Document added in the portfolio in user is not available in

[2022-06-15 06:18] PuneetRevclerx commented on #45
@shaileshtayde Sir, I have checked the above mentioned issue and only a super admin user can copy the social drip of any user from other organization and not the normal user. There is no option available for the super admin user to copy social drip of a user from other organization on the UI but he can do so by following above mentioned steps.
User: puneet security
Company- Automation Tester

In t

[2022-06-15 06:42] IshantRevclerx commented on #44
@shaileshtayde Sir, I have checked the above mentioned issue and a super admin and Normal user can copy the social drip of any user from other organization and not the normal user. There is no option available for the super admin user to copy social drip of a user from other organization on the UI but he can do so by following above mentioned steps.
User: puneet security

![Email Drip-1](https://u

[2022-06-15 06:52] PuneetRevclerx commented on #38
@shaileshtayde Sir, I have checked the issue by following above mentioned steps and there is no session invalidation on password change.

[2022-06-16 06:50] PuneetRevclerx commented on #37
@shaileshtayde Sir, I have verified the above issue using Postman and Chrome extension "Postman Interceptor". User can add a twitter account to any user's account using his user id and also he can post on his behalf as well by intercepting the requests.
Users: puneet security and security ishant
Company: Automation Testers

[2022-06-16 07:21] IshantRevclerx commented on #54
@shaileshtayde Sir, I have Checked above mentioned issue and user can takeover any other user account in his organization as well as in any other  organization.
UserName : Security Ishant / Puneet Security
Temporary email sent  on 16-6-2022 to ishant.kshirsagar@revclerx.com
![Temprory Mail-1](https://user-images.githubusercontent.com/92088937/174014249-114aefb3-cd8a-4238-bbef-a2d31007e9ba.png)

An

[2022-06-16 14:46] IshantRevclerx commented on #63
@shaileshtayde Sir, I have Check above mention issue,it is possible for the user to publish message and restart a drip of a user in a other organization.
![Acronics-1](https://user-images.githubusercontent.com/92088937/174096497-a59e1525-28bd-4cd1-9376-4ddea4ca2a1b.png)

![Restart Acronics-1](https://user-images.githubusercontent.com/92088937/174096552-dd3f9937-6e93-43d2-8de8-24afdc15bd71.png)

[2022-06-16 15:21] PuneetRevclerx commented on #61
@shaileshtayde Sir, I have checked the above mentioned issue, user can download any image file of the users of any organization by using any file id in the URL.

User: shailesh.tayde@acronis.com

Image id 3856 is not of this user
![image](https://user-images.githubusercontent.com/102346181/174104185-f79e22d3-8df1-4e9c-9283-20776035e43c.png)

[2022-06-17 06:05] PuneetRevclerx commented on #50
@shaileshtayde Sir, I have checked the above mentioned issue and it is possible for a user to access the comments related to a document of a user in other organization by changing the item ID of the document in "/api/GetFeedbackCommentForItem".

Users: puneet and roger
Company: mindmatrix

[2022-06-17 08:16] shivmishra commented on #50
@PuneetRevclerx I cannot explain you, are these both users are Superadmin. do you know the accessibility level of Superadmin.
if you will check with these users you will get issue everywhere.
@shaileshtayde fyi both are superadmin users

[2022-06-17 09:03] PuneetRevclerx commented on #50
@shaileshtayde Ok sir

[2022-06-17 09:05] IshantRevclerx commented on #50
@shaileshtayde Ok sir will takecare of next time.

[2022-06-17 09:16] PuneetRevclerx commented on #47
Users: puneet security and security ishant (Both normal users)
Company- Automation Testers

[2022-06-17 09:23] IshantRevclerx commented on #44
Users: Puneet Security and Security Ishant (Both normal users)
Company- Automation Testers

[2022-06-17 09:46] IshantRevclerx commented on #51
Users: puneet security and security ishant (Both normal users)
Company- Automation Testers

[2022-06-17 09:50] IshantRevclerx commented on #53
Users: puneet security and security ishant (Both normal users)
Company- Automation Testers

[2022-06-17 09:56] PuneetRevclerx commented on #56
User: puneet security
Company: Automation Tester

[2022-06-17 10:17] shivmishra commented on #50
also don't check with users who have (user-> create & organization -> create) both. They are treated as Superadmin to get access data of company users.

[2022-06-17 10:25] PuneetRevclerx commented on #50
@shivmishra ok sir, now we are checking with a user who has user permission = delete and organizations_users & organization_profile both = view permission.

[2022-06-20 04:25] IshantRevclerx commented on #48
@shaileshtayde  Sir, The above issue is not for the Normal user.

[2022-06-20 04:27] IshantRevclerx commented on #49
@Shailesh Sir, The above Issue is not for the Normal user.

[2022-06-20 04:32] PuneetRevclerx commented on #50
@shaileshtayde Sir, the above issue not for the normal user.

[2022-06-20 04:39] PuneetRevclerx commented on #45
@shaileshtayde Sir, as mentioned above, the above issue is not for normal user.

[2022-06-20 04:43] IshantRevclerx commented on #46
@shaileshtayde  sir, The above Issue is not for Normal user.

[2022-06-20 05:35] shaileshtayde commented on #50
@prashantjadhav92 as @shivmishra & @PuneetRevclerx confirmed, these issues are not reproduceable for users having proper permissions.
@prashantjadhav92 Please confirm what users they are trying with? if it is _SuperAdmin_, the it will work.

[2022-06-20 05:52] shaileshtayde commented on #46
@prashantjadhav92 as @shivmishra & @PuneetRevclerx confirmed, these issues are not reproduceable for users having proper permissions.
@prashantjadhav92 Please confirm what users they are trying with? if it is SuperAdmin, it will work.

[2022-06-20 13:31] prashantjadhav92 commented on #46
@shaileshtayde Acronis is not using a super admin user to test this. I have requested them for the steps.

[2022-06-21 07:20] IshantRevclerx commented on #30
@prashantjadhav92 Sir,Verified above issue and its Resolved now.

[2022-06-21 08:17] PuneetRevclerx commented on #13
@prashantjadhav92 Sir, I have verified above issue and its resolved now.

[2022-06-21 08:29] IshantRevclerx commented on #9
@prashantjadhav92 Sir, I have Verified above issue.and its Working Fine and Its move to Resolved now.

[2022-06-22 05:12] IshantRevclerx commented on #8
@shaileshtayde Sir, I have checked above mention issue and it is possible for a user("ishant.kshirsagar@revclerx.com") having roles "Platinum Resellers Admins" and "Authorized Service Providers Admins" to close a Case created by a user("anuj.niet2010+01@gmail.com") having role "Registered Resellers Admins". Also both users are in different organizations.

[2022-06-22 05:22] PuneetRevclerx commented on #6
@shaileshtayde Sir, I have checked above mention issue and it is possible for a user ("ishant.kshirsagar@revclerx.com") having roles "Platinum Resellers Admins" and "Authorized Service Providers Admins" to send a message in a case created by a user ("anuj.niet2010+01@gmail.com") having role "Registered Resellers Admins". Also both users are in different organizations.

[2022-06-22 06:49] MeghanaThakekar commented on #56
@shaileshtayde @PuneetRevclerx - fixed
branch : "https://dvl-securityissue-56.amp.vg/"
@sunrao - test user creation and convert contact to user feature

[2022-06-22 14:49] #30 closed

[2022-06-22 14:53] #9 closed

[2022-06-23 04:30] PuneetRevclerx commented on #56
@MeghanaThakekar given branch is not working

![image](https://user-images.githubusercontent.com/102346181/175209309-a6395268-8464-4c62-94d0-837fab79441c.png)

[2022-06-23 04:38] shaileshtayde commented on #56
@***@***.*** ***@***.***> This is due to a
build server issue. This should be good to go once @Chris Phillips
***@***.***> fix it up.

Shailesh

On Thu, Jun 23, 2022 at 10:00 AM PuneetRevclerx ***@***.***>
wrote:

[2022-06-23 14:03] prashantjadhav92 commented on #42
@shaileshtayde can we please get this one resolved. 8x8 team has marked this as critical and needs the issue to be fixed as soon as possible. They have been following up with us multiple times but I don't have proper updates to share with them.

[2022-06-23 14:30] Vish-Patil opened #66 "XSS issues for templates"
We are getting a lot of  XSS security issues recently(most of them from 8x8) , and we are trying to fix all these issues.
But we notice that we did a lot of hacks to achieve some functionality for clients like having onclick events written in HTML, So while addressing XSS issues we have to take into consideration that our existing template will work and we will be free to use the same in future al

[2022-06-23 15:35] #24 closed

[2022-06-23 17:07] prashantjadhav92 commented on #44
@IshantRevclerx @shaileshtayde here is the video shared by the client

https://user-images.githubusercontent.com/31324885/175355279-d8a3872e-c7c3-4d6b-aeb5-553018ba5271.mp4

[2022-06-23 17:10] #50 closed

[2022-06-23 17:13] #46 closed

[2022-06-24 06:36] PuneetRevclerx commented on #64
@shaileshtayde Sir, I have checked the above issue:

1. It is not possible for a user to see "publickey" of any user (as shown in the screenshot)
![public key search](https://user-images.githubusercontent.com/102346181/175477031-42cacc1a-467a-49ae-96ea-eb079a1755dc.png)

2. In the email preview, user's password is not visible even if we add "##user.Password##" in the payload.
![Acronis editor tick

[2022-06-24 07:21] IshantRevclerx commented on #62
@shaileshtayde  Sir, I have Checked above issue and It is not possible to view password of any user in the privew link of the email in the playbook.
![image](https://user-images.githubusercontent.com/92088937/175484064-96195cb2-0eda-425b-b009-3323f3554016.png)

![image](https://user-images.githubusercontent.com/92088937/175484110-a62a9ad3-a422-43f4-9a42-d34f802ce1cb.png)

[2022-06-24 07:28] MeghanaThakekar commented on #56
@PuneetRevclerx - new url:  https://dvl-pr-50282.amp.vg/login

[2022-06-24 08:46] shaileshtayde commented on #64
@prashantjadhav92 as per our investigation, it is not exposing the user credentials at all. Please have client verify it again at their end.

[2022-06-24 13:31] prashantjadhav92 commented on #62
@shaileshtayde I have requested Acronis to share more information in case they are able to reproduce this issue.

[2022-06-27 04:12] PuneetRevclerx commented on #56
@MeghanaThakekar given branch is not working:
![image](https://user-images.githubusercontent.com/102346181/175858579-3d8de5bf-7759-469f-9bb4-4732ea06c9dd.png)

[2022-06-27 06:19] PuneetRevclerx commented on #56
@MeghanaThakekar branch is working now.

[2022-06-27 07:17] shivmishra commented on #51
fixed in this PR https://github.com/MindMatrix/AMP/pull/50389

[2022-06-27 08:59] IshantRevclerx commented on #51
@shaileshtayde and @shivmishra  I have checked above issue on the given branch " https://dvl-pr-50389.amp.vg" and its Working fine now.
![image](https://user-images.githubusercontent.com/92088937/175901328-711fa704-47f4-4b98-a1c2-a9c43f6e0256.png)

@sunrao sir, please have this tested on Resp branch.

[2022-06-27 10:20] PuneetRevclerx commented on #65
@shaileshtayde @prashantjadhav92 Sir, shall we close this issue as it's a duplicate issue.

[2022-06-27 10:40] shivmishra commented on #53
should be fixed on this https://github.com/MindMatrix/AMP/pull/50389

[2022-06-27 13:13] prashantjadhav92 commented on #62
Closing this case since the issue is not reproducible.

[2022-06-27 13:13] #62 closed

[2022-06-27 13:21] #65 closed

[2022-06-27 14:20] prashantjadhav92 commented on #64
This is not reproducible. Hence, closing this case.

[2022-06-27 20:38] prashantjadhav92 opened #67 "SEC-4454 IDOR allows to access all customers files. [Via Profileimage Parameter]"
[profileimage] is numeric and easy to guess. An attacker can access to all files by guessing [profileimage].

1. Go to https://partners.acronis.com/#connections/contacts
2. When saving contact info intercept call to /api/savecontact
3 Change the profileimage value to any file ID
4. Visit this link view-source:https://partners.acronis.com/connections/contacts/stats/[CONTACT_ID]/
5. Now you will fin

[2022-06-28 06:37] PuneetRevclerx commented on #55
@shaileshtayde @shivmishra Sir, I have checked above issue on given branch "https://dvl-pr-50389.amp.vg/" and it's working as expected now.

@sunrao Sir, I have tested the security part, kindly have the functionality tested.

[2022-06-28 06:43] shaileshtayde commented on #55
In order to have this functionality tested, this can be tested using Super/Site Admin user from UI under setup.
@PuneetRevclerx give a single run from your end and then assign it back to @sunrao for the feature testing.

[2022-06-28 06:47] sunrao commented on #55
@PuneetRevclerx You can give the functionality run and if needed take help from Parveen

[2022-06-28 06:50] shivmishra commented on #55
team, except sitesuperadmin and self user can change email/username nothing got changed in the code

[2022-06-28 07:19] shaileshtayde commented on #55
@sunrao please have resp tester give a run on reps functionality as well. We need to make sure that module owner must sign off as well.

[2022-06-28 11:36] PuneetRevclerx commented on #61
@shivmishra Sir, I have checked above issue on "https://dvl-pr-50389.amp.vg/". If I use the image id of user from other organization, the page gets blank.
![image](https://user-images.githubusercontent.com/102346181/176167587-2f835b9a-a357-4b60-a98d-3f21e0c319ee.png)

Expected result: There should be error message on the page.
**Note:** Same issue is with document edit as well.

[2022-06-28 11:41] shivmishra commented on #61
no thats fine, check you shouldn't be able to download the un-accessible images/documents. i did nothing only corrected the syntax.

[2022-06-28 11:48] IshantRevclerx commented on #51
@shivmishra Sir, I have checked issue on given branch " https://dvl-pr-50389.amp.vg/ " If we edit any other user's info and click on save button, Info modle is not getting close automaticaly. If user edit his own info and click's on save button the modle get close.

![image](https://user-images.githubusercontent.com/92088937/176169954-5c8e5da4-3b66-452b-b5d9-28924bb65cbf.png)

Expected Result : Ed

[2022-06-28 12:04] PuneetRevclerx commented on #61
@sunrao Sir, I have checked above issue and now user is not able to access any un-accessible image or document. It's working fine as expected now.

[2022-06-28 12:58] poojaghope commented on #51
@IshantRevclerx It's working fine but taking time to close modal after clicking on save button.

[2022-06-28 14:45] IshantRevclerx commented on #51
@shivmishra Sir and @poojaghope mam , I have again checked this issue on given branch " https://dvl-pr-50389.amp.vg/ " If we edit any other user's info and click on save button, Info modale is not getting close automaticaly. If user edit his own info and click's on save button the modale get close.

User : Security Ishant (Normal user )
company Name - Automation

https://user-images.githubusercont

[2022-06-28 15:25] poojaghope commented on #51
@IshantRevclerx Still working fine.
Attached video for your reference.

Uploading Users - Google Chrome 2022-06-28 20-50-24.mp4…

[2022-06-28 15:41] shivmishra commented on #51
@IshantRevclerx if you still facing the same issue then attach video from your system

[2022-06-28 15:41] shivmishra commented on #51
just make sure you have user create/edit permission or check in main branch to verify

[2022-06-28 20:22] cphillips83 commented on #42
@prashantjadhav92 I had to send an email to ABCPDF for more information since we use their libraries to generate these PDFs.

[2022-06-28 20:44] prashantjadhav92 commented on #42
Thank you @cphillips83

[2022-06-29 03:58] IshantRevclerx commented on #51
@shivmishra Sir, The video that i have attached above was recorded on my system. The user that i am using is a Normal user with up to delete permission for the user.
 User : Security Ishant
 Company Name : Automation Testers

[2022-06-29 06:06] IshantRevclerx commented on #29
@shaileshtayde Sir, I have Checked above mentioned Issue with normal User and after following the steps mentioned above,JS is not getting ecxecuted.

User : Security Ishant
Company Name : Automation Tester

![image](https://user-images.githubusercontent.com/92088937/176363262-7f19b85c-d053-4268-a44e-d2468e5a16c6.png)

[2022-06-29 06:14] PuneetRevclerx commented on #22
@shaileshtayde Sir, I have checked the above issue with normal user and JS is not getting executed by following above mentioned  steps.

User: puneet security
Company: Automation Tester

![image](https://user-images.githubusercontent.com/102346181/176364609-91d90d9c-a2b4-4ec9-93e6-6761ba9dc576.png)

[2022-06-29 06:53] PuneetRevclerx commented on #55
@sunrao sir, I have checked the functionality and it's working fine.

[2022-06-29 07:14] IshantRevclerx commented on #53
@shivmishra Sir, I have Checked above mentioned  Security Issue on the given branch "https://dvl-pr-50389.amp.vg/"  and Its Working fine as expected.
but  Similar to the Ticket Number #51 User Info Modal not getting closed with Normal User.

User : Security Ishant
Company Name : Automation Tester.

[2022-06-29 10:03] shivmishra commented on #53
@IshantRevclerx should be fixed

[2022-06-29 10:04] shivmishra commented on #51
@IshantRevclerx should be fixed

[2022-06-29 10:30] shaileshtayde commented on #51
@sunrao please have resp. feature owner tester give a run on this feature (https://github.com/MindMatrix/AMP/pull/50389) once it is merged in master.

[2022-06-29 11:19] sunrao commented on #51
@shaileshtayde Ishant is testing it

@IshantRevclerx If needed take help from Parveen

[2022-06-29 13:18] prashantjadhav92 commented on #55
I have asked the Acronis team to check and confirm this. Once it is confirmed to be working fine, I will close this case.

[2022-06-29 13:22] prashantjadhav92 commented on #34
@shivmishra I have asked the client to confirm this on their end.

[2022-06-29 13:42] prashantjadhav92 opened #68 "SEC-4453 IDOR to get email blasts of any user"
1. you must have 2 different emails in 2 different orgs
2. with account (A) go and create an email blast for a user and get the id of that email
3. with the account (B) go and try to copy the email-blast and replace the id with the id of account (A)
4. and you'll see it's copied in the Draft section

[2022-06-29 17:30] prashantjadhav92 opened #69 "SEC-4745 No brute force protection for current password on password change"
There is not brute force protection for current password on password change. As a result, XSS / leaked session might allow attacker to brute force current password, change it and take over the account.

Steps to Reproduce:
Login to partners.acronis.com
Go to user profile, https://partners.acronis.com/#user/profile/
Press Change Password button
Make multiple attempts to set incorrect password
Try t

[2022-06-29 17:32] prashantjadhav92 opened #70 "SEC-4740 Brute force protection bypass on login"

[2022-06-30 08:58] IshantRevclerx commented on #51
@sunrao Sir, I have checked the functinality on given branch "https://dvl-pr-50389.amp.vg/"  and its working as expected.

[2022-06-30 09:11] shaileshtayde commented on #51
@shivmishra Please have resp. PR assigned to @sunrao for main run by module owner tester.

[2022-06-30 09:14] IshantRevclerx commented on #53
@sunrao Sir, I have Checked the functionality of above mentioned Issue and its working as expected.

[2022-06-30 09:15] shaileshtayde commented on #51
@shivmishra ignore my previous comment, it is already there.
@IshantRevclerx @PuneetRevclerx please assign it to @prashantjadhav92 once it is on production and verified by you.

[2022-06-30 09:19] IshantRevclerx commented on #51
@shaileshtayde Okay Sir.

[2022-06-30 09:19] PuneetRevclerx commented on #51
@shaileshtayde Ok sir.

[2022-07-01 11:00] IshantRevclerx commented on #18
@shaileshtayde Sir, I have Checked above mentioned issue and after following the mentioned steps, JS is getting Executed.

![Contact-ID-Main](https://user-images.githubusercontent.com/92088937/176881771-4fff5577-dbb5-4fe8-b6e2-c87a1d122ea8.png)

[2022-07-01 12:06] PuneetRevclerx commented on #4
@shaileshtayde Sir, I have checked the above mentioned issue and JS is getting executed by following the below mentioned steps:

1. On https://acronis2.sb.amp.vg/#manage/support, click on "Submit a Case" and add ["onmouseover=alert(1)//] in the case summery field.
2. Fill the required fields and save the case.
3. Hover the mouse on newly created case subject in the grid.
4. JS will execute.

User

[2022-07-01 14:25] #34 closed

[2022-07-01 14:25] prashantjadhav92 commented on #34
This has been resovled.

[2022-07-01 14:59] prashantjadhav92 commented on #36
@shivmishra I will ask the client to confirm this.

[2022-07-04 12:22] IshantRevclerx commented on #43
@Shailesh Sir. I have checked above mentioned issue.
When we are adding the script ( <script>alert(1)</script>) in company name,
1) JS is getting executed in chrome's Incognito mode only. after that Deal is getting saved without deal number and customer info.

![Deal--ACronics--Deal](https://user-images.githubusercontent.com/92088937/177153677-c57fb773-3c6d-4bf0-a12a-f57fa6a4547c.png)

![Deal Blan

[2022-07-04 14:22] PuneetRevclerx commented on #2
@shaileshtayde Sir, I have checked the above mentioned issue:
In "/api/RenameFile", set the display name as ("\"onmouseover=alert(1)//test.jpg") and on hovering the image JS will execute in "/#gallery/banner/images" as well as in "/#user/profile/" while trying to add that image as the company logo.

![image](https://user-images.githubusercontent.com/102346181/177173431-737ba3c4-0ba4-4c20-8cdb-e6ce

[2022-07-05 05:13] IshantRevclerx commented on #67
@shaileshtayde Sir, I have Checked above mentioned issue and It is possible to get the document/Images of Users from other organization by following the above mentioned steps.

![ACRONIS--Contact29470](https://user-images.githubusercontent.com/92088937/177254039-600e90bd-72ef-4255-91ef-5907fd910d83.png)

[2022-07-05 05:25] PuneetRevclerx commented on #60
@shaileshtayde Sir, I have checked the above mentioned issue by creating a new user on acronis2.sb.amp.vg and gave the same roles to the user that have been given to the user in the video. Using "/api/SaveUser", newly created user was able to change the info of the other user in his organization.

In the given role, user has the permission of user permission- NA, organization users and organizatio

[2022-07-05 06:23] IshantRevclerx commented on #11
@prashantjadhav92 Sir, I have Verified above Security issue.and its Working Fine and Its move to Resolved now.

[2022-07-05 06:55] PuneetRevclerx commented on #10
@prashantjadhav92 Sir, I have verified the above security issue and it's working as expected now.

[2022-07-05 13:44] prashantjadhav92 commented on #10
@PuneetRevclerx I have asked the client to confirm. Once confirmed, I will close this case.

[2022-07-05 13:46] prashantjadhav92 commented on #11
@IshantRevclerx I have asked the client to confirm this on their end.

[2022-07-06 10:28] IshantRevclerx commented on #14
@prashantjadhav92 Sir, I have cheked above mentioned Security Issue and its working fine.

[2022-07-06 10:29] PuneetRevclerx commented on #27
@prashantjadhav92 sir, I have checked the above mentioned security issue and its working as expected now.

[2022-07-06 14:34] prashantjadhav92 commented on #14
@IshantRevclerx I have asked the client to confirm.

[2022-07-06 14:37] prashantjadhav92 commented on #27
@PuneetRevclerx I have asked the client to confirm this point.

[2022-07-06 15:22] prashantjadhav92 commented on #55
@sunrao @PuneetRevclerx @shaileshtayde the client has shared this video. It is still possible to change the email address without password confirmation on /api/SetProfileData.

https://user-images.githubusercontent.com/31324885/177586131-ea5821f2-2b57-4379-8acf-80e3fd3da4bd.mp4

[2022-07-06 15:24] #55 closed

[2022-07-06 17:51] #27 closed

[2022-07-06 17:54] #14 closed

[2022-07-06 18:01] #36 closed

[2022-07-07 03:51] PuneetRevclerx commented on #55
@prashantjadhav92 Sir, above mentioned issue along with #53 , #51 and #61 are still needs to be pushed on production. The PR has been merged to the "dvl-main" and will be pushed on production today. That's why client is still able to reproduce the issue on production.

[2022-07-07 09:20] PuneetRevclerx commented on #26
@prashantjadhav92 Sir, I have checked the above mentioned security issue and its resolved now.

[2022-07-07 13:48] #11 closed

[2022-07-07 13:51] prashantjadhav92 commented on #10
Confirmed by client.

[2022-07-07 13:55] prashantjadhav92 commented on #55
@PuneetRevclerx thank you for confirming. Please assign the case to me only when it is released on production.

[2022-07-07 13:59] prashantjadhav92 commented on #26
@PuneetRevclerx I have asked the client to confirm.

[2022-07-07 14:48] prashantjadhav92 commented on #25
@IshantRevclerx I have asked the client to confirm.

[2022-07-08 07:41] Mahimapatil commented on #47
@PuneetRevclerx It is duplicate issue of https://github.com/MindMatrix/SecurityTracker/issues/47. Please delete one of them.

[2022-07-08 11:00] PuneetRevclerx opened #71 "User can remove other users in his organization (with /api/RemoveUserFromOrgnization endpoint) with view only permissions"
URL: https://mm.amp.vg/#setup/organizations
Username: ishant_users
Company: Automation Test
Role: API Test Role 2

STR:
1. Use the above user with role "API Test Role 2" assigned to him, which is having only view permission for "Users", "Organization Users", "Organization Profile".
2. In the /api/RemoveUserFromOrganization with payload {"organizationid":[organization id],"userid":[userid]}:
     (

[2022-07-08 11:42] PuneetRevclerx commented on #55
@prashantjadhav92 Sir, I have checked the above security issue on production and its working as expected now.

[2022-07-08 11:48] IshantRevclerx commented on #53
@prashantjadhav92 Sir, I have checked above mentioned security issue on production and its working fine now.

[2022-07-08 11:57] IshantRevclerx commented on #51
@prashantjadhav92  Sir, I have checked above mentioned security issue on production and its working fine now.

[2022-07-08 12:01] PuneetRevclerx commented on #61
@prashantjadhav92 Sir, I have checked the above mentioned security issue on production and its working as expected now.

[2022-07-08 13:06] #1 closed

[2022-07-08 13:14] prashantjadhav92 commented on #51
@IshantRevclerx I have asked the client to confirm the same.

[2022-07-08 13:15] prashantjadhav92 commented on #55
I have asked the client to confirm the same.

[2022-07-08 13:17] prashantjadhav92 commented on #53
@IshantRevclerx I have asked the client to confirm.

[2022-07-08 16:06] prashantjadhav92 commented on #26
Confirmed by client.

[2022-07-08 16:06] #26 closed

[2022-07-08 16:10] prashantjadhav92 commented on #25
Confirmed by the client.

[2022-07-08 16:10] #25 closed

[2022-07-08 19:48] prashantjadhav92 commented on #53
@IshantRevclerx client has mentioned this is still reproducible on their end. Can you please confirm this again?

[2022-07-08 20:29] prashantjadhav92 commented on #55
@PuneetRevclerx client has mentioned this is still reproducible. Please check and confirm again.

[2022-07-11 05:57] IshantRevclerx commented on #16
@prashantjadhav92 Sir, I have checked above mentioned Security issue on production and its working fine.

[2022-07-11 05:58] PuneetRevclerx commented on #17
@prashantjadhav92 Sir, I have checked the above mentioned security issue on production and its working fine now.

[2022-07-11 06:02] PuneetRevclerx commented on #55
@prashantjadhav92 Sir, I have tested it again at my end and it's working fine for me. Kindly provide the users and scenarios so that I can verity it.

[2022-07-11 06:04] IshantRevclerx commented on #51
@prashantjadhav92 Sir, I have tested again at my end and its working fine. please provide the users and scenarios, so that i can verifed it again.

[2022-07-11 10:23] PuneetRevclerx commented on #15
@shaileshtayde Sir, I have tested the above security issue on production and issue still exists:

![image](https://user-images.githubusercontent.com/102346181/178243869-d236bb16-1c71-4e45-a060-cfca1cffd710.png)

[2022-07-11 12:57] prashantjadhav92 commented on #16
@IshantRevclerx I have asked the client to confirm.

[2022-07-11 13:04] shivmishra commented on #51
this only possible through supersiteadmin user

[2022-07-11 13:05] prashantjadhav92 commented on #17
I have asked the client to confirm the same.

[2022-07-11 14:09] prashantjadhav92 commented on #64
@shaileshtayde the client has mentioned they are also able to access other details like email, phone, address, etc by changing the public/user key. Here is an example:

https://partners.acronis.com/html/50244/0-1/index.html?userid=djvfuu8cw7p2j
https://partners.acronis.com/html/50244/0-1/index.html?userid=dm7hod5803f3i

Changing the id **djvfuu8cw7p2j** to  **dm7hod5803f3i** and see the informatio

[2022-07-12 09:22] IshantRevclerx commented on #53
@shivmishra Sir, I tested again and User can not change the email address of other user in the same organization but can change his own email address with /api/SaveUser.
kindly check.
Url : https://mm.amp.vg/
User : Ishant
Company : Automation Test

[2022-07-12 09:28] IshantRevclerx commented on #23
As per discussion with @shaileshtayde Sir, assigning it to @Mahimapatil.

Url : https://partners.acronis.com
User : lovish.bhatti@mm4.mindmatrix.net
XSS Used : "onmouseover=alert(1)//

[2022-07-12 09:29] shivmishra commented on #53
@sunrao @IshantRevclerx @shaileshtayde i allowed SiteSuperAdmin user and self user can change email address. :Please let me know if you want to restrict normal user to not change self email then i will remove that condition.

Please confirm.

[2022-07-12 10:24] IshantRevclerx commented on #21
@prashantjadhav92 Sir, I have Verifed above Security Issue on Production and Its Working fine as expected.

[2022-07-12 14:44] prashantjadhav92 commented on #21
I have asked the client to confirm the same.

[2022-07-12 14:47] prashantjadhav92 commented on #16
Confirmed by the client.

[2022-07-12 14:47] #16 closed

[2022-07-12 15:26] prashantjadhav92 commented on #21
Confirmed by the client.

[2022-07-12 15:26] #21 closed

[2022-07-12 15:29] prashantjadhav92 commented on #17
Confirmed by the client.

[2022-07-12 15:32] prashantjadhav92 commented on #51
Confirmed by the client this is fixed.

[2022-07-12 16:54] prashantjadhav92 commented on #55
Confirmed this to be fixed.

[2022-07-13 19:39] prashantjadhav92 opened #72 "SEC-4826 - XSS on https://partners.acronis.com/#collateral/presentation/[id]/info/ via filters"
It is possible to create a filter in presentations (https://partners.acronis.com/#collateral/presentation/) with XSS payload, which will be rendered and executed on https://partners.acronis.com/#collateral/presentation/[id]/info/.

1. Login and copy user's session value and CSRF token from cookies (.ASPXAUTH and X-CSRF-Token)
2. Go to https://partners.acronis.com/#collateral/presentation/ and crea

[2022-07-13 19:43] prashantjadhav92 opened #73 "SEC-4800 - IDOR on /collateral/presentation/[id]/info/ API endpoint"
Description:
IDOR on /collateral/presentation/[id]/info/ API endpoint

1. Login under User1 from Organization1
2. Visit page https://partners.acronis.com/#collateral/presentation
3. Click presentation
4. Copy ID of the created presentation
5. Login under User2 from Organization2
6. Open URL https://partners.acronis.com/#collateral/presentation/[id]/info/ (replace [id] with correct value). See that

[2022-07-13 19:47] prashantjadhav92 opened #74 "SEC-4799 - Stored-XSS via filter input on /#setup/socialdrip/[drip_id]/info/"
It is possible to create a filter in presentations (https://partners.acronis.com/#manage/campaigns/socialdrip) with XSS payload, which will be rendered and executed on https://partners.acronis.com/#setup/socialdrip/[drip_id]/info/.

1. Login and copy user's session value and CSRF token from cookies (.ASPXAUTH and X-CSRF-Token)
2. Go to https://partners.acronis.com/#manage/campaigns/socialdrip and

[2022-07-13 19:49] prashantjadhav92 opened #76 "SEC-4801 - IDOR to get email files of any user, /api/importInEmail"
IDOR to get email files of any user via API endpoint /api/importInEmail

1. Login under
2. Go to https://partners.acronis.com/#communicate/email
3. Start creating email
4. Open browser Developer Tools -> Network
5. Select any favorite template (other template didn't work) and go to email editor
6. See request to /api/importInEmail and copy templateid and emailid
7. Press preview
8. Now make the fo

[2022-07-14 07:25] IshantRevclerx commented on #74
@shaileshtayde Sir, I have verified above mentioned Security Issue and By following the above mentioned steps , JS is getting Executed.

Url : https://dvl-main.amp.vg/#setup/socialdrip/803/info
User : Security Ishant
Company : Automation Testers
![Social Drip---1](https://user-images.githubusercontent.com/92088937/178925262-e42f7de0-61e6-4faa-bd24-70ce2eefdae9.png)

[2022-07-14 07:30] PuneetRevclerx commented on #72
@shaileshtayde sir, I have verified the above mentioned security issue and JS is getting executed by following the above mentioned steps.

URL:  https://dvl-main.amp.vg/#collateral/presentation/4219/info
User: puneet security
Company: Automation Testers

![presentation xss](https://user-images.githubusercontent.com/102346181/178926705-19df9b09-2b38-4c71-ae24-249d93022ade.png)

[2022-07-14 09:29] IshantRevclerx commented on #73
@shaileshtayde Sir, I have verified above mentioned Security issue and by following the above mentioned steps , User is able to access data of other organizations.

Url : https://dvl-main.amp.vg/#collateral/presentation
User : Security Ishant (Normal User)
Company Name : Automation Testers

[2022-07-18 05:36] IshantRevclerx commented on #49
@prashantjadhav92 Sir, I have checked above mentioned Security Issue and its Resolved Now.

[2022-07-18 05:38] IshantRevclerx commented on #48
@prashantjadhav92 Sir, I have Checked above mentioned Security Issue and Its Resolved Now.

[2022-07-18 05:40] IshantRevclerx commented on #63
@prashantjadhav92 Sir, I have checked above mentioned Security Issue and Its not reproducable with normal user.

[2022-07-18 05:45] PuneetRevclerx commented on #45
@prashantjadhav92 sir, I have checked the above mentioned security issue and it's resolved now.

[2022-07-18 16:51] prashantjadhav92 commented on #49
I have asked the client to test it.

[2022-07-18 16:59] prashantjadhav92 commented on #63
I have asked the client to confirm.

[2022-07-18 17:00] prashantjadhav92 commented on #48
Asked the client to confirm.

[2022-07-18 18:02] prashantjadhav92 commented on #63
Verified by client.

[2022-07-18 18:02] #63 closed

[2022-07-18 18:06] prashantjadhav92 commented on #45
Verified by the client.

[2022-07-18 18:06] #45 closed

[2022-07-18 18:08] prashantjadhav92 commented on #48
Verified by the client.

[2022-07-18 18:08] #48 closed

[2022-07-18 18:10] prashantjadhav92 commented on #49
Verified the fix.

[2022-07-18 18:10] #49 closed

[2022-07-18 18:41] prashantjadhav92 opened #77 "SEC-4837 - IDOR on /setup/socialdrip/<id>/info/ API endpoint"
Description:
IDOR on /setup/socialdrip/<id>/info/ API endpoint

1. Login under User1 from Organization1
2. Visit page https://partners.acronis.com/#manage/campaigns/socialdrip
3. Create social drip
4. Copy ID of the created social drip
5. Login under User2 from Organization2
6. Open URL https://partners.acronis.com/#setup/socialdrip/[drip_id]/info/ (replace [drip_id] with correct value). See that

[2022-07-19 04:22] IshantRevclerx opened #78 "XSS : JS Getting Executed on Organization Name"
URL : https://dvl-main.amp.vg/#setup/organizations
User :  Ishant
Company Name : Automation Testers

STR :

1) Go to above URL.and Edit any Organization Name.
2) Type ( "onmouseover=alert(1)// ) with user name "Security 1" in Organization Name Field (e.g- security 1"onmouseover=alert(1)// )
3) Now Login With Super Admin >>Go to Setup>>>click on UserManagement>>>Click on users>>>Select any User and

[2022-07-19 04:35] IshantRevclerx commented on #70
@shaileshtayde Sir, I have verified above mentioned Security issue and as mentioned above after the user gets locked,
If user try to enter wrong password again he gets the following error message

![BrutForce--2 Wrong Paasswrd](https://user-images.githubusercontent.com/92088937/179665080-f26dbe8d-56f5-4fed-b079-97423695f7f5.png)

And ,If user try to enter correct password he gets the following err

[2022-07-19 04:47] PuneetRevclerx commented on #77
@shaileshtayde sir, I have checked the above mentioned security issue and it is possible for a user to see the social drip info of the users in other organization by following the above mentioned steps.

User: puneet security
Company: Automation Testers

[2022-07-19 09:24] IshantRevclerx commented on #69
@shaileshtayde Sir, I have checked above mentioned Security Issue and currently there is not brute force protection for current password on password change available.

[2022-07-20 05:50] PuneetRevclerx commented on #20
@shaileshtayde sir, I have checked the above mentioned security issue it is possible for a user ("ishant.kshirsagar@revclerx.com") to get the document list of a case created by another user ("anuj.niet2010+01@gmail.com"). Both users are in different organizations and are not able to see the cases created by each of them. Both user are normal users.

[2022-07-20 20:57] prashantjadhav92 opened #79 "SEC-4855 Reflected XSS on /search page"
There is reflected XSS on /search page

Steps to reproduce:
Open the following link and see JS executed:
https://partners.acronis.com/search?text=kietna%27;%3C/script%3E%3Cimg%20src=x%20onerror=alert(document.domain);%3E

Fix:
Encode untrusted input according to the rendering context

[2022-07-21 05:24] PuneetRevclerx commented on #79
@shaileshtayde sir, I have checked the above mentioned XSS issue and JS is getting executed.

STR:

1. Go to https://main.dvl.amp.vg/#assets-overview
2. Type (</scrip</script>t><img src ?q onerror=prompt(8)>) or (</script><img src?x onerror=alert(document.domain)>) in the search bar and press enter. [**Note: replace "?" after img src with "=" while typing any of the script**]
3. The JS will get ex

[2022-07-22 07:02] PuneetRevclerx opened #80 "XSS: JS getting executed on Scoring page"
URL: https://main.dvl.amp.vg/#setup/leadscoring
User: Ishant
Company: Automation Testers

STR:

1. Go to Setup> Scoring> Contact Scoring
2. In the scoring rule, click on Create button.
3. Select any rule type.
4. In the name field, enter (test "onclick=prompt(8)>"@x.y) or (test "onmouseover=alert(1)//) and click on save button.

Actual Result:
If user will add (test "onmouseover=alert(1)//) in the

[2022-07-22 07:12] PuneetRevclerx opened #81 "XSS: JS getting executed on Lead Routing Page"
URL: https://main.dvl.amp.vg/#setup/leadrouting
User: Ishant
Company: Automation Testers

STR:

1. Go to Setup> Lead Routing
2. Click on Create button.
3. Select Distribution based on user
4. In the name field, enter (test "onclick=prompt(8)>"@x.y) or (test "onmouseover=alert(1)//) and finish the form by filling all the required fields.

Actual Result:
If user will add (test "onmouseover=alert(1)/

[2022-07-22 07:37] PuneetRevclerx opened #82 "XSS: JS is getting executed on MDF fund plan page"
URL: https://main.dvl.amp.vg/#manage/mdf/fundplans
User: Ishant
Company: Automation Testers

STR

1. Go to Manage> MDF Approval> MDF Approval Plans
2. Click on create button.
3. In the fund name filed enter (test "onclick=prompt(8)>"@x.y) or (test "onmouseover=alert(1)//) and click on next.
4. Fill any amount in the fields and click on next button.
5. In the activities, click on add button and in

[2022-07-22 09:25] sdokhale0902 commented on #47
@prashantjadhav92 . Please Check now. Branch-url : https://dvl-pr-50131.amp.vg/

[2022-07-22 10:49] sunrao commented on #47
@PuneetRevclerx Pl. test this

[2022-07-22 10:51] sunrao commented on #53
@shivmishra Only Super/Site Admin can change the User email address.

[2022-07-22 11:03] shivmishra commented on #53
@sunrao can i not change my email address?

[2022-07-22 11:04] Mahimapatil commented on #47
@sdokhale0902 You didnt create PR of this?

[2022-07-22 11:09] sunrao commented on #53
![image](https://user-images.githubusercontent.com/6465639/180427133-98d298c3-745f-4930-a525-d90c59fa6328.png)

No as the user email is validated on creation

[2022-07-22 11:14] shivmishra commented on #53
its ok i will remove extra check to validate but also its validated on edit as well

[2022-07-22 11:50] IshantRevclerx opened #83 "XSS-JS getting executed on company Page"
URL : https://main.dvl.amp.vg/#setup/companies
User : Ishant
Company name : Automation testers

STR :
1) Go to Setup>>UserManagement>>>Click on Companies
2) In the Companies page, Click on Create button>>>In the company name filed enter (test "onclick=prompt(8)>"@x.y) or (test "onmouseover=alert(1)//) and click on Save Button.

Actual result :

3) If user will enter (test "onmouseover=alert(1)//)

[2022-07-22 11:54] PuneetRevclerx commented on #47
@Mahimapatil mam, I have checked the above issue on https://pr-50131.dvl.amp.vg/ and the user is still able to delete drip created by the user in different organization.

[2022-07-22 12:21] IshantRevclerx opened #84 "XSS: JS getting executed on User group Page"
URL : https://main.dvl.amp.vg/#setup/groups
User : Ishant
Company Name : Automation Testers

STR :
1) Go to setup >>> Click on UserManagement>>Click on User Group
2) In the User Group page, Click on Create button>>>In the User group name filed enter (test "onclick=prompt(8)>"@x.y) or (test "onmouseover=alert(1)//) and click on Next Button.
3) Filled the Required information and click on finish but

[2022-07-25 06:32] sdokhale0902 commented on #47
@PuneetRevclerx. Please Check on these branch url:  https://pr-51031.dvl.amp.vg/

[2022-07-25 06:59] PuneetRevclerx commented on #47
@Mahimapatil mam, @sunrao sir, I have tested above mentioned above mentioned security issue and it's working as expected.

@sunrao sir, kindly assign it to respective tester for functionality testing.

[2022-07-25 09:58] IshantRevclerx opened #85 "IDOR : User Can Create MDF Fund Request for the plan not assigned to his Organization using api/SaveMDFRequest"
URL : https://main.dvl.amp.vg/#manage/mdf/funds
User : Security Ishant
Company Name : Automation Testers

STR :
  In the post request of api/SaveMDFRequest, replaced the activity id with activity id of any fund plan which is not assigned to his organization. and send the request.

Actual Result :
MDF Fund Request will be send for the fund plan which his not asssigned to his organization.

Fund Pla

[2022-07-25 10:15] PuneetRevclerx opened #86 "IDOR: User is able to delete MDF fund request created by users from other organizations with /api/DeleteMDFRequest"
URL: https://main.dvl.amp.vg/#manage/mdf/funds
User: puneet security
Company: Automation Testers

STR:
In the post request of /api/DeleteMDFRequest, replace MDF fund request id created by users from other organization and send the request.

Actual Result : MDF fund request will be deleted.
Expected Result : User should not have access to delete MDF fund request created by users from other organiza

[2022-07-25 12:04] IshantRevclerx opened #87 "IDOR : User Can Approve or Reject MDF Fund Request Created by Users from other Organization using /api/UpdateMdfRequest"
URL : https://main.dvl.amp.vg/#manage/mdf/viewrequests
User : Security Ishant
Company : Automation Testers

STR :
In the post request of /api/UpdateMdfRequest replaced the id with Fund Plan Request id of any User from other organization. and send the request.
Actual Result :
MDF Fund Request will be Approved for the MDF plan which is not asssigned to his organization.

![image](https://user-images

[2022-07-25 12:21] PuneetRevclerx opened #88 "IDOR: User is able to create activities in MDF fund plan created by users in other organization using api/UpdateMdfFundPlanActivity"
URL: https://main.dvl.amp.vg/#manage/mdf/fundplans
User: puneet security
Company: Automation Testers

STR:
In the post request to /api/UpdateMdfFundPlanActivity, replace the fund id with fund plan created by user from other organization and send the request.

Actual result: A new activity will be created in the fund plan by the user who is from other organization.

Expected result: User should not

[2022-07-25 15:07] sdokhale0902 commented on #44
@prashantjadhav92 . Sir, Please Check now. Branch url : pr-51080.dvl.amp.vg

[2022-07-25 15:11] prashantjadhav92 commented on #44
@sdokhale0902 I cannot access DVL links
please assign the case to me once this is released on production and tested.

[2022-07-25 16:04] Mahimapatil commented on #44
@sunrao Please ask tester to test same as api/deletedrip tested

[2022-07-26 12:46] shivmishra commented on #53
fixed in this PR https://github.com/MindMatrix/AMP/pull/51106

[2022-07-26 12:47] shivmishra commented on #60
fixed here fixed in this PR https://github.com/MindMatrix/AMP/pull/51106

[2022-07-26 12:57] shivmishra commented on #54
@prashantjadhav92 @shaileshtayde @IshantRevclerx yes thats the feature and its can be done only user who have user create role

[2022-07-26 13:11] shivmishra commented on #54
also added one extra check to prevent the api, only on user creation temporary pasword can be send after login the user no temporary password can be send. so please check accordingly.

fixed here https://github.com/MindMatrix/AMP/pull/51106

@sunrao fyi.

[2022-07-27 04:25] IshantRevclerx commented on #53
@sunrao and @shivmishra Sir I have Checked above mention security Issue on the given branch ( https://pr-51106.dvl.amp.vg )
and its working as expected.

@sunrao sir kindly assign to respective tester to test the functionality testing.

[2022-07-27 14:43] sunrao commented on #53
@IshantRevclerx You can check the functionality also, Tester will check during Main run

[2022-07-28 06:17] PuneetRevclerx commented on #60
@sunrao Sir and @shivmishra Sir, I have checked the above mentioned security issue and it's working as expected.

@sunrao sir, kindly assign it to respective tester for the functionality testing.

[2022-07-28 06:22] IshantRevclerx commented on #54
@sunrao Sir and @shivmishra Sir, I have checked above mentioned security Issue and its working as expected.
@sunrao sir please assign to respective tester to test functionality.

[2022-07-28 09:33] IshantRevclerx commented on #53
@sunrao, I have checked the functionality and its working as expected.

[2022-07-28 09:37] sunrao commented on #60
@PuneetRevclerx You can perform the functionality test and the respective tester will do it during the Main run

[2022-07-28 09:50] IshantRevclerx commented on #54
@sunrao Sir, I have checked the functionality as it was similar to the other ticket in the PR and its working as expected

[2022-07-28 10:22] sunrao commented on #47
@PuneetRevclerx You can do the functionality test and the Tester will do it during the Main run

[2022-07-28 10:22] sunrao commented on #44
@IshantRevclerx Pl. test this

[2022-07-28 11:08] PuneetRevclerx commented on #60
@sunrao sir, I have tested the functionality and it's working as expected

[2022-07-29 11:59] PuneetRevclerx commented on #47
@sunrao sir, I have tested the functionality of above mentioned issue and it's working as expected.

[2022-07-29 12:33] IshantRevclerx commented on #44
@sunrao Sir, I have checked above mentioned Security issue and also checked the basic functionality and its working as expected.

[2022-08-01 04:49] PuneetRevclerx commented on #56
@prashantjadhav92 sir, the above security issue has been resolved. I have checked it on production and it's working as expected.

[2022-08-01 04:59] IshantRevclerx commented on #57
@shaileshtayde Sir and @prashantjadhav92 Sir, Its Duplicate ticket of #59, hence closing this ticket.

[2022-08-01 05:42] PuneetRevclerx commented on #59
Now, facing above issue on main as well.

[2022-08-01 12:12] PuneetRevclerx opened #89 "IDOR: User is able to edit deal or contact of a user from other organization"
URL: https://main.dvl.amp.vg/#manage/leads/leadregistered or https://main.dvl.amp.vg/#connections/contacts
User: puneet security
Company: Automation Testers

STR:
1. In the payload of /api/savecontact, enter the contact id of other organization's user.
2. Change any information of the contact and send the request.

Actual Result: Contact's information will be changed

Expected Result: User should

[2022-08-01 12:24] IshantRevclerx opened #90 "IDOR : User is able to delete deal created by other organization's users"
URL : https://main.dvl.amp.vg/#manage/leads/leadregistered
User Name : Security Ishant
Company Name : Automation Testers

STR :
1) In the post api/DeleteRequest enter the deal registeration ID created by other organization's user.
2) send the request.

Actual Result : The deal regisration request will be deleted.

Expected Result : User should not have access to delete Deal registration Request cr

[2022-08-01 16:34] prashantjadhav92 commented on #56
@PuneetRevclerx I have asked the client to confirm.

[2022-08-02 07:10] PuneetRevclerx opened #91 "IDOR: User is able to approve and reject deal registration request created by other organization's user"
URL: https://main.dvl.amp.vg/#setup/leads/leadrequests
User: puneet security
Company: Automation Testers

STR:
1. In the payload of /api/ApproveLeadRequest, enter the deal registration id of other organization's user and send the request.
2. Similarly, in the payload of /api/RejectLeadRequest, enter the deal registration id of other organization's user and send the request.

Actual Result:
User ca

[2022-08-02 07:19] IshantRevclerx opened #92 "IDOR : User can share contact created by other organization's user"
URL : https://main.dvl.amp.vg/#connections/contacts
User Name : Security Ishant
Company Name : Automation Testers

STR :
1) In the Payload api/AddUserToContact enter the contact ID of Other Organization's User
2) Send the Request

Actual result : The contact will be shared with the user of other organization.

Expected Result : The user should not have access to share the contact created by othe o

[2022-08-02 11:57] IshantRevclerx opened #93 "IDOR : User can edit the opportunity custom field of other organization's user"
Url : https://main.dvl.amp.vg/#setup/opportunity
User Name : Security Ishant
Company Name : Automation Testers

STR :
1) In th payload of api/SaveProjectLayout enter the project type id of custom field created by other organization's user
2) change the information and send the request.

Actual Result : Information of the opportunity custom filed will be changed

Expected Result : User should not a

[2022-08-02 12:03] PuneetRevclerx opened #94 "IDOR: User can delete opportunity custom field created by other organization's user."
URL: https://main.dvl.amp.vg/#setup/opportunity
User: puneet security
Company: Automation Testers

STR:
1. In the payload of /api/DeleteProjectTypes, enter the id of custom field created by other organization's user.
2. Send the request.

Actual Result:
Opportunity custom field will be deleted.

Expected Result:
User should not have access to delete opportunity custom field created by other organi

[2022-08-04 09:19] PuneetRevclerx opened #95 "IDOR: User can delete opportunity records created by other organization's user"
URL: https://main.dvl.amp.vg/#manage/opportunity-records
User: puneet security
Company: Automation Testers

STR:
1. In the payload of /api/DeleteProjects, enter the project type id and project id of the opportunity record created by other organization's user.
2. Send the request.

Actual result:
Opportunity record will be deleted.

Expected result:
User should not have access to delete opportunity

[2022-08-04 09:29] IshantRevclerx opened #96 "IDOR : User can copy opportunity records created by other organization's user"
URL : https://main.dvl.amp.vg/#manage/opportunity-records
User Name : Security Ishant
Company Name : Automation Testers

STR :
1) In the payload api/CopyProjects enter project type id and project id of opportunity record created by other organization's user
2) Send the request

Actual Result :
Opportunity record will be copied

Expected Result :
User should not have access to copy the opportunity

[2022-08-04 18:56] prashantjadhav92 commented on #60
I have asked the client to confirm on their end once.

[2022-08-05 09:20] IshantRevclerx opened #97 "IDOR : User can edit opportunity records created by other organization's user"
URL : https://main.dvl.amp.vg/#manage/opportunity-records
User Name : Security Ishant
Company Name : Automation Testers

STR :
1) In the payload api/SaveProject enter projecttypeid and projectid of opportunity records created by other organization's user.
2) Edit opportunity record details and Send the Request.

Actual Result :
Details of opprtunity records will be changed

Expected Result :
User

[2022-08-05 09:23] sdokhale0902 commented on #44
@IshantRevclerx . Sir test these issue on these branch : - pr-51031.dvl.amp.vg

[2022-08-05 13:59] steffisam commented on #77
@PuneetRevclerx The issue is fixed. Can you please check

[2022-08-08 05:05] IshantRevclerx commented on #53
@prashantjadhav92 Sir, I have cheked above mention Security issue on production and its working as expected now.

[2022-08-08 05:07] IshantRevclerx commented on #54
@prashantjadhav92 Sir, I have cheked above mention security issue on production and its working fine as expected now.

[2022-08-08 06:05] PuneetRevclerx commented on #77
@steffisam @tajindersharma sir, along with normal user, super admin is also not able to see the info of the social drip created by user from other organization.
Super admin should have access to see the info of the social drip created by user from other organization.

[2022-08-08 13:38] prashantjadhav92 commented on #56
Verified by the client.

[2022-08-08 13:38] #56 closed

[2022-08-08 13:39] prashantjadhav92 commented on #60
Verified by the client.

[2022-08-08 14:11] prashantjadhav92 commented on #53
@IshantRevclerx I have asked the client to confirm this point.

[2022-08-08 14:12] prashantjadhav92 commented on #54
@IshantRevclerx I have asked the client to confirm the same.

[2022-08-08 15:32] shivmishra commented on #71
as per feature if user has access of organization/users he can add/remove from organizations

[2022-08-08 18:06] prashantjadhav92 opened #98 "SEC-4861 - IDOR on /api/GetActivityFeed"
IDOR is possible in POST request to /api/GetActivityFeed  via contactid parameter allowing to access information about contacts from another organization

Steps to Reproduce:
Go to URL: https://partners.acronis.com/#communicate/email, then click to sent email
In the Views dropdown click to Recipients. At this moment POST request will be sent to /api/GetActivityFeed
In this POST request change isro

[2022-08-08 18:17] prashantjadhav92 opened #99 "SEC-4874 - XSS on /html/[template-id]/0/index.html page"
XSS is possible on /html/[template-id]/0/index.html page due to possibility to save custom JS code in POST request to /api/SavePage endoint

Steps to Reproduce
Open the url: https://partners.acronis.com/#communicate/email
Select "Compose"
Select template > Import > Import Design > Inject malicious javascript code, e.g. ><img src=x onerror=alert(document.domain>
Then access url https://partners.acr

[2022-08-08 19:02] prashantjadhav92 opened #100 "SEC-4896 - reflected XSS on /gallery/video/0/edit?videoLink="
There is reflected XSS on /gallery/video/0/edit?videoLink= endpoint.

Steps to Reproduce:
* login to partner.acronis.com
* Go to https://partners.acronis.com/gallery/video/0/edit?videoLink=https://google.com%27;+alert(document.domain);// and see JS executed

Fix: encode untrusted input according to the rendering context

[2022-08-08 19:54] prashantjadhav92 opened #101 "SEC-4899 - IDOR on POST /api/SaveOrganization allows access to any file of other organizations"
IDOR on POST /api/SaveOrganization allows access to any file of other organizations

Steps to Reproduce

Login https://partners.acronis.com/login
Visit this link https://partners.acronis.com/#setup/users/list
Click on the org name
Click views then click on the Info tab
Click Save

Now it is required to repeat POST request to /api/SaveOrganization with changed values for parameters photoid1, photoi

[2022-08-08 21:06] prashantjadhav92 opened #102 "SEC-4901 - XSS on /#setup/organization/document/<org_ID>"
XSS on /#setup/organization/document/<org_ID>

Steps to reproduce:
1. Visit this page https://partners.acronis.com/#gallery/documents/assets
2. Upload any document
3. Change the document name to this payload xssGo" onmouseover="confirm(404)
4. Open URL https://partners.acronis.com/#setup/organization/document/<org_ID> and see JS payload executed (set correct <org_ID>)

Fix: Encode untrusted input

[2022-08-08 21:24] prashantjadhav92 opened #103 "SEC-4908 - IDOR on /connections/contacts/stats/<con_ID/true/1/"
IDOR on  /connections/contacts/stats/<con_ID/true/1/

Steps to reproduce:
* Open the following: view-source:https://partners.acronis.com/connections/contacts/stats/<con_ID/true/1/ with <con_id> of contact from another organization
* See data accessible

Example: view-source:https://partners.acronis.com/connections/contacts/stats/10/true/1/

Fix: it must not be possible to access data of other orga

[2022-08-08 21:27] prashantjadhav92 opened #104 "SEC-4907 - IDOR on /connections/contact/<con_ID>/1/"
IDOR on  /connections/contact/<con_ID>/1/

Steps to reproduce:
* Open the following: view-source:https://partners.acronis.com/connections/contact/<contact_id>/1/ with <contact_id> of contact from another organization
* See data accessible

Example: view-source:https://partners.acronis.com/connections/contact/10/1/

Fix: it must not be possible to access data of other organizations

[2022-08-08 21:39] prashantjadhav92 commented on #53
Verified by the client.

[2022-08-08 21:39] #53 closed

[2022-08-08 21:43] prashantjadhav92 opened #105 "SEC-4904 - IDOR on /communicate/email/[EMAIL_ID]/links?ispartner=true"
IDOR on /communicate/email/[EMAIL_ID]/links?ispartner=true allowing to access email attachments of other organizations.

Steps to Reproduce:
1. Go to https://partners.acronis.com/#communicate/email
2. Copy an email_id of any email blast
3. Login to another organization
4. Go to https://partners.acronis.com/#communicate/email -> choose any email blast -> click view -> links
5. There will be request

[2022-08-08 21:50] prashantjadhav92 opened #106 "SEC-4922 - IDOR on /api/SetAssetFilterCategoryLinks API endpoint"
IDOR on /api/SetAssetFilterCategoryLinks API endpoint allowing to set filter for files located in other organizations.

Steps to reproduce:
Make the following request with linkId set to file id from another organization and filterid to any filter

POST /api/SetAssetFilterCategoryLinks HTTP/2
Host: partners.acronis.com
Cookie: .ASPXAUTH=<session>;
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x6

[2022-08-08 21:56] prashantjadhav92 opened #107 "SEC-4916 - IDOR on /api/GetEmailOpenedUsers API endpoint"
IDOR on /api/GetEmailOpenedUsers API endpoint

Steps to reproduce:
In the request to /api/GetEmailOpenedUsers change emailid value to id of email from another organization

POST /api/GetEmailOpenedUsers HTTP/2
Host: partners.acronis.com
Cookie: .ASPXAUTH=<session>;
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:103.0) Gecko/20100101 Firefox/103.0
Accept: application/json, text/javascript

[2022-08-08 21:59] prashantjadhav92 opened #108 "SEC-4914 - IDOR via /api/getListAndPrograms endpoint"
IDOR via /api/getListAndPrograms endpoint

Steps to Reproduce:
In the following request replace id to the id of contact from another organization and see email address accessible:

POST /api/getListAndPrograms HTTP/2
Host: partners.acronis.com
Cookie: .ASPXAUTH=<session>;
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:103.0) Gecko/20100101 Firefox/103.0
Accept: application/json, text/jav

[2022-08-08 22:02] prashantjadhav92 opened #109 "SEC-4921 - IDOR on /manage/campaigns/socialdrip/info/<drip_id>/"
IDOR on /manage/campaigns/socialdrip/info/<drip_id>/ via <drip_id> parameter.

Steps to reproduce:
https://partners.acronis.com/manage/campaigns/socialdrip/info/<drip_id>/ - replace <drip_id> to id of social drip from any other organization and see data accessible, e.g:
https://partners.acronis.com/manage/campaigns/socialdrip/info/3980/

Fix: it must not be possible to access data of other organiz

[2022-08-09 06:38] PuneetRevclerx commented on #71
URL: https://main.dvl.amp.vg/#setup/organizations
User: puneet21
Company: Automation Testers
Assigned Role: API Test Role 2

@shivmishra sir, the above mentioned user has API Test Role 2 assigned to him. In the API Test Role 2, all the permissions are view only and still we are able to remove user from the same organization using /api/RemoveUserFromOrgnization.

[2022-08-09 07:38] IshantRevclerx commented on #44
@sunrao sir, I have checked above mentioned security issue on the given branch ( https://pr-51031.dvl.amp.vg/ ) and also checked basic functionality and its working as expected.

[2022-08-09 11:52] shivmishra commented on #71
should be fixed in https://github.com/MindMatrix/AMP/pull/51394
Now user need orgnizationprofile edit role to add/remove user in organization eiarlier it was on only view permission

@sunrao FYI

[2022-08-09 13:50] prashantjadhav92 opened #110 "SEC-4909 - XSS on contacts edit page"

[2022-08-09 14:05] prashantjadhav92 opened #111 "SEC-4923 - IDOR in POST request to /api/SaveEmail"
IDOR in POST request to /api/SaveEmail allows to access any file from other organizations via attachments.

Steps to Reproduce:
In the following request in attachments in documents, videos or images add value in the format "<file_id>":"anything" and specify correct emailid from your organization and contact to which email address you have access to. Send the request.

POST /api/SaveEmail HTTP/2
Ho

[2022-08-09 15:02] prashantjadhav92 opened #112 "SEC-4928 - XSS via filter field on images edit page"
XSS via filter field on images edit page

Steps to reproduce:
* Go to https://partners.acronis.com/#gallery/banner/images
* Select any image -> edit
* Set the following payload as filter: test\" onmouseover=confirm(456); x=\"x and press enter
* Move mouse over the filter and see XSS payload executed

Fix: encode untrusted input according to the rendering context

[2022-08-09 16:05] prashantjadhav92 opened #113 "SEC-4940 - IDOR on /connections/projectinfo/<project_id>/info"
IDOR on /connections/projectinfo/<project_id>/info

Steps to reproduce:
Open view-source:https://partners.acronis.com/connections/projectinfo/<project_id>/info with id of a project from any other organization and see information accessible.
Example: https://partners.acronis.com/connections/projectinfo/145/info

Fix: it must not be possible to access data of other organizations

[2022-08-09 16:17] prashantjadhav92 opened #114 "SEC-4939 - XSS via filter on /#connections/projectinfo/[id]/info"
XSS via filter on /#connections/projectinfo/[id]/info

Steps to reproduce:
1. Visit this page https://partners.acronis.com/#connections/projectlists
2. Click on any List
3. Click on Info
4. Change the filters param value to XSS\" onmouseover=\"confirm(164)
5. Now visit this page and hover on the payload https://partners.acronis.com/#connections/projectinfo/[id]/info

Fix: encode untrusted input ac

[2022-08-09 16:18] prashantjadhav92 opened #115 "SEC-4938 - IDOR via /manage/opportunity-renewal/1/{OPPORTUNITY_ID}?issharepermission=false, /manage/opportunity-update/1/{OPPORTUNITY_ID} and /api/GetOpportunityProductDtls"
IDOR via /manage/opportunity-renewal/1/{OPPORTUNITY_ID}?issharepermission=false, /manage/opportunity-update/1/{OPPORTUNITY_ID} and /api/GetOpportunityProductDtls

Steps to Reproduce:

* Open https://partners.acronis.com/manage/opportunity-renewal/1/{OPPORTUNITY_ID}?issharepermission=false with id ofopportunity from another organization
* Open https://partners.acronis.com/manage/opportunity-update/

[2022-08-09 16:34] prashantjadhav92 opened #116 "SEC-4941 - XSS on /#calendarevent/view/ page"
XSS on /#calendarevent/view/ page

Steps to reproduce:

1. Visit this page https://partners.acronis.com/#manage/calendar/eventscalendar
2. Click add event to any day
3. Type this payload <img src=x onerror=confirm(2022)> in the description input
4. Visit this page https://partners.acronis.com/#calendarevent/view/ and see payload executed

Fix: encode untrusted input according to the rendering cont

[2022-08-09 16:35] prashantjadhav92 opened #117 "SEC-4897 - XSS via domains parameter of the organizaion on /#setup/organization/registration/[org_ID]/1/ page"
XSS via domains parameter of the organization /#setup/organization/registration/[org_ID]/1/

Steps to reproduce:
1. Visit this page https://partners.acronis.com/#setup/users/list
2. Click on any user
3. Click on the organization name
4. Click view -> Registration tab
5. Set any domain. No it is required to repeat request to /api/AddDomainsForOrganization, but with payload in the "domain" parameter

[2022-08-09 17:21] prashantjadhav92 opened #118 "SEC-4929 - IDOR on /api/SavePublishing allowing access to files from other organizations"
IDOR on /api/SavePublishing allowing access to files from other organizations

Steps to reproduce:
Make the following request with thumbnailid set to file id from another organization and <drip_id> to any drip id

POST /api/SavePublishing HTTP/2
Host: partners.acronis.com
Cookie: .ASPXAUTH=<session>;
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:103.0) Gecko/20100101 Firefox/103.0
Accep

[2022-08-09 17:23] prashantjadhav92 opened #119 "SEC-4942 - IDOR on /api/SaveProjectInfo endpoint"
IDOR on /api/SaveProjectInfo endpoint

Steps to reproduce:
Make the following request (replace parameters listid and distributionid parameters with ids of list in another org):

POST /api/SaveProjectInfo HTTP/2
Host: partners.acronis.com
Cookie:
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:103.0) Gecko/20100101 Firefox/103.0
Accept: application/json, text/javascript, */*; q=0.01
Accept

[2022-08-09 17:34] prashantjadhav92 opened #120 "SEC-4944 - IDOR on /api/AddCalendarEvent"
IDOR on /api/AddCalendarEvent

Steps to reproduce:

Make the following request, change event id to id of the event from another organization

POST /api/AddCalendarEvent HTTP/2
Host: partners.acronis.com
Cookie:
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:103.0) Gecko/20100101 Firefox/103.0
Accept: application/json, text/javascript, */*; q=0.01
Accept-Language: en-US,en;q=0.5
Accept-En

[2022-08-09 17:35] prashantjadhav92 opened #121 "SEC-4943 - IDOR on /api/DeleteCalendarEvent"
IDOR on /api/DeleteCalendarEvent

Steps to reproduce:

Make the following request, change event id to id of the event from another organization

POST /api/DeleteCalendarEvent HTTP/2
Host: partners.acronis.com
Cookie:
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:103.0) Gecko/20100101 Firefox/103.0
Accept: application/json, text/javascript, */*; q=0.01
Accept-Language: en-US,en;q=0.5
Acc

[2022-08-09 17:36] prashantjadhav92 opened #122 "SEC-4945 - IDOR on /api/SaveProject"
IDOR on /api/SaveProject

Steps to reproduce:

Make the following request, change opportunity id to id of the opportunity from another organization

POST /api/SaveProject HTTP/2
Host: partners.acronis.com
Cookie:
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:103.0) Gecko/20100101 Firefox/103.0
Accept: application/json, text/javascript, */*; q=0.01
Accept-Language: en-US,en;q=0.5
Accept-

[2022-08-09 17:39] prashantjadhav92 commented on #54
Client confirmed this to be fixed.

[2022-08-09 17:40] #54 closed

[2022-08-09 17:42] prashantjadhav92 opened #123 "SEC-4900 - IDOR on /setup/organization/planning/<org_ID"
IDOR on GET request to /setup/organization/planning/<org_ID via <org_ID> parameter

Open https://partners.acronis.com/setup/organization/planning/<org_ID> wit h<org_ID> of any other organization. See that data is accessible. Example: https://partners.acronis.com/setup/organization/planning/23112

Fix: It must not be possible to access data of other organizations

[2022-08-09 17:50] prashantjadhav92 opened #124 "SEC-4898 - IDOR on /setup/contact/company/info/{account_id}/false"
IDOR on /setup/contact/company/info/{account_id}/false

Steps to Reproduce:
In the request to /setup/contact/company/info/{account_id}/false change [account_id] to the ID of the account from another organization and see that data about this account is accessible.
Request to this page is sent from https://partners.acronis.com/#connections/accounts -> any account -> info

Fix: It must not be possibl

[2022-08-09 17:51] prashantjadhav92 opened #125 "SEC-4902 - IDOR on /api/GetContactsForEmail via emailid parameter"
IDOR on /api/GetContactsForEmail via emailid parameter

Steps to reproduce:
* with (A) account go to https://partners.acronis.com/#communicate/email and choose any blast you have there
* Click View -> Recipients
* Repeat POST request to /api/GetContactsForEmail with emailid from another organization (in both fields)
* See recipients for email from other organization

Fix: It must not be possible t

[2022-08-09 17:52] prashantjadhav92 opened #126 "SEC-4927 - IDOR on /api/SaveAccount allowing to change account from another organization"
IDOR on /api/SaveAccount allowing to change account from another organization

Steps to reproduce:
Make the following request. Change accountId value to ID of the account from another organization and send the request

POST /api/SaveAccount HTTP/2
Host: partners.acronis.com
Cookie: [COOKIES]
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:103.0) Gecko/20100101 Firefox/103.0
Accept: applic

[2022-08-09 17:53] prashantjadhav92 opened #127 "SEC-4926 - IDOR via /api/copyemails allows to copy emails from other organizations"
IDOR via  /api/copyemails  allows to copy emails from other organizations

Steps to reproduce:
Send the following request with id set to email from another organization. See that it was copied to your current organization and data is accessible

POST /api/copyemails HTTP/2
Host: partners.acronis.com
Cookie: [COOKIES]
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:103.0) Gecko/20100101 Fi

[2022-08-09 17:54] prashantjadhav92 opened #128 "SEC-4925 - IDOR via /communicate/email/<email_id>/interest"
IDOR via /communicate/email/<email_id>/interest

Steps to Reproduce:
Open: view-source:https://partners.acronis.com/communicate/email/<email_id>/interest with <email_id> of email in another organization. See data accessible. Example: view-source:https://partners.acronis.com/communicate/email/26535/interest

Fix: it must not be possible to access data of other organizations

[2022-08-09 17:55] prashantjadhav92 opened #129 "SEC-4924 - XSS on https://partners.acronis.com/#connections/accounts page in company name"
XSS on https://partners.acronis.com/#connections/accounts page in company name

Steps to reproduce:
Create contact with XSS payload in company name, xx" onmouseover="confirm(541515)
Go to https://partners.acronis.com/#connections/accounts
Move over company name and see js executed
![scrot_selection_Aug062022_002016](https://user-images.githubusercontent.com/31324885/183725497-a56f190a-33e9-47e1-97

[2022-08-09 17:57] prashantjadhav92 opened #130 "SEC-4930 - IDOR on /communicate/email/<email_id>/unsubscribed"
IDOR on /communicate/email/<email_id>/unsubscribed

Steps to reproduce:
Open view-source:https://partners.acronis.com/communicate/email/<email_id>/unsubscribed with email id from any other organization and see emails of users who are unsubscribed. I believe the same is possible with  bounced (/api/GetBouncedContactsForEmail) and spam (/api/GetSpamEmailContacts) endpoints.
Example: https://partners

[2022-08-10 11:30] PuneetRevclerx commented on #71
@shivmishra sir, @sunrao sir, I have checked the above mentioned security issue and also checked basic functionality on given branch (https://pr-51394.dvl.amp.vg) and it's working as expected.

[2022-08-10 11:41] PuneetRevclerx commented on #98
@prashantjadhav92 sir, I tried reproducing the above mentioned security issue by following the mentioned steps, but I didn't get any response from the sever.

![get activity feed](https://user-images.githubusercontent.com/102346181/183892276-c35f1a5a-0f8e-421b-be70-a02a8a7cb9b0.png)

Kindly provide more information about the issue so that I can reproduce it at my end.

[2022-08-10 11:47] IshantRevclerx commented on #99
@shaileshtayde Sir, I have checked above security issue and JS getting executed  when we Inject  javascript code in the import design input field.

![image](https://user-images.githubusercontent.com/92088937/183893167-e3896c3e-7e72-4eff-8f4b-82836f5f7b2e.png)

[2022-08-10 12:11] IshantRevclerx commented on #102
@shaileshtayde Sir, I have checked above security issue and JS is getting executed by following the mentions steps.

![Ticket 102](https://user-images.githubusercontent.com/92088937/183897514-484e1276-d6d1-469c-a0ba-6ab994959874.png)

[2022-08-10 12:23] PuneetRevclerx commented on #117
@shaileshtayde sir, I have checked the above security issue and JS is getting executed by following the above mentioned steps.

![image](https://user-images.githubusercontent.com/102346181/183899934-1be4219a-2224-4787-812c-40904dba375f.png)

[2022-08-10 17:57] prashantjadhav92 commented on #98
@PuneetRevclerx I have asked the client for additional details.

[2022-08-10 18:04] prashantjadhav92 opened #131 "SEC-4450 - IDOR to get email files of any user"
An IDOR that lets me get Attachments on any email of users in different Orgs.

Reproduction:
visit endpoint /media/email/[ email_id ]/preview
replace the email_id with the an id of a second user in different Org
you'll find that you can access his/her embedded attachment in his/her email

https://user-images.githubusercontent.com/31324885/183984924-d1e0e959-6663-46e6-a4d8-695ac972315c.mp4

[2022-08-10 18:32] prashantjadhav92 opened #132 "SEC-4479 - SXSS in (companyEmail) parameter in Company Settings"
A Stored-XSS in company settings at [companyEmail] parameter

Steps to reproduce:
1. go to company settings
2. click save to change the settings and intercept the request until you find this endpoint /api/SaveOrganization
3. put this XSS payload https://laz0rde.com\"onmouseover=\"alert('XSS')
4. go again and hover on the [companyEmail] payload and you will see the popup

[2022-08-10 18:34] prashantjadhav92 opened #133 "SEC-4448 - Stored-XSS via Offline Activity Name"
Steps To Reproduce:
1. Create Contact
2. Create Offline Activity for the contact with this name: XSS' onmouseover='confirm(164)' x='x
3. Create list then add the contact to the new list
4. Share the list with the victim, whether within the same organization or another organization
5. Visit this page with the victim account: https://partners.acronis.com/#connections/contacts
6. You will notice the

[2022-08-10 19:56] prashantjadhav92 opened #134 "SEC-4935 - IDOR via /calendarevent/view/<id>"
IDOR on /calendarevent/view/<id>

Steps to reproduce:
Open: view-source:https://partners.acronis.com/calendarevent/view/<id>  with id of calendar event from any other organization and see information about the event.

Example: https://partners.acronis.com/calendarevent/view/11

Fix: it must not be possible to access data of other organizations

[2022-08-10 19:58] prashantjadhav92 opened #135 "SEC-4937 - IDOR on /connections/projectlist/<list_id>/notification endpoint"
IDOR on /connections/projectlist/<list_id>/notification

Steps to reproduce:
Open view-source:https://partners.acronis.com/connections/projectlist/<list_id>/notification endpoint with list id from any other organization and see notifications settings and to-dos.

Example: https://partners.acronis.com/connections/projectlist/146/notification

Fix: it must not be possible to access data of other org

[2022-08-10 19:59] prashantjadhav92 opened #136 "SEC-4936 - IDOR on /contacts/offline/edit/<id>/1/ endpoint"
IDOR on /contacts/offline/edit/<id>/1/

Steps to reproduce:
Open view-source:https://partners.acronis.com/contacts/offline/edit/<id>/1/ with activity id from any other organization and see activity of contact from another organization.

Example: https://partners.acronis.com/contacts/offline/edit/52/1/

Fix: it must not be possible to access data of other organizations

[2022-08-10 20:44] prashantjadhav92 opened #137 "SEC-4931 - IDOR on /communicate/email/<email_id>/unopened"
POST request to /api/GetUnopenedContactsForEmail, where email id parameter might be changed to id of email in another organization.

Steps to reproduce:
Open

view-source:https://partners.acronis.com/communicate/email/<email_id>/unopened
with email id from any other organization and see emails of users who
are unsubscribed.
Example: https://partners.acronis.com/communicate/email/26535/unopened

Fi

[2022-08-10 21:01] prashantjadhav92 opened #138 "SEC-4455 - Endpoint allows to access all customers files. [/gallery/documents/[File_ID]/edit/edit]"
An endpoint allows to access all customers files like [ images, documents, videos, pdfs, etc]

Steps To Reproduce:
1. Login
2. Visit this URL https://partners.acronis.com/gallery/documents/[File_ID]/edit/edit
3. Type any file id in URL, then click view page source.

This is similar to the issue https://github.com/MindMatrix/SecurityTracker/issues/61

[2022-08-10 21:05] prashantjadhav92 opened #139 "SEC-4449 - IDOR allows to access all customers files. [Via ThumbnailID Parameter]"
Steps To Reproduce:

Login https://partners.acronis.com/login
Visit this page https://partners.acronis.com/#gallery/documents/assets
Click edit on any document
Click on the Thumbnail input and choose an image
Intercept the request before click Save .
You will find this API endpoint /api/RenameFile
Change the thumbnailID value to any file ID
Click forward in Burp
Visit this link view-source:https:/

[2022-08-11 15:22] PuneetRevclerx commented on #95
@shaileshtayde Sir, the opportunity record was not shared with the user and also he didn't had the permission to view other organization's opportunity records.

[2022-08-11 16:51] shaileshtayde commented on #64
@prashantjadhav92 I've discussed with @cphillips83 about the same. and it could be addressed by the encrypted clean URLs which can't be tempered. this is a to-do item in Chris's plate.

[2022-08-12 05:55] PuneetRevclerx commented on #116
@shaileshtayde sir, I have checked the above security issue and JS is getting executed by adding script in the description field.
![image](https://user-images.githubusercontent.com/102346181/184293223-ee25949a-31cd-479e-876f-58b7dfe1722a.png)

[2022-08-12 06:22] IshantRevclerx commented on #127
@shaileshtayde Sir, I have checked above mentioned security issue and user can copy emails of other organization's user by following the above mentioned steps.

User Name : puneet security
Company Name : Automation Testers

[2022-08-12 06:33] IshantRevclerx commented on #136
@shaileshtayde Sir, I have checked above security issue and user can check the offline activity of other orgnaization's user by following the above mentioned steps.

User Name : Security Ishant
Company Name : Automation Testers

[2022-08-12 06:45] PuneetRevclerx commented on #137
@shaileshtayde sir, I have checked the above security issue and user can see contacts of other organization's user by following the above mentioned steps

User: puneet security
Company: Automation Testers

[2022-08-12 07:02] steffisam commented on #77
@PuneetRevclerx  I have fixed it. Can you please check.
url: https://pr-51364.dvl.amp.vg/

[2022-08-12 07:13] Vish-Patil commented on #91
@sunrao so only site/super admin or channel manager of organization can approve/reject deal request.
please approve.

[2022-08-12 07:24] PuneetRevclerx commented on #77
URL: https://pr-51364.dvl.amp.vg/#manage/campaigns/socialdrip
User: puneet Security
Company: Automation Testers

@steffisam I have checked the above issue on given branch.

- For any Social Drip>> Click on Edit button>> Click on view dropdown and select info
- Model will show "Error 500" on the model.

![image](https://user-images.githubusercontent.com/102346181/184304531-3409d91b-a759-4fcb-b4a5-8

[2022-08-12 09:05] sunrao commented on #91
@Vish-Patil
Site/Super Admins
Channel Manager of the Organization Group who has Deal Admin permission

[2022-08-12 09:45] PuneetRevclerx commented on #138
@prashantjadhav92 sir, I have checked the above security issue and during my testing I was not been able to access documents or other user (in same organization and in different organization) by following the mentioned steps. This issue along with images issue was fixed in ticket no. 61.

Kindly provide some additional information or screen recording so that I can reproduce the above issue at my e

[2022-08-12 10:00] IshantRevclerx commented on #139
@shaileshtayde Sir, I have checked above security issue and user can access the images of other organization's user by following the above mentioned steps.

User Name : Security Ishant
Company Name : Automation Testers

[2022-08-12 13:21] steffisam commented on #77
@PuneetRevclerx Sir can u please check it. https://pr-51364.dvl.amp.vg/

[2022-08-12 15:14] sunrao commented on #91
![image](https://user-images.githubusercontent.com/6465639/184385629-7d15c43d-46d5-4960-9034-a7be621136b4.png)

Make this as a check box in the "Features" as "Deal Admin"

If the check box is checked then based on permission the Deal Approval menu and the deals will be displayed as per the sheet below

[User and Org Permission-based Deal Registration Approval page.xlsx](https://github.com/MindMatr

[2022-08-15 05:29] prashantjadhav92 opened #140 "#1405008, #1405251 Stored XSS in fields for video content"
Steps to reproduce:
Open <URL>/#gallery/videos and copy ID of any video (<VIDEO_ID>)
Set corresponding values instead of <ASPXAUTH_COOKIE>, <X_CSRF_TOKEN> and <VIDEO_ID> and make the following request

Open preview for the video and see JavaScript payload from field "name" executed (alert with message "1")
Set corresponding values instead of <ASPXAUTH_COOKIE>, <X_CSRF_TOKEN> and <VIDEO_ID> and mak

[2022-08-15 05:35] prashantjadhav92 opened #141 "#1449932 Stored XSS using file renaming"
It is possible to change uploaded file extension to .svg, which leads to Cross-Site Scripting attack possibility. For example, the following file was uploaded: https://partners.acronis.com/file/ccweldtavhlnc/svg.txt, if extension is changed to .svg, XSS payload will be executed: https://partners.acronis.com/file/ccweldtavhlnc/svg.svg

[2022-08-16 04:45] PuneetRevclerx commented on #77
@sunrao sir, @tajindersharma sir, I have checked the above security issue and basic functionality on given branch (https://pr-51364.dvl.amp.vg/) and its working as expected now.

[2022-08-16 05:10] IshantRevclerx commented on #103
@prashantjadhav92 Sir, I have checked above security issue, when I try to access contacts of other organization's user, I get the error message of "No access"
![image](https://user-images.githubusercontent.com/92088937/184802363-b71b4065-e48c-453a-8090-9753589dca7b.png)

Kindly provide some additional information or screen recording so that i can reproduce the same issue at my end.

[2022-08-16 05:12] PuneetRevclerx commented on #104
@prashantjadhav92  Sir, I have checked above security issue, when I try to access contacts of other organization's user, I get the error message of "No access"
![image](https://user-images.githubusercontent.com/102346181/184802646-009cbc56-38cb-4c78-a119-09e63c711107.png)

[2022-08-16 06:29] IshantRevclerx commented on #106
@shaileshtayde Sir, I have checked above security issue and using above mentioned steps, user can set the filters created by other organization's user.
User Name : security ishant
Company Name : Automation Testers

[2022-08-16 06:32] PuneetRevclerx commented on #105
@shaileshtayde sir, I have checked the above security issue and by following above mentioned steps user can access the links of email id created by other organization's user.

User: security ishant
Company: Automation testers

[2022-08-16 11:11] PuneetRevclerx commented on #112
@prashantjadhav92 sir, similar issue (#22)  has already been reported. I have verified that issue and it's currently assigned to the developer.
Shall we close this issue?

[2022-08-16 11:27] IshantRevclerx commented on #113
@shaileshtayde Sir, I have checked above security issue and user can access the projectinfo of other organization's user by following the above mentioned steps.

User Name : security ishant
Comapny Name : Automation Testers

[2022-08-16 13:01] prashantjadhav92 commented on #112
@PuneetRevclerx they both might look the same but are tested using different endpoints by the client. The steps on both the issues are different.

[2022-08-16 13:48] prashantjadhav92 opened #142 "SEC-4452 - IDOR to get email files of any user"
An IDOR that lets get Attachments on any email of users in different Orgs.
When you try to send a file/image/video to another user, 2 requests are fired.
The first one is to prepare the email template and put that attachment in it.
The second is to send the email to recipient user.
The problem exists in the 2nd HTTP request which depends on a parameter called email_id which refers to that email te

[2022-08-16 13:52] prashantjadhav92 commented on #142
Video attached.

https://user-images.githubusercontent.com/31324885/184896541-51212ad4-341d-4e96-9d33-4164b415d6f9.mp4

[2022-08-16 13:58] prashantjadhav92 commented on #103
@IshantRevclerx I have asked the client to share the steps.

[2022-08-16 14:09] prashantjadhav92 commented on #138
I have asked the client to check again and provide the steps.

[2022-08-16 14:21] PuneetRevclerx commented on #112
@prashantjadhav92 sir, I have checked both the issues and they are same. In both issues we are implementing XSS on filters in the image gallery. Only difference is, in this ticket we are adding XSS payload directly from the UI by editing the image and in ticket no. 22 we are doing the same process through /api/SetFilters.

[2022-08-18 09:40] IshantRevclerx commented on #142
@shaileshtayde Sir, I have checked above security issue, user can send email  which contains the email template and attachments of the one created by other organization's user, by following the above mentioned steps

User Name : Security Ishant
Company Name : Automations Testers

[2022-08-18 10:24] shivmishra commented on #93
https://github.com/MindMatrix/AMP/pull/51608

fixed in this PR @sunrao @IshantRevclerx

[2022-08-18 10:24] shivmishra commented on #94
https://github.com/MindMatrix/AMP/pull/51608

fixed in this PR @sunrao @IshantRevclerx

[2022-08-18 10:25] shivmishra commented on #102
https://github.com/MindMatrix/AMP/pull/51608

fixed in this PR @sunrao @IshantRevclerx

[2022-08-18 10:59] PuneetRevclerx commented on #141
@shaileshtayde sir, I have checked the above security issue on https://partners.acronis.com/#gallery/documents/assets and JS is getting executed if uploaded text file has JS script in it.

User: pemyqy@mailinator.com

[2022-08-18 11:32] Vish-Patil commented on #73
@tajindersharma can you please check this. its related to PPT.

[2022-08-18 11:39] YogendraMatkar commented on #99
@IshantRevclerx, this issue is fixed now, u can test on https://pr-51609.dvl.amp.vg/

[2022-08-18 11:40] Vish-Patil commented on #82
@sunrao please get this tested in PR - 51610

[2022-08-18 11:49] sunrao commented on #82
@PuneetRevclerx Pl. test this

[2022-08-18 14:21] prashantjadhav92 commented on #104
@PuneetRevclerx I have shared these details with the client.

[2022-08-18 14:25] prashantjadhav92 commented on #112
@PuneetRevclerx when this is fixed, will it be fixed for both?

[2022-08-18 21:29] sunrao commented on #74
@IshantRevclerx Pl. test this

[2022-08-19 03:33] PuneetRevclerx commented on #112
@prashantjadhav92 Yes sir.

[2022-08-19 06:20] PuneetRevclerx commented on #82
@Vish-Patil sir, I have tested above issue on given branch (https://pr-51610.dvl.amp.vg/). I am not able to add the XSS payload from the UI but, I can add the same payload using the api (/api/UpdateMdfFundPlanInfo) for the fund plan name and (/api/UpdateMdfFundPlanActivity) for the activity name. After sending the request, payload is getting saved and JS is getting executed.

![image](https://user

[2022-08-19 07:11] IshantRevclerx commented on #74
@tajindersharma Sir, I have checked above security issue on the given branch ( https://pr-51606.dvl.amp.vg/) JS is not getting executed. but on the Info page, if I try to remove any added filter its not getting removed.

![image](https://user-images.githubusercontent.com/92088937/185562535-a24e78fd-9551-405c-a7fd-83f8e7be0f3c.png)

[2022-08-19 09:47] IshantRevclerx commented on #102
@shivmishra Sir, I have checked above security issue on the given branch ( https://pr-51608.dvl.amp.vg/ ), JS is still getting executed.
User Name : Security Ishant
Company Name : Automation Testers

![image](https://user-images.githubusercontent.com/92088937/185591949-a9e848ed-e32b-491d-85e6-c3f14c3766db.png)

[2022-08-19 09:55] PuneetRevclerx commented on #94
@shivmishra sir, @sunrao sir, I have checked the above security issue on the given branch (https://pr-51608.dvl.amp.vg/) and I have also checked the basic functionality and it's working as expected now.

[2022-08-19 10:00] IshantRevclerx commented on #93
@shivmishra, @sunrao Sir I have checked above mentioned security tickets on the given branch (https://pr-51608.dvl.amp.vg/), I have also checked basic functionality. and Its working as expected now.

[2022-08-19 10:44] IshantRevclerx commented on #99
@Vish-Patil Sir and @YogendraMatkar Sir, I have checked above security issue on the given branch ( https://pr-51609.dvl.amp.vg/), with the paylod mentioned in the attached text file and JS still getting executed.
[Payload.txt](https://github.com/MindMatrix/SecurityTracker/files/9381488/Payload.txt)

User Name : Security Ishant
Company Name : Automation Testers

![image](https://user-images.githubu

[2022-08-19 13:19] prashantjadhav92 commented on #112
Thanks for confirming, @PuneetRevclerx I will close this case.

[2022-08-19 14:15] YogendraMatkar commented on #99
@IshantRevclerx, this scenario is now handled, Also please test with script tag as in previous built we have restricted it.

eg :
<br onkeypress="alert(1)" contenteditable>test</br>
<button onclick="alert("Hi")">Click</button>
**<script>alert("Virus!!!!!!")</script>**

[2022-08-22 04:07] IshantRevclerx commented on #44
@prashantjadhav92 Sir, Above security issue has been resolved, and I have verified it on production.

[2022-08-22 04:11] PuneetRevclerx commented on #77
@prashantjadhav92 sir, above issue has been resolved and I have verified it on production.

[2022-08-22 04:12] PuneetRevclerx commented on #71
@prashantjadhav92 sir, above security issue has been resolved and I have verified it on production.

[2022-08-22 04:13] PuneetRevclerx commented on #47
@prashantjadhav92 sir, above security issue has been resolved and I have verified it on production.

[2022-08-22 06:44] IshantRevclerx commented on #99
@Vish-Patil, @YogendraMatkar, @sunrao sir, I have checked above security issue and also I have checked basic functionality on the given branch ( https://pr-51609.dvl.amp.vg/ ) and its working as expected.

[2022-08-22 07:00] YogendraMatkar commented on #90
@IshantRevclerx, this issue is now fixed, plz test it on https://pr-51641.dvl.amp.vg

[2022-08-22 10:58] PuneetRevclerx commented on #132
@prashantjadhav92 sir, I have checked the above security issue and similar issue has already been created (#23) and is already assigned to the developer.

[2022-08-22 11:01] PuneetRevclerx commented on #135
@shaileshtayde sir, I have checked the above security issue and user is able to access the notification settings and to-dos of the project list created by other organization's user.

User: puneet security
Company: Automation testers.

[2022-08-22 11:13] IshantRevclerx commented on #134
@prashantjadhav92 Sir, I have checked above security issue, am not able to access data of calendarevents created by other organization's user.
Kindly provide screen recording or some additional info, so I can reproduce the issue on my end.

[2022-08-22 12:04] IshantRevclerx commented on #140
@prashantjadhav92 Sir, I have checked above security issue, I am able to execute JS payload on the name filed but when i trying to do the same with embed link filed, JS is not getting execute.
Kindly provide additional info realted to embed filed , so i can reproduce issue on my side.

[2022-08-22 13:01] sunrao commented on #73
@IshantRevclerx Pl. test this

[2022-08-22 14:30] prashantjadhav92 commented on #44
@IshantRevclerx I have asked the client to verify the same.

[2022-08-22 14:34] prashantjadhav92 commented on #77
@PuneetRevclerx I have asked the client to verify.

[2022-08-22 14:48] shivmishra commented on #22
https://github.com/MindMatrix/AMP/pull/51707
check here

[2022-08-22 14:48] shivmishra commented on #83
https://github.com/MindMatrix/AMP/pull/51707
check here

[2022-08-22 14:48] shivmishra commented on #2
https://github.com/MindMatrix/AMP/pull/51707
check here

[2022-08-22 14:49] shivmishra commented on #78
https://github.com/MindMatrix/AMP/pull/51707
check here

[2022-08-22 14:50] shivmishra commented on #102
https://github.com/MindMatrix/AMP/pull/51707
check here

[2022-08-22 15:02] Vish-Patil commented on #89
@shaileshtayde deal is nothing but contact, and save contact API is getting called. so please assign it to respective developer.

[2022-08-22 15:25] prashantjadhav92 commented on #47
@PuneetRevclerx I have asked the client to confirm.

[2022-08-22 15:29] prashantjadhav92 commented on #132
Similar issue https://github.com/MindMatrix/SecurityTracker/issues/23

[2022-08-22 15:29] #132 closed

[2022-08-22 15:32] prashantjadhav92 commented on #140
@IshantRevclerx I have asked the client for additional details.

[2022-08-22 20:09] prashantjadhav92 commented on #98
@PuneetRevclerx here are more details from the client. Can you please check these?
It is possible to make this request manually and obtain data. The request is the following (it is required to set correct <SESSION>, <CSRF_TOKEN> for currently logged in user.

Here is example of the test client performed:

{"result":{"feed":"[{\"msg\":\"opened email <span class='keyword'><a class='keyword' href='[h

[2022-08-22 21:53] prashantjadhav92 commented on #77
@PuneetRevclerx I was able to reproduce this on Acronis production. Please check again.

[2022-08-23 04:46] PuneetRevclerx commented on #77
@tajindersharma sir, I have checked the issue on live and it's working fine
When a user tries to access social drip of other organization's user then page get's blank.
![image](https://user-images.githubusercontent.com/102346181/186071432-0e692531-f278-439e-96b0-0ea196f23a72.png)

But, on Acronis user is still able to access social drip of other organization's user.
![image](https://user-images.gi

[2022-08-23 05:02] IshantRevclerx commented on #73
@tajindersharma Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51698.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-23 05:33] IshantRevclerx commented on #78
@shivmishra Sir, I have checked above security issue on the given branch ( https://pr-51707.dvl.amp.vg/ ) JS is still getting executed.
![image](https://user-images.githubusercontent.com/92088937/186077288-af3d5c67-5586-4407-976c-16d0313e3631.png)

[2022-08-23 06:39] shivmishra commented on #78
should be fixed after branch build

[2022-08-23 09:10] IshantRevclerx commented on #102
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch (https://pr-51707.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-23 09:17] IshantRevclerx commented on #90
@Vish-Patil Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch (https://pr-51641.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-23 09:22] IshantRevclerx commented on #83
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51707.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-23 09:28] IshantRevclerx commented on #84
@shivmishra Sir, @sunrao Sir, I have checked above security Issue and basic functionality on the given branch ( https://pr-51707.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-23 09:31] PuneetRevclerx commented on #22
@shivmishra sir, @sunrao sir, I have checked the above security issue and basic functionality on the given branch (https://pr-51707.dvl.amp.vg/) and it's working as expected now.

[2022-08-23 09:31] PuneetRevclerx commented on #2
@shivmishra sir, @sunrao sir, I have checked the above security issue and basic functionality on the given branch (https://pr-51707.dvl.amp.vg/) and it's working as expected now.

[2022-08-23 09:44] IshantRevclerx commented on #78
@shivmishra Sir, I am still facing the same issue on the given branch.

[2022-08-23 10:45] Vish-Patil commented on #85
https://github.com/MindMatrix/AMP/pull/51735

[2022-08-23 10:46] Vish-Patil commented on #85
@sunrao please get this tested in following PR #51735

[2022-08-24 05:40] steffisam commented on #74
@IshantRevclerx the issue is fixed can you please check.
url: https://pr-51606.dvl.amp.vg/#manage/campaigns/socialdrip

[2022-08-24 07:26] YogendraMatkar commented on #72
@PuneetRevclerx, this scenario is now handled, plz check on https://pr-51739.dvl.amp.vg/

[2022-08-24 09:33] IshantRevclerx commented on #29
@pKanth Sir, I have checked above security issue on the given branch ( https://pr-51754.dvl.amp.vg/ ) and JS is still getting executed.
![image](https://user-images.githubusercontent.com/92088937/186384228-932ed17c-4dc1-4cc5-a4c9-5ea98ac6264a.png)

[2022-08-24 10:05] IshantRevclerx commented on #74
@tajindersharma Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51606.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-24 11:07] tajindersharma commented on #77
@PuneetRevclerx Can you please check if the new release is sent to Acronis. As Acronis release process is different then the other installs.

[2022-08-24 11:51] PuneetRevclerx commented on #133
@shaileshtayde sir, I have checked above security issue and JS is getting executed by add XSS payload in the offline activity name and then checking it in the report.
![image](https://user-images.githubusercontent.com/102346181/186411547-ea8677af-9735-4dcd-8cbe-758b1c637632.png)

[2022-08-24 11:57] IshantRevclerx commented on #114
@shaileshtayde Sir, I have checked above security issue and Js getting executed by following above mentioned steps.

![image](https://user-images.githubusercontent.com/92088937/186412355-03e8c5da-4f33-46f0-9808-7191c8789257.png)

[2022-08-24 12:59] MeghanaThakekar commented on #113
@shaileshtayde @sunrao @pKanth - this is because we have permission like "If logged in user has project view permission and logged in user's current company id is similar to the project id then we are allowing to access its info."
added in below PR

![image](https://user-images.githubusercontent.com/6465588/186424246-da2809ef-b8cf-42a4-9c5c-9c0c05016f0c.png)

[2022-08-24 13:36] shaileshtayde commented on #130
Verified it 2 different users of 2 diff organizations

[2022-08-24 13:59] shaileshtayde commented on #126
Permission needs to be fixed
![image](https://user-images.githubusercontent.com/6465652/186437927-db4b7617-fb85-486c-beba-059e3216522f.png)

[2022-08-24 14:03] shaileshtayde commented on #125
Marked query needs to be fixed**
![image](https://user-images.githubusercontent.com/6465652/186438770-51d824ca-9b39-4cec-80f8-8f3754b7bbe9.png)

[2022-08-24 14:35] MeghanaThakekar commented on #97
@shaileshtayde @sunrao -
We have check where If logged in user has project view permission and logged in user's current company id is similar to the project id then we are allowing to access the project.
What are the permission need to add?
![image](https://user-images.githubusercontent.com/6465588/186446160-2c121eec-dd87-4ebc-a65b-22b1e540fcac.png)

[2022-08-24 14:48] prashantjadhav92 commented on #47
Verified by the client.

[2022-08-24 14:48] #47 closed

[2022-08-24 14:51] prashantjadhav92 commented on #61
Verified by the client.

[2022-08-24 14:52] prashantjadhav92 commented on #12
Verified by the client.

[2022-08-24 14:52] #12 closed

[2022-08-24 15:08] shaileshtayde commented on #97
@pKanth can you please comment on the same.

[2022-08-24 15:16] prashantjadhav92 commented on #104
@PuneetRevclerx if you login to one of your test users and open this URL https://partners.acronis.com/connections/contact/10/1/, view page source, you will see Marcela.Vasquez@acronis.com contact information being pulled.

Similarly, change the number from 10 to 1 now, https://partners.acronis.com/connections/contact/1/1/ you will see my information being pulled in the view source.

This is what t

[2022-08-24 15:22] prashantjadhav92 commented on #103
@IshantRevclerx if you login to one of your test users and open this URL https://partners.acronis.com/connections/contacts/stats/10/true/1/, view page source, you will see marcela.Vasquez@acronis.com contact information being pulled.

Similarly, change the number from 10 to 1 now, https://partners.acronis.com/connections/contacts/stats/1/true/1/ you will see my information being pulled in the view

[2022-08-24 15:52] sunrao commented on #124
@shaileshtayde verified on MM.AMP.VG by using the URL of https://mm.amp.vg/#setup/contact/company/info/1265132/false (Account created by AP2)

visible for jasmine1_security (user doesn't have contacts permission also)

[2022-08-24 16:05] PuneetRevclerx commented on #122
@shaileshtayde sir, checked on dvl.main.amp.vg and one user can change all values of an opportunity  created by other organization's user.
Opportunity created by "Security Ishant"
Opportunity record changed using "puneet sucurity" user.

[2022-08-24 16:07] PuneetRevclerx commented on #119
@shaileshtayde sir, above issue is similar to #122

[2022-08-24 16:18] PuneetRevclerx commented on #115
@shaileshtayde sir, verified it on acronis2.sb.amp.vg/, user from 1 organization can see details of opportunity created by other organization's user.

user "Ishant Kshirsagar" was able to see and update opportunity created by "Security Test User".

[2022-08-24 16:20] PuneetRevclerx commented on #108
@shaileshtayde sir, kindly confirm where this API is getting called?

[2022-08-24 16:22] shaileshtayde commented on #108
@PuneetRevclerx /connections/contacts/stats/{Contact_ID}

[2022-08-24 16:26] PuneetRevclerx commented on #98
@prashantjadhav92 sir, I have checked the above issue and it's working fine now. User is not able to access the info of contacts created by other organization's users.
![image](https://user-images.githubusercontent.com/102346181/186472017-dee7fe11-fac9-42ce-add7-697ee4319ad8.png)

[2022-08-24 16:32] prashantjadhav92 commented on #98
@PuneetRevclerx is this verified on Acronis production?

[2022-08-24 16:35] sunrao commented on #97
@shaileshtayde @MeghanaThakekar
If the Opportunity Type is "Public" then Channel Managers/Super Admin/Site Admins can see the Opportunity records

If the Opportunity Type is "Non-Public" then only those whom the Opportunity is shared/Super Admin/Site Admin

[2022-08-24 16:38] PuneetRevclerx commented on #103
@shaileshtayde sir, I have checked above issue on partners.acronis.com/ and user is able to see the contact info of contacts created by other organization's users.
user "E1 Edited Straus" is able to visit both the links mentioned above comment and is able to see the contact info.

[2022-08-24 16:52] PuneetRevclerx commented on #104
@shaileshtayde sir, sir, I have checked above issue on partners.acronis.com/ and user is able to see the contact info of contacts created by other organization's users.
user "E1 Edited Straus" is able to visit the links mentioned above comment and is able to see the contact info.
Note: I am only able to reproduce this issue on partner.acronis.com and not on acronis SB, DVL main and mm live.

[2022-08-24 17:06] PuneetRevclerx commented on #98
@prashantjadhav92 Yes Sir.
![image](https://user-images.githubusercontent.com/102346181/186479942-1e618f07-9516-4add-8667-ba70d3f486f7.png)

[2022-08-24 17:18] PuneetRevclerx commented on #108
@prashantjadhav92 sir, above issue has been fixed and verified on acronis production. User is able to see details of his own contacts and not able to see the details of contacts created by other organization's user.
![image](https://user-images.githubusercontent.com/102346181/186482238-96f3cca3-9708-4128-9f90-8ac53221b753.png)

[2022-08-24 17:25] PuneetRevclerx commented on #107
@shaileshtayde sir, I have verified above issue and user is able to see the details of users who have opened the email by following the above steps.

[2022-08-24 17:26] prashantjadhav92 commented on #98
@PuneetRevclerx I have shared the update with the client.

[2022-08-24 17:29] PuneetRevclerx commented on #131
@shaileshtayde sir, I have checked above issue and user is able to see the attachments of the email created by other organization's user along with user's details.

[2022-08-24 17:31] prashantjadhav92 commented on #108
@PuneetRevclerx I have asked the Acronis team to verify.

[2022-08-24 17:35] IshantRevclerx commented on #101
@shaileshtayde Sir, In the api/SaveOrganization, we are not getting the following parameters photoid1, photoid2, photoid3, photoid4, photoid5, photoid6, f_50, f_51, f_52, f_53.
Kindly confirm.

[2022-08-25 04:55] PuneetRevclerx commented on #77
@prashantjadhav92 sir, release of Acronis was delayed, that's why the issue was reproduceable on Acronis. Now, release of Acronis is pushed and I have verified it on production.

[2022-08-25 05:39] IshantRevclerx commented on #85
@Vish-Patil Sir, I have checked above security issue on the given branch

[2022-08-25 05:49] IshantRevclerx commented on #85
@Vish-Patil Sir, I have checked above security issue on the given branch ( https://pr-51735.dvl.amp.vg/ ) and its working as expected.
But, the grid is not horizonatly scrolabel and some of the data is moving out of the page.
similar issue is on the other pages of MDF as well.
![image](https://user-images.githubusercontent.com/92088937/186583591-69f02173-762a-45a0-9bff-b3111f0521ab.png)

User Name

[2022-08-25 07:07] Mahimapatil commented on #107
@sunrao Done in https://pr-51803.dvl.amp.vg/

[2022-08-25 07:07] Mahimapatil commented on #137
@sunrao @sunrao Done in https://pr-51803.dvl.amp.vg/

[2022-08-25 07:17] shivmishra commented on #101
even we can fix for static column from photoid1, photoid2, photoid3, photoid4, photoid5, photoid6 but not for custom columns f_50, f_51, f_52, f_53.

[2022-08-25 07:56] YogendraMatkar commented on #76
@PuneetRevclerx, @prashantjadhav92 this issue is fixed now, please test it on https://pr-51805.dvl.amp.vg/

[2022-08-25 08:50] Vish-Patil commented on #85
@IshantRevclerx please check now.

[2022-08-25 08:53] PuneetRevclerx commented on #107
@Mahimapatil mam, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51803.dvl.amp.vg/) and it's working as expected now.

[2022-08-25 08:55] IshantRevclerx commented on #137
@Mahimapatil mam, @sunrao Sir I have checked above security issue and basic functionality on the given branch ( https://pr-51803.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-25 09:10] MeghanaThakekar commented on #92
@IshantRevclerx  @prashantjadhav92 @shaileshtayde - fixed
branch :  https://pr-51816.dvl.amp.vg/

[2022-08-25 09:13] Vish-Patil commented on #82
resolved

[2022-08-25 09:27] shaileshtayde commented on #113
@pKanth Can you please look into this.

[2022-08-25 09:38] MeghanaThakekar commented on #89
@IshantRevclerx @prashantjadhav92 @shaileshtayde - fixed
branch : https://pr-51816.dvl.amp.vg/

[2022-08-25 09:53] PuneetRevclerx commented on #80
@pKanth sir, @sunrao sir, I have checked the above security issue and basic functionality on the given branch (https://pr-51754.dvl.amp.vg/) and JS is not getting executed now.

On the given branch, user is not able to delete any of the scoring model and main issue (#51768) is already created for it. Other than that basic functionality is working as expected.

[2022-08-25 10:07] shivmishra commented on #124
@sunrao what permission expected to access any account?

[2022-08-25 10:10] Vishal-Datla commented on #135
@sunrao @shaileshtayde This is fixed in above PR. Please assign it for testing

[2022-08-25 10:28] IshantRevclerx commented on #92
@MeghanaThakekar mam, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51816.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-25 10:29] PuneetRevclerx commented on #89
@MeghanaThakekar mam, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51816.dvl.amp.vg/) and it's working as expected now.

[2022-08-25 10:31] shivmishra commented on #139
@IshantRevclerx @sunrao fixed and should be tested here https://github.com/MindMatrix/AMP/pull/51821

[2022-08-25 10:31] shivmishra commented on #124
@IshantRevclerx @sunrao fixed and should be tested here https://github.com/MindMatrix/AMP/pull/51821

[2022-08-25 10:32] shivmishra commented on #126
@IshantRevclerx @sunrao fixed and should be tested here https://github.com/MindMatrix/AMP/pull/51821

[2022-08-25 10:36] Vishal-Datla commented on #113
@shaileshtayde It should be good in this PR

[2022-08-25 10:49] MeghanaThakekar commented on #103
@IshantRevclerx @prashantjadhav92 @shaileshtayde - fixed
branch : https://pr-51816.dvl.amp.vg/

[2022-08-25 11:10] IshantRevclerx commented on #103
@MeghanaThakekar mam, @sunrao Sir, @shaileshtayde Sir, The above issue is reproduceble on acronis production only.
How do i verify on the given branch?

[2022-08-25 11:19] Mahimapatil commented on #105
@sunrao @IshantRevclerx Also check this issue in same branch
 https://pr-51803.dvl.amp.vg/

[2022-08-25 11:24] Mahimapatil commented on #68
@sunrao Can you please ask tester to verify this issue too in same branch https://pr-51803.dvl.amp.vg/

[2022-08-25 11:28] MeghanaThakekar commented on #103
@IshantRevclerx - Its reproducible on local also, try to reproduce on main

[2022-08-25 11:28] MeghanaThakekar commented on #67
@IshantRevclerx @prashantjadhav92 @shaileshtayde - fixed
branch : https://pr-51816.dvl.amp.vg/

[2022-08-25 11:30] shivmishra commented on #127
should be fixed here https://github.com/MindMatrix/AMP/pull/51803

[2022-08-25 11:51] IshantRevclerx commented on #67
@MeghanaThakekar mam, The above issue is still reproducable on the given branch (https://pr-51816.dvl.amp.vg/)

[2022-08-25 11:53] MeghanaThakekar commented on #67
@IshantRevclerx - branch is in build

[2022-08-25 12:15] MeghanaThakekar commented on #103
@IshantRevclerx - not able to reproduce now I added the permission on that page load, there It was missing.
@sunrao @shaileshtayde - please help to reproduce on dvl or test on acronis production

[2022-08-25 12:29] PuneetRevclerx commented on #127
@shivmishra sir, @sunrao sir, I have checked the above security issue and basic functionality on the given branch (https://pr-51803.dvl.amp.vg/) and it's working as expected now.

[2022-08-25 12:31] shaileshtayde commented on #104
@PuneetRevclerx @IshantRevclerx This issue is reproduceable **across installs**; Basically, the contact you're checking is Partner Contact(User's contact)

https://main.dvl.amp.vg/#connections/contact/29 (user > mitali.thakur@revclerx.com)
https://main.dvl.amp.vg/#connections/contact/31 (user > kaurnirmal077@gmail.com)

We usually don't see these contacts because these are hidden ones. This should

[2022-08-25 13:40] shivmishra commented on #70
should be fixed here https://github.com/MindMatrix/AMP/pull/51821

[2022-08-25 13:56] shivmishra commented on #69
@IshantRevclerx i didnt get here, can we talk to understand the issue

[2022-08-25 14:27] PuneetRevclerx commented on #124
@shivmishra sir, @sunrao sir, I have checked the above security issue and basic functionality on the given branch (https://pr-51821.dvl.amp.vg/) and it's working as expected now.

[2022-08-25 14:30] IshantRevclerx commented on #126
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51821.dvl.amp.vg/ ) and its working as expected now.

[2022-08-25 14:38] IshantRevclerx commented on #139
@shivmishra Sir, I have checked above security issue on the given branch ( https://pr-51821.dvl.amp.vg/), User is not able to set any of his own image as the thumbnail image of any document from the UI.

[2022-08-25 14:53] shivmishra commented on #139
@IshantRevclerx plz check again after build if not working then provide documentid and imageid also to verify

[2022-08-25 15:01] PuneetRevclerx commented on #104
@shaileshtayde sir, I have checked above security issue on given branch (pr-51827.dvl.amp.vg) and it's working as expected now.

[2022-08-25 15:08] prashantjadhav92 commented on #77
Thanks, @PuneetRevclerx. I have asked the client to verify.

[2022-08-25 15:50] IshantRevclerx commented on #139
@shivmishra Sir, User is still

[2022-08-25 15:52] IshantRevclerx commented on #139
@shivmishra Sir, User is still not able to set any of his own image as the thumbnail image of any document from the UI.
User Name : Security Ishant
Company Name : Automation Testers
Document ID : 6090
 Image ID : 5939

[2022-08-25 16:05] MeghanaThakekar commented on #130
@IshantRevclerx @prashantjadhav92 @shaileshtayde - fixed
branch : https://pr-51816.dvl.amp.vg/
@sunrao - also check email report section.

[2022-08-25 16:06] MeghanaThakekar commented on #128
@IshantRevclerx @prashantjadhav92 @shaileshtayde - fixed
branch : https://pr-51816.dvl.amp.vg/
@sunrao - also check email report section.

[2022-08-25 16:06] IshantRevclerx commented on #67
@MeghanaThakekar mam, @sunrao Sir, I have checked above security issue and basic functionality on the given branch (https://pr-51816.dvl.amp.vg/) and Its working as expected now.

[2022-08-25 16:30] PuneetRevclerx commented on #128
@MeghanaThakekar mam, @sunrao sir, I have checked above security issue and basic functionality on the given branch (pr-51816.dvl.amp.vg) and it's working as expected now.

[2022-08-25 16:30] MeghanaThakekar commented on #125
@shaileshtayde - the issue is because of AssertAccess
![image](https://user-images.githubusercontent.com/6465588/186719195-19e6e8b4-6e2a-486f-a007-13b6f977fdfc.png)
where we are having check
![image](https://user-images.githubusercontent.com/6465588/186719719-051be28a-975d-4920-84c3-87e2eb1ecb04.png)

@shaileshtayde  updated the code

@IshantRevclerx @prashantjadhav92 - fixed
branch : https://pr-5

[2022-08-25 16:33] IshantRevclerx commented on #130
@MeghanaThakekar mam, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51816.dvl.amp.vg/ ) and its working as expected now.

[2022-08-25 16:41] IshantRevclerx commented on #125
@MeghanaThakekar, @sunrao Sir I have checked above security issue and basic functionality on the given branch ( https://pr-51816.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-25 17:35] Mahimapatil commented on #130
@MeghanaThakekar This can be fixed by changes in PR https://github.com/MindMatrix/AMP/pull/51803. You can discard your changes for this issue from your branch.

[2022-08-25 17:37] Mahimapatil commented on #128
@MeghanaThakekar Same with this issue too.

[2022-08-25 17:38] Mahimapatil commented on #125
@MeghanaThakekar Same with this too.

[2022-08-26 05:14] MeghanaThakekar commented on #128
@Mahimapatil - can you mention the specific changes? as this was signed of from my branch

[2022-08-26 05:15] MeghanaThakekar commented on #130
@Mahimapatil - can you mention the specific changes? as this was signed of from my branch

[2022-08-26 05:15] MeghanaThakekar commented on #125
@Mahimapatil - can you mention the specific changes? as this was signed of from my branch

[2022-08-26 05:29] IshantRevclerx commented on #85
@Vish-Patil Sir, above Issue is still there on MDF Approval Request Page( Partial Reimbursement, Reject Request) and MDF Fund Request page ( Rejected Request).

![image](https://user-images.githubusercontent.com/92088937/186828652-1a95f558-2eac-4fb1-9424-089b477ad8d0.png)

In the above screenshoot "Updated on" column moved out of the page and there is no horizantal scrol available to see the colum

[2022-08-26 05:48] shivmishra commented on #139
@IshantRevclerx check now, that should be fixed

[2022-08-26 06:09] Mahimapatil commented on #128
@MeghanaThakekar I have mentioned the PR. The same changes will solve your issues too.

[2022-08-26 06:09] Mahimapatil commented on #125
@MeghanaThakekar I have mentioned the PR. The same changes will solve your issues too.

[2022-08-26 06:10] Mahimapatil commented on #130
@MeghanaThakekar I have mentioned the PR. The same changes will solve your issues too.

[2022-08-26 06:28] PuneetRevclerx commented on #135
@Vishal-Datla sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51813.dvl.amp.vg/) and it's working as expected now.

[2022-08-26 06:30] IshantRevclerx commented on #113
@Vishal-Datla sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51813.dvl.amp.vg/) and it's working as expected now.

[2022-08-26 06:35] Vish-Patil commented on #91
@sunrao we already have deal permission check in roles.
one is for deal approval and one is for deal  creation

![image](https://user-images.githubusercontent.com/6465635/186837901-8e4d8185-9c72-4c60-ae97-a21d29703cb3.png)

[2022-08-26 07:12] YogendraMatkar commented on #142
@IshantRevclerx, @prashantjadhav92 the security measures are already available in send email functionality, If user is able to send email created by other organization's user then that means current user has passed one of the below criteria.

If user is,

1)Super admin
2)having user create permission within same company
3)In same organization
4)In User group
4)channel manager

[2022-08-26 07:19] PuneetRevclerx commented on #82
@Vish-Patil sir, @sunrao sir, I have checked the above security issue and basic functionality on the given branch (https://pr-51610.dvl.amp.vg/) and it's working as expected now.

[2022-08-26 07:45] shivmishra commented on #142
@YogendraMatkar its for attachment, there are no permissions added for attachments

[2022-08-26 07:48] shivmishra commented on #142
![image](https://user-images.githubusercontent.com/6465643/186850931-55358986-9552-4c95-8e7f-7c230f074b25.png)

see we directly save in table

[2022-08-26 07:59] shivmishra commented on #69
fixed in this https://github.com/MindMatrix/AMP/pull/51821

[2022-08-26 08:09] shivmishra commented on #78
wil be fixed after build

[2022-08-26 08:55] PuneetRevclerx commented on #68
@Mahimapatil mam, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51803.dvl.amp.vg/) and it's working as expected now.

[2022-08-26 09:01] IshantRevclerx commented on #105
@Mahimapatil mam, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51803.dvl.amp.vg/ ) and It's working as expected now.

[2022-08-26 09:16] PuneetRevclerx commented on #76
@Vish-Patil sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51805.dvl.amp.vg/) and it's working as expected now.

[2022-08-26 10:06] IshantRevclerx commented on #78
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51707.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-26 10:07] sunrao commented on #91
@Vish-Patil Yes we do have, all I am saying is for "Admin" the slider is not needed as the different level like View, edit, doesn't make sense.

This can be worked upon separately

[2022-08-26 10:33] IshantRevclerx commented on #139
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51821.dvl.amp.vg/) and Its working as expected now.

[2022-08-26 10:44] IshantRevclerx commented on #69
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality also on the given branch ( ( https://pr-51821.dvl.amp.vg/) and its working as expected now.

[2022-08-26 10:54] IshantRevclerx commented on #70
@shivmishra Sir, @sunrao Sir, I have checked above security issue on given branch ( https://pr-51821.dvl.amp.vg/login ) and its working as expected now.

[2022-08-26 11:30] Vish-Patil commented on #85
please check

[2022-08-26 11:48] MeghanaThakekar commented on #130
@IshantRevclerx - please check in https://pr-51803.dvl.amp.vg/

[2022-08-26 11:56] sabhareeraj commented on #29
![image](https://user-images.githubusercontent.com/98084240/186898030-1e22fb0f-0e8f-40dc-a6d2-148cb67e375d.png)
![image](https://user-images.githubusercontent.com/98084240/186898130-29d3af42-2355-4613-9354-4765f1445284.png)

@IshantRevclerx , can you please explain how you produced as i am not able to produce issue.

[2022-08-26 12:00] MeghanaThakekar commented on #128
@IshantRevclerx - please check in https://pr-51803.dvl.amp.vg/

[2022-08-26 12:00] MeghanaThakekar commented on #125
@IshantRevclerx - please check in https://pr-51803.dvl.amp.vg/

[2022-08-26 13:05] shivmishra commented on #101
for static fields photoid1, photoid2, photoid3, photoid4, photoid5, photoid6 should be fixed in
https://github.com/MindMatrix/AMP/pull/51821 PR. please check

[2022-08-26 13:15] shivmishra commented on #131
shoudl be verifed here https://github.com/MindMatrix/AMP/pull/51803

[2022-08-26 13:15] sunrao commented on #37
Since the User cannot access the Social Sites of other Users but can inject other user's amp content into his own social accounts this is not Priority 1 (Urgent)

[2022-08-26 13:55] IshantRevclerx commented on #125
@MeghanaThakekar mam, @sunrao Sir, I have checked above security issue and basic functionality on the given branch
 ( https://pr-51803.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-26 13:59] IshantRevclerx commented on #130
@MeghanaThakekar mam, @sunrao Sir, I have checked above security issue and basic functionality on the given branch (https://pr-51803.dvl.amp.vg/) and Its working as expected now.

[2022-08-26 14:03] IshantRevclerx commented on #128
@Mahimapatil mam, @sunrao Sir, I have checked above security issue and basic functionality on the given branch (https://pr-51803.dvl.amp.vg/) and Its working as expected now.

[2022-08-26 14:11] PuneetRevclerx commented on #131
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (pr-51803.dvl.amp.vg) and it's working as expected now.

[2022-08-26 14:30] IshantRevclerx commented on #85
@Vish-Patil Sir, above Issue is still there on MDF Approval Request Page( Partial Reimbursement, Reject Request, Total Reimbursment Request) on given branch (https://pr-51735.dvl.amp.vg/ )
![image](https://user-images.githubusercontent.com/92088937/186927156-b36eaf22-8526-4e17-9f99-f76692ebec4f.png)

[2022-08-26 14:51] PuneetRevclerx commented on #101
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (pr-51821.dvl.amp.vg) and it's working as expected now.

[2022-08-26 15:31] PuneetRevclerx commented on #86
@Vish-Patil sir, I have checked above security issue on the given branch (https://pr-51825.dvl.amp.vg/) and user is not able to delete MDF fund request created by other organization's user.

But, on the grid of MDF Fund Request and MDF Approval Request page, data is moving out of the page and there is no horizontal scroll available.
![image](https://user-images.githubusercontent.com/102346181/1869

[2022-08-29 06:21] IshantRevclerx commented on #129
@prashantjadhav92 Sir, above ticket is duplicate #43

[2022-08-29 06:27] PuneetRevclerx commented on #123
@shaileshtayde sir, I have checked above security issue and user is able to see the planning of other organizations.

User "puneet security" of "Security 1" organization is able to see the planning of "Automation" organization.

[2022-08-29 06:43] IshantRevclerx commented on #121
@shaileshtayde Sir, I have verified above security ticket, user can delete calenderEvent created other organization's user.

[2022-08-29 06:51] PuneetRevclerx commented on #120
@shaileshtayde sir, I have checked above security issue and user is able to change the calendar events created by other organization's users.

User- puneet security
Company- Automation Testers

[2022-08-29 07:28] IshantRevclerx commented on #118
@shaileshtayde Sir, I have checked above security issue, user is able to access the files of other organization's user.

User name : Security Ishant
Company name : Automation Testers

[2022-08-29 08:10] sabhareeraj commented on #29
@IshantRevclerx , issue fixed now. Please test again.

[2022-08-29 08:56] PuneetRevclerx commented on #111
@shaileshtayde sir, I have checked above security issue and user is able to send an email with attachment of file from other organization.
User: puneet security
Company: Automation Testers

[2022-08-29 09:09] IshantRevclerx commented on #109
@shaileshtayde Sir, I have checked above security issue and user is able to acces the social drip created by other organization's user by changing the punlishing id in the URL.

User Name : Security Ishant
Company Name : Automation Testers

[2022-08-29 09:11] PuneetRevclerx commented on #110
@prashantjadhav92 sir, it's a duplication issue of #43

[2022-08-29 10:13] MeghanaThakekar commented on #122
@PuneetRevclerx @PuneetRevclerx - please check this on main

[2022-08-29 10:27] MeghanaThakekar commented on #97
@IshantRevclerx @PuneetRevclerx - please check on main

[2022-08-29 11:18] shivmishra commented on #136
https://github.com/MindMatrix/AMP/pull/51890 check here

[2022-08-29 11:23] shaileshtayde commented on #106
@pKanth a user can access a record (linkId) from the other organization and assign any filter to it.
There is no permission check for linkid, that needs to be fixed.

[2022-08-29 11:25] MeghanaThakekar commented on #115
@prashantjadhav92  @PuneetRevclerx - check on main

[2022-08-29 11:29] shivmishra commented on #106
https://github.com/MindMatrix/AMP/pull/51890

[2022-08-29 11:30] shivmishra commented on #106
i fixed it

[2022-08-29 11:38] MeghanaThakekar commented on #95
@PuneetRevclerx @prashantjadhav92 - fixed
check on https://pr-51889.dvl.amp.vg/

[2022-08-29 12:30] IshantRevclerx commented on #97
@MeghanaThakekar mam, I have checked above security issue on main and It's working as expected now.

[2022-08-29 12:30] jotdhaliwal commented on #79
@sunrao fixed under #51893

[2022-08-29 12:32] YogendraMatkar commented on #90
@sunrao sir, we have added deal access logic as per given rules in https://github.com/MindMatrix/SecurityTracker/files/9320791/User.and.Org.Permission.based.Deal.Registration.Approval.page.xlsx.

can u please assign someone to test this scenarios

[2022-08-29 12:46] MeghanaThakekar commented on #121
@prashantjadhav92 @IshantRevclerx - fixed

[2022-08-29 12:51] MeghanaThakekar commented on #120
@PuneetRevclerx @prashantjadhav92 - fixed
check on https://pr-51889.dvl.amp.vg/

[2022-08-29 12:56] MeghanaThakekar commented on #111
@shaileshtayde @Vish-Patil - same as https://github.com/MindMatrix/SecurityTracker/issues/142

[2022-08-29 13:43] Vish-Patil commented on #91
[User and Org Permission based Deal Registration Approval page.xlsx](https://github.com/MindMatrix/SecurityTracker/files/9445016/User.and.Org.Permission.based.Deal.Registration.Approval.page.xlsx)

update permissions

[2022-08-29 14:01] MeghanaThakekar commented on #96
@IshantRevclerx @PuneetRevclerx - please check on main

[2022-08-29 14:02] MeghanaThakekar commented on #119
@PuneetRevclerx @PuneetRevclerx - please check this on main

[2022-08-29 14:30] shivmishra commented on #133
fixed here https://github.com/MindMatrix/AMP/pull/51890

[2022-08-29 14:41] steffisam commented on #109
@IshantRevclerx it is fixed can u please check.
url :https://pr-51895.dvl.amp.vg/

[2022-08-29 19:30] prashantjadhav92 commented on #110
@PuneetRevclerx issue 43 was reported for the Deal registration page. This one is for the contacts page.

[2022-08-29 19:32] prashantjadhav92 commented on #129
@IshantRevclerx, issue 43 is for the deal page. This issue is reported for the accounts page.

[2022-08-29 19:37] prashantjadhav92 commented on #140
@IshantRevclerx, Acronis has confirmed this is not reproducible for the embed link. However, there is missing HTML encoding for video name and description. As a result, XSS still might be possible. For example, for video description the following payload would work: test\" onmouseover=\"alert(1)\" \"test.

Request example via curl
curl [https://partners.acronis.com/api/savevideo](https://www.googl

[2022-08-29 20:06] sunrao commented on #110
@prashantjadhav92 Both pages are same internally

[2022-08-29 20:14] sunrao commented on #110
@shaileshtayde Confirm if the page is not custom?

[2022-08-30 03:57] IshantRevclerx commented on #129
@prashantjadhav92 Sir, In both the tickets we are applying XSS in account name field.

[2022-08-30 07:34] MeghanaThakekar commented on #114
@IshantRevclerx - please  check on main, its working for me
![image](https://user-images.githubusercontent.com/6465588/187377495-043f98cf-39bc-4a21-b399-ad35e92875d5.png)
![image](https://user-images.githubusercontent.com/6465588/187377239-7a7d0dc9-3fc4-4feb-a11a-248f25845564.png)
![image](https://user-images.githubusercontent.com/6465588/187377302-7865834d-13a9-4197-8634-23aec4a69343.png)

[2022-08-30 08:51] MeghanaThakekar commented on #116
@PuneetRevclerx - not able to reproduce, please check on main
![image](https://user-images.githubusercontent.com/6465588/187393225-3885a419-72b9-49fe-9aa6-e19ca8df56f5.png)
![image](https://user-images.githubusercontent.com/6465588/187393315-66b21ce6-7713-4f6b-a532-ad7922b3d831.png)

[2022-08-30 08:56] Vish-Patil commented on #87
https://github.com/MindMatrix/SecurityTracker/files/9445016/User.and.Org.Permission.based.Deal.Registration.Approval.page.xlsx

[2022-08-30 08:58] IshantRevclerx commented on #114
@MeghanaThakekar mam, I have checked above security issue and JS is still getting executed on main by following the above steps.

![image](https://user-images.githubusercontent.com/92088937/187394994-07fffecc-eb40-4232-961f-6a91a80768ee.png)

[2022-08-30 09:44] PuneetRevclerx commented on #116
@MeghanaThakekar mam, some of the XSS payloads that I was using previously are not working now. But, if we add ("Test <script>alert('XSS on Calender event')</script>") in the description through "api/AddCalendarEvent" then JS is still getting executed.
![image](https://user-images.githubusercontent.com/102346181/187405378-1d561940-1e80-40c8-8e7b-d6d52085712f.png)

[2022-08-30 10:09] Vish-Patil commented on #87
please get this checked in following PR- #51916

[2022-08-30 10:49] IshantRevclerx commented on #96
@MeghanaThakekar mam, I have verified above security issue on main and Its working as expected now.

[2022-08-30 12:29] YogendraMatkar commented on #142
@prashantjadhav92, @IshantRevclerx we have restricted unauthorized access of Attachments, u can test it on https://pr-51920.dvl.amp.vg/

[2022-08-31 04:13] PuneetRevclerx commented on #52
@prashantjadhav92 sir, It's a duplicate issue of #141

[2022-08-31 04:25] PuneetRevclerx commented on #133
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51890.dvl.amp.vg/) and it's working as expected now.

[2022-08-31 04:36] IshantRevclerx commented on #106
@shivmishra Sir, @sunrao Sir, I have checked above security issue  and basic functionality on the given branch ( https://pr-51890.dvl.amp.vg/login) and It's working as expected now.

[2022-08-31 04:45] IshantRevclerx commented on #136
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51890.dvl.amp.vg/login ) and It's working as expected now.

[2022-08-31 05:05] #84 closed

[2022-08-31 05:05] #83 closed

[2022-08-31 05:05] #78 closed

[2022-08-31 05:06] #92 closed

[2022-08-31 05:06] #93 closed

[2022-08-31 05:07] #94 closed

[2022-08-31 05:12] #89 closed

[2022-08-31 05:27] PuneetRevclerx commented on #119
@MeghanaThakekar Mam, I have checked above issue on mm live and it's working as expected now.

[2022-08-31 05:33] IshantRevclerx commented on #97
@sunrao Sir, I have checked above security issue on production and Its working as expected now.

[2022-08-31 05:33] #97 closed

[2022-08-31 05:34] IshantRevclerx commented on #96
@sunrao Sir, I have checked above security issue on production and Its working as expected now.

[2022-08-31 05:34] #96 closed

[2022-08-31 05:42] PuneetRevclerx commented on #95
@MeghanaThakekar mam, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51889.dvl.amp.vg/) and it's working as expected now.

[2022-08-31 05:48] IshantRevclerx commented on #121
@MeghanaThakekar mam, and @sunrao Sir, i have checked above security issue and basic functionality on the given branch ( https://pr-51889.dvl.amp.vg/ ) and Its working as exepected now.

[2022-08-31 05:49] PuneetRevclerx commented on #120
@MeghanaThakekar mam, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51889.dvl.amp.vg/) and it's working as expected now.

[2022-08-31 06:03] IshantRevclerx commented on #109
@steffisam, @tajindersharma Sir, I have checked above security issue on the given branch ( https://pr-51895.dvl.amp.vg/) If we add social drip id of other organization user in the URL, then page shows data as shown in the screensht below instead of showing a blank page or Error message.

![image](https://user-images.githubusercontent.com/92088937/187604991-ad1b3752-505f-49c7-b9d5-ebd9ddbe4ccd.png)

[2022-08-31 06:45] PuneetRevclerx commented on #79
@jotdhaliwal sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51893.dvl.amp.vg/) and it's working as expected now.

[2022-08-31 08:45] IshantRevclerx commented on #140
@shaileshtayde Sir, I have checked above security issue and JS is getting executed by following the above mention steps.
User Name : Puneet Security
Company Name : Automation Testers

![image](https://user-images.githubusercontent.com/92088937/187637104-2b446c4b-b1af-4f46-a220-bf9a1140cf90.png)

[2022-08-31 08:51] PuneetRevclerx commented on #58
@prashantjadhav92 sir, It's a duplicate issue of #141. As in both the tickets we are uploading a text file and then changing it's extension to svg.

[2022-08-31 08:59] IshantRevclerx commented on #100
@prashantjadhav92 Sir, I have checked above security issue, when we edit any video the default url is "https://main.dvl.amp.vg/gallery/video/6491/edit" and not the one mentioned above.
Kindly provide additional Info or screen recording so that i can reproduce issue on my end.

[2022-08-31 10:15] IshantRevclerx commented on #142
@YogendraMatkar, @sunrao Sir, I have checked above security issue and basic functionality on the given branch  ( https://pr-51920.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-31 10:27] IshantRevclerx commented on #29
@sabhareeraj, I have checked above security issue on the given branch ( https://pr-51754.dvl.amp.vg/ ), If I enter  " Onmouseover="confirm(164)" in the filter field and after that on hovering mouse over the filter JS is still getting executed.

![image](https://user-images.githubusercontent.com/92088937/187656997-93a8e564-6415-4e94-8f65-0562e3a97b5e.png)

[2022-08-31 11:00] IshantRevclerx commented on #118
@tajindersharma Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51931.dvl.amp.vg/ ) and Its working as expected now.

[2022-08-31 12:13] IshantRevclerx commented on #87
@Vish-Patil Sir, I have checked above security issue on the given branch (https://pr-51916.dvl.amp.vg/) and Its working as expected now.
But, the grid is not horizonatly scrolabel and some of the data is moving out of the page.
similar issue is on the other pages of MDF as well.
![image](https://user-images.githubusercontent.com/92088937/187675320-87b36a47-92ba-485a-8fed-1f17bde4de88.png)

[2022-09-01 04:08] IshantRevclerx commented on #130
@prashantjadhav92 Sir, I have checked above security issue on acronis production and its working as expected now.

[2022-09-01 04:13] PuneetRevclerx commented on #127
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-01 04:16] IshantRevclerx commented on #125
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 04:19] IshantRevclerx commented on #128
@prashantjadhav92 Sir,  I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 04:23] PuneetRevclerx commented on #107
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-09-01 04:26] IshantRevclerx commented on #105
@prashantjadhav92 Sir,  I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 04:29] IshantRevclerx commented on #137
@prashantjadhav92 Sir,  I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 04:35] PuneetRevclerx commented on #131
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-01 04:37] PuneetRevclerx commented on #68
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-01 05:09] IshantRevclerx commented on #113
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 05:10] PuneetRevclerx commented on #135
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-01 05:12] IshantRevclerx commented on #103
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 05:13] PuneetRevclerx commented on #104
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-09-01 05:20] IshantRevclerx commented on #102
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 05:27] PuneetRevclerx commented on #22
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-01 05:32] PuneetRevclerx commented on #2
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-01 06:18] IshantRevclerx commented on #67
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 06:23] IshantRevclerx commented on #99
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 06:26] IshantRevclerx commented on #73
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 06:43] PuneetRevclerx commented on #101
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-01 06:46] IshantRevclerx commented on #139
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 06:49] IshantRevclerx commented on #126
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and its working as expected now.

[2022-09-01 06:52] PuneetRevclerx commented on #124
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-01 07:14] PuneetRevclerx commented on #115
@MeghanaThakekar mam, above issue can't be verified on main as the above URLs are not available on main, so, I checked it on Acronis production after the Acronis live push which was done yesterday. User is still able to access the opportunity details of other organization's user.

[2022-09-01 07:29] PuneetRevclerx commented on #119
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-01 07:31] PuneetRevclerx commented on #122
@MeghanaThakekar mam, above issue was working fine on DVL and MM but on Acronis production, it's getting reproduced.

[2022-09-01 07:39] PuneetRevclerx commented on #76
@prashantjadhav92 Sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-01 09:55] PuneetRevclerx commented on #141
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-51890.dvl.amp.vg) and it's working as expected now.

[2022-09-01 10:24] prashantjadhav92 commented on #77
Verified by Acronis.

[2022-09-01 10:24] #77 closed

[2022-09-01 10:25] prashantjadhav92 commented on #76
@PuneetRevclerx I have asked the client to verify.

[2022-09-01 10:26] prashantjadhav92 commented on #119
@PuneetRevclerx I have asked the client to verify.

[2022-09-01 10:27] prashantjadhav92 commented on #124
@PuneetRevclerx I have asked the client to verify.

[2022-09-01 10:28] prashantjadhav92 commented on #126
@IshantRevclerx I have asked the client to verify.

[2022-09-01 10:46] prashantjadhav92 commented on #139
@IshantRevclerx I have asked the client to verify this.

[2022-09-01 10:48] prashantjadhav92 commented on #101
@PuneetRevclerx I have asked the client to verify this.

[2022-09-01 10:48] prashantjadhav92 commented on #73
@IshantRevclerx I have asked the client to verify this.

[2022-09-01 10:50] prashantjadhav92 commented on #99
@IshantRevclerx I have asked the client to verify this.

[2022-09-01 10:51] prashantjadhav92 commented on #130
@IshantRevclerx I have asked the client to verify this.

[2022-09-01 10:52] prashantjadhav92 commented on #67
@IshantRevclerx I have asked the client to verify.

[2022-09-01 11:47] sabhareeraj commented on #29
@IshantRevclerx , removing Js in filter view. Please test again.

[2022-09-01 12:46] IshantRevclerx commented on #29
@sabhareeraj , @pKanth Sir, I have checked above security issue on the given branch ( https://pr-51754.dvl.amp.vg/ ), If I enter " Onmouseover="confirm(164)" in the filter field and after that on hovering mouse over the filter JS is still getting executed.

![image](https://user-images.githubusercontent.com/92088937/187916905-eea1ef44-2c6e-4890-8e20-83b676b5ae19.png)

[2022-09-01 13:12] sabhareeraj commented on #29
@IshantRevclerx , this issue is not reproducing. can you please explain how you reproduced?

![image](https://user-images.githubusercontent.com/98084240/187922000-450bb7d6-95df-4038-bbd3-29d7d88e025e.png)

[2022-09-01 14:34] sunrao commented on #79
@jotdhaliwal Chris has commented on the PR

[2022-09-02 04:33] IshantRevclerx commented on #29
@sabhareeraj, Please find the screen recording of the steps that I am following to repoduce the issue.

https://user-images.githubusercontent.com/92088937/188059549-1ca36964-9c67-446a-aec4-ef1ba099ae58.mp4

[2022-09-02 09:55] PuneetRevclerx opened #143 "XSS: JS is getting executed in template editor"
URL: https://main.dvl.amp.vg/#setup/templates/templates
User: puneet security
Company: Automation Tester

STR:
1. Go to setup> Asset Management> Template
2. Click on Print> Click on Create button> Click on Go button
3. Enter the required fields and move to Print Editor
4. In Print editor, click on Add Object and select Text.
5. In Text editor, Click on code View
![image](https://user-images.github

[2022-09-02 10:12] IshantRevclerx opened #144 "XSS : JS is getting executed on Opportunity Name and Account name"
URL : https://main.dvl.amp.vg/#manage/opportunity-records
User Name : Security Ishant
Company Name : Automation Testers

STR :
1) Go to above URL>>> click on create record button>> type ( "onclick=confirm(1)// ) in Opportunity name
    field and type ("onmouseover=alert(1)//) in Account name field.
 2) Fill the required fields and Click on save button.
3) Hover the mouse on account name or click o