[2022-09-02 10:55] shaileshtayde commented on #144
@IshantRevclerx can you please have this checked in this branch => "global-security-fix-dot-template"
Shiv has fixed the XSS issue globally for all dot-templates; => https://github.com/MindMatrix/AMP/pull/51734

[2022-09-02 11:10] shivmishra commented on #69
@IshantRevclerx plz check this issue on this PR https://github.com/MindMatrix/AMP/pull/52021
as earlier PR doesn't get approved so fix here in new branch

[2022-09-02 11:14] IshantRevclerx commented on #144
@shaileshtayde Sir, on the given branch ( https://pr-51734.dvl.amp.vg/login ), If we open the opportunity page, page gets blank.
![image](https://user-images.githubusercontent.com/92088937/188127553-d52924f8-f4ed-480c-804f-95391ac0fafa.png)

[2022-09-02 13:34] cphillips83 commented on #70
This actually isn't the proper fix and not sure where it came from. This fix would solve one issue but create a new one where a hacker could brute force search for usernames, hence why the password check is there in the first place.

I discussed with Shiv and we are going to remove the `IsLockedOut` response entirely from the product since its extremely rare and change the wording to just "Invalid

[2022-09-02 18:16] sabhareeraj commented on #29
@IshantRevclerx , Issue fixed now. Please test again.

[2022-09-05 06:00] IshantRevclerx commented on #29
@pKanth Sir, @sabhareeraj, I have checked above security issue on the given branch ( https://pr-51754.dvl.amp.vg/ ) JsS is not getting executed now.
But, if click on filters and select on any filter UI is not showing appropriate as compare to main.
**On branch** :
![image](https://user-images.githubusercontent.com/92088937/188369952-884f651b-310d-40ef-a72d-cdac24bf623d.png)

**On Main** :
![image]

[2022-09-05 13:07] shivmishra commented on #140
should be fixed here after build https://github.com/MindMatrix/AMP/pull/52057
@IshantRevclerx plz verify

[2022-09-05 13:19] shivmishra commented on #43
verify here https://github.com/MindMatrix/AMP/pull/52057

[2022-09-05 16:32] HareshKedar commented on #123
@PuneetRevclerx kindly verify on https://pr-52075.dvl.amp.vg/login

[2022-09-05 16:33] HareshKedar commented on #8
@IshantRevclerx  Kindly verify this on acronis2.sb.amp.vg

[2022-09-05 16:33] HareshKedar commented on #6
@PuneetRevclerx Kindly verify this on acronis2.sb.amp.vg

[2022-09-05 16:34] HareshKedar commented on #20
@PuneetRevclerx Kindly verify this on acronis2.sb.amp.vg

[2022-09-06 04:31] PuneetRevclerx commented on #123
@HareshKedar sir, @sunrao sir, I have checked the above security issue and basic functionality on the given branch (https://pr-52075.dvl.amp.vg/) and it's working as expected now.

[2022-09-06 06:25] IshantRevclerx commented on #140
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52057.dvl.amp.vg/login ) and It's working as expected now.

[2022-09-06 06:29] IshantRevclerx commented on #43
@shivmishra Sir, I have checked above security issue on given branch ( https://pr-52057.dvl.amp.vg/login ) and JS is still getting executed.

![image](https://user-images.githubusercontent.com/92088937/188562487-781ac142-5f86-4bc0-ac11-f9aad1066424.png)

[2022-09-06 06:32] IshantRevclerx commented on #8
@HareshKedar Sir, @sunrao Sir, I have checked above security issue and basic functionality on acronis2.sb.amp.vg  and its working as expected now.

[2022-09-06 06:35] PuneetRevclerx commented on #20
@HareshKedar sir, @sunrao sir, I have checked the above security issue and basic functionality on acronis2.sb.amp.vg and it's working as expected now.

[2022-09-06 06:36] PuneetRevclerx commented on #6
@HareshKedar sir, @sunrao sir, I have checked the above security issue and basic functionality on acronis2.sb.amp.vg and it's working as expected now.

[2022-09-06 07:11] sabhareeraj commented on #29
@IshantRevclerx , label got fixed. Please check now

[2022-09-06 07:58] shivmishra commented on #43
should be fixed now after build

[2022-09-06 09:28] IshantRevclerx commented on #70
@shivmishra Sir, @sunrao Sir,  I have checked above security issue and It's working as expected now.

[2022-09-06 09:46] IshantRevclerx commented on #29
@pKanth Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-51754.dvl.amp.vg/ ) and It's working as expected now.

[2022-09-06 09:47] MeghanaThakekar commented on #116
@PuneetRevclerx - fixed
branch : https://pr-52090.dvl.amp.vg/

[2022-09-06 10:13] IshantRevclerx commented on #43
@shivmishra Sir, I have checked above security issue on the given branch ( https://pr-52057.dvl.amp.vg/ ), On the contact info modal JS is getting executed which was on implemented on account name also when I create new contact and select the account name with XSS payload in it JS is getting executed.

![image](https://user-images.githubusercontent.com/92088937/188609366-0078f309-f38b-4937-b280-19

[2022-09-06 10:26] MeghanaThakekar commented on #114
@IshantRevclerx - working on main
![image](https://user-images.githubusercontent.com/6465588/188612144-d01ec469-61a5-406d-85df-54323c501753.png)

[2022-09-06 11:10] shivmishra commented on #43
team , please dont loop everything in one issue. create new and close if that is fixed

[2022-09-06 11:22] IshantRevclerx commented on #43
@shivmishra Sir, as per the ticket when I click on the create deal button and select account name for the customer JS get executed

![image](https://user-images.githubusercontent.com/92088937/188623536-b8a90ec9-6522-4614-9002-9a7be7f8ff7d.png)

[2022-09-06 11:57] shivmishra commented on #69
check after build, should be fixed

[2022-09-06 12:04] HareshKedar commented on #81
@PuneetRevclerx Kindly verify on https://pr-52091.dvl.amp.vg/login

[2022-09-06 13:12] prashantjadhav92 commented on #119
Verified by the client.

[2022-09-06 13:12] #119 closed

[2022-09-06 13:14] prashantjadhav92 commented on #124
Verified by the client.

[2022-09-06 13:14] #124 closed

[2022-09-06 13:15] prashantjadhav92 commented on #73
Verified by the client.

[2022-09-06 13:15] #73 closed

[2022-09-06 13:16] prashantjadhav92 commented on #130
Verified by the client.

[2022-09-06 13:16] #130 closed

[2022-09-06 13:19] HareshKedar commented on #4
@PuneetRevclerx Kindly verify on acronis2.sb.amp.vg

[2022-09-06 13:25] #2 closed

[2022-09-06 13:26] prashantjadhav92 commented on #22
I have asked the client to verify the same.

[2022-09-06 13:28] prashantjadhav92 commented on #102
I have asked the client to verify the same.

[2022-09-06 13:33] prashantjadhav92 commented on #104
I have asked the client to verify the same.

[2022-09-06 13:35] #52 closed

[2022-09-06 13:38] #58 closed

[2022-09-06 13:44] prashantjadhav92 commented on #100
@IshantRevclerx I have asked the client to provide more details.

[2022-09-06 13:59] MeghanaThakekar commented on #122
@PuneetRevclerx - please provide testing users for production

[2022-09-06 14:04] prashantjadhav92 commented on #44
Verified by the client.

[2022-09-06 14:05] prashantjadhav92 commented on #103
I have asked the client to verify the same.

[2022-09-06 14:07] prashantjadhav92 commented on #135
I have asked the client to verify the same.

[2022-09-06 14:07] prashantjadhav92 commented on #113
I have asked the client to verify the same.

[2022-09-06 14:09] prashantjadhav92 commented on #68
I have asked the client to verify the same.

[2022-09-06 14:10] prashantjadhav92 commented on #131
I have asked the client to verify the same.

[2022-09-06 14:11] prashantjadhav92 commented on #137
I have asked the client to verify the same.

[2022-09-06 14:11] prashantjadhav92 commented on #127
I have asked the client to verify the same.

[2022-09-06 14:12] prashantjadhav92 commented on #125
I have asked the client to verify the same.

[2022-09-06 14:13] prashantjadhav92 commented on #107
I have asked the client to verify the same.

[2022-09-06 14:14] prashantjadhav92 commented on #128
I have asked the client to verify the same.

[2022-09-07 04:18] IshantRevclerx commented on #69
@shivmishra Sir, The given branch is not working ( https://pr-52021.dvl.amp.vg/login )
On Chrome showing this error
![image](https://user-images.githubusercontent.com/92088937/188787458-e5ac29aa-12f9-443a-a6c3-48f521453d0e.png)

On Mozila showing this error
![image](https://user-images.githubusercontent.com/92088937/188787699-68366ce9-0480-4324-aa46-e56a6c380869.png)

[2022-09-07 05:20] shivmishra commented on #69
updated from main so check after build

[2022-09-07 07:42] MeghanaThakekar commented on #144
@PuneetRevclerx - fixed
branch : https://pr-52090.dvl.amp.vg/

[2022-09-07 11:20] MeghanaThakekar commented on #115
@PuneetRevclerx - fixed
branch : https://pr-52090.dvl.amp.vg/

[2022-09-07 11:25] MeghanaThakekar commented on #122
@PuneetRevclerx - fixed
branch : https://pr-52090.dvl.amp.vg/

[2022-09-07 11:56] IshantRevclerx commented on #69
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch  ( https://pr-52021.dvl.amp.vg/login ) and It's working as expected now.

[2022-09-07 12:10] PuneetRevclerx commented on #4
@HareshKedar sir, @sunrao sir, I have checked the above security issue and basic functionality on the acronis2.sb.amp.vg and it's working as expected now.

[2022-09-07 13:51] PuneetRevclerx commented on #81
@HareshKedar sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (pr-52091.dvl.amp.vg) and it's working as expected now.

[2022-09-07 19:43] prashantjadhav92 commented on #76
Verified by the client.

[2022-09-07 19:43] #76 closed

[2022-09-07 19:44] prashantjadhav92 commented on #126
Verified by the client.

[2022-09-07 19:44] #126 closed

[2022-09-07 19:45] prashantjadhav92 commented on #99
Verified by the client.

[2022-09-07 19:46] prashantjadhav92 commented on #104
Verified by the client.

[2022-09-07 19:46] #104 closed

[2022-09-07 19:50] prashantjadhav92 commented on #102
Verified by the client.

[2022-09-07 19:50] #102 closed

[2022-09-07 20:18] prashantjadhav92 commented on #135
Verified by the client.

[2022-09-07 20:18] #135 closed

[2022-09-07 20:19] prashantjadhav92 commented on #113
Verified by the client.

[2022-09-07 20:19] #113 closed

[2022-09-07 20:20] prashantjadhav92 commented on #103
Verified by the client.

[2022-09-07 20:20] #103 closed

[2022-09-07 20:22] prashantjadhav92 commented on #125
Verified by the client.

[2022-09-07 20:22] #125 closed

[2022-09-07 20:32] prashantjadhav92 commented on #127
Verified by the client.

[2022-09-07 20:32] #127 closed

[2022-09-07 20:32] prashantjadhav92 commented on #128
Verified by the client.

[2022-09-07 20:32] #128 closed

[2022-09-07 20:33] prashantjadhav92 commented on #137
Verified by the client.

[2022-09-07 20:33] #137 closed

[2022-09-07 20:34] prashantjadhav92 commented on #105
Verified by the client.

[2022-09-07 20:34] #105 closed

[2022-09-07 20:34] prashantjadhav92 commented on #107
Verified by the client.

[2022-09-07 20:34] #107 closed

[2022-09-07 21:20] prashantjadhav92 commented on #108
Verified by the client.

[2022-09-07 21:20] #108 closed

[2022-09-08 12:50] prashantjadhav92 commented on #101
@shivmishra @shaileshtayde can we have this fixed for f_50, f_51, f_52, f_53 parameters?

[2022-09-08 13:27] shivmishra commented on #101
no, only fixed for static columns

[2022-09-09 04:25] #80 closed

[2022-09-09 06:01] #95 closed

[2022-09-09 11:35] shivmishra commented on #101
@PuneetRevclerx @prashantjadhav92 this should be fixed in https://github.com/MindMatrix/AMP/pull/52057 PR
Please have this tested

[2022-09-09 12:06] shivmishra commented on #43
should be fixed here (https://github.com/MindMatrix/AMP/pull/52057)

[2022-09-09 12:16] shivmishra commented on #110
should be fixed in https://github.com/MindMatrix/AMP/pull/52057

[2022-09-09 12:48] shivmishra commented on #111
this should be already fixed on live from this PR https://github.com/MindMatrix/AMP/pull/51920

[2022-09-09 15:07] prashantjadhav92 commented on #112
@PuneetRevclerx I am reopening this ticket since the client is saying this is still reproducible. Please confirm the same again using the steps mentioned in this ticket.

[2022-09-09 17:37] prashantjadhav92 commented on #100
@IshantRevclerx, Acronis researchers replied that this link was found in the JS file, https://partners.acronis.com/v4u/js/prod.js:
![scrot_selection_Sep092022_145407](https://user-images.githubusercontent.com/31324885/189411414-c14b2331-7500-462e-880f-7439c806a7ba.png)

[2022-09-12 04:07] PuneetRevclerx commented on #112
@shaileshtayde sir, @shivmishra sir, I have checked the above issue again, and after adding the filter in the image edit form when we hover the mouse on it, JS gets executed.
After saving the image then the JS is not getting executed.
![image](https://user-images.githubusercontent.com/102346181/189571991-cd8b4b7b-3761-4f00-b794-14ba0e24ed36.png)

[2022-09-12 04:39] IshantRevclerx commented on #114
@MeghanaThakekar mam, I have checked above security issue on the given branch

[2022-09-12 04:52] PuneetRevclerx commented on #116
@MeghanaThakekar mam, I have checked the above security issue on the given branch (https://pr-52090.dvl.amp.vg/) and after adding (<script>alert(1)</script>) in the description, when I open the event again it shows below results instead of showing event details.

![image](https://user-images.githubusercontent.com/102346181/189576049-cf6a95ff-9f9b-4319-9366-f237361e3ee2.png)

Click on the View butt

[2022-09-12 06:23] IshantRevclerx commented on #43
@shivmishra Sir, I have Checked above security issue on the given branch ( https://pr-52057.dvl.amp.vg/ ) and JS is not getting executed now.
But, functionality wise, on the deal edit modal, "Edit" button next to company/Account name is not working.

![image](https://user-images.githubusercontent.com/92088937/189585338-bc2079c3-84a6-4d77-a961-e1063ba0ca5b.png)

[2022-09-12 06:30] PuneetRevclerx commented on #110
@shivmishra sir, I have checked the above security issue on the given branch ( https://pr-52057.dvl.amp.vg/ ) and JS is not getting executed now.
But, functionality-wise, on the contact edit modal, the "Edit" button next to company/Account name is not working.

![image](https://user-images.githubusercontent.com/102346181/189586795-ed923b77-14bf-46a8-bc38-987212a09241.png)

[2022-09-12 06:49] PuneetRevclerx commented on #101
@sunrao sir, @shivmishra sir, I have checked the above security issue and basic functionality on the given branch (https://pr-52057.dvl.amp.vg/) and the user is not able to access the files of other organization's users through custom fields as well.

[2022-09-12 07:34] shivmishra commented on #101
@sunrao @PuneetRevclerx @IshantRevclerx @prashantjadhav92  that custom fixed issue should be fixed for all type so plz go through across

[2022-09-12 08:44] PuneetRevclerx commented on #144
@MeghanaThakekar mam, @sunrao sir, I have checked the above security issue and basic functionality on the given branch (https://pr-52090.dvl.amp.vg/) and it's working as expected now.

[2022-09-12 11:14] MeghanaThakekar commented on #116
@PuneetRevclerx - fixed

[2022-09-12 11:48] steffisam commented on #109
@IshantRevclerx  it is working fine on sandbox can you please check.
url :https://emailtest.sb.amp.vg/#manage/campaigns/socialdrip

[2022-09-12 12:30] IshantRevclerx commented on #109
@steffisam, Do we need to signoff this issue on the given PR or on Sandbox.

[2022-09-12 12:38] steffisam commented on #109
@IshantRevclerx In the given PR

[2022-09-12 13:21] prashantjadhav92 commented on #68
Verified by the client.

[2022-09-12 13:22] prashantjadhav92 commented on #131
Verified by the client.

[2022-09-12 13:22] #131 closed

[2022-09-12 14:48] Vinayakvs1994 commented on #112
@sunrao sir the image page filter  issue and other pages filter issues are resolved in this branch .Please assign it for the testing.
the links of the pages are mentioned in the PR

[2022-09-12 14:50] HareshKedar commented on #117
@PuneetRevclerx Kindly verify this on pr-52284.dvl.amp.vg

[2022-09-12 16:35] prashantjadhav92 opened #145 "SEC-5071 - IDOR to mark as done any todo activity from different organization"
It is possible to mark as Done any ToDO activity from different organizations.

Steps to reproduce:

Send the following request. Replace <SESSION>, <CSRF_TOKEN>, <TODO_ID> and <CONTACT_ID> with appropriate values. <CONTACT_ID> can be any id, it is not used for validation, set <TODO_ID> to ID of ToDo from another organization:

1. curl -X POST https://partners.acronis.com/api/markDoneNotification -

[2022-09-12 16:38] prashantjadhav92 opened #146 "SEC-5070 - XSS in "domains" field "account name" on accounts edit page"
XSS is possible in "domains" field "account name" on accounts edit page.

Steps to Reproduce:
* Open https://partners.acronis.com/#connections/accounts
* Copy ID of any existing account
* Make the following request. Set proper <SESSION>, <CSRF_TOKEN)>, <ACCOUNT_ID>

1.  curl -X POST https://partners.acronis.com/api/SaveAccount -H "Content-Type: application/json" -b ".ASPXAUTH=<SESSION>" -H "X-Csrf

[2022-09-12 16:43] prashantjadhav92 opened #147 "SEC-5076 - IDOR that allows to access information about contacts from other organizations, /api/GetContact"
IDOR that allows to access information about contacts from other organizations. Endpoint /api/GetContact is vulnerable

Steps to Reproduce:
Send the following request. Replace <SESSION>, <CSRF_TOKEN> and <CONTACT_ID> with appropriate values. <CONTACT_ID> should be replaced with ID of contact from another organization:

curl -X POST https://partners.acronis.com/api/GetContact -H "Content-Type: appl

[2022-09-12 16:47] prashantjadhav92 opened #148 "SEC-5073 - IDOR allowing to unsubscribe other users from emails, /api/SetSubscription"
IDOR on /api/SetSubscription allowing to unsubscribe other users from emails

Steps to reproduce:
* Send the following request. Replace <SESSION>, <CSRF_TOKEN>, and <CONTACT_ID> with appropriate values. <CONTACT_ID> should be ID of contact from another organization:

curl -X POST https://partners.acronis.com/api/markDoneNotification -H "Content-Type: application/json" -b ".ASPXAUTH=<SESSION>" -H "

[2022-09-12 20:09] prashantjadhav92 opened #149 "SEC-5079 - XSS via image name and display name"
XSS via image name

Steps to Reproduce:
1. Visit this page https://partners.acronis.com/#gallery/banner/images
2. Upload any image
3. Change the image dispay name to this payload: xss" onmouseover="confirm(777)
4. When it is saved, move mouse over just created image and see JS executed
![1](https://user-images.githubusercontent.com/31324885/189748380-19efb9f2-0a53-43d5-9ee5-2876ab1ab7f5.png)

 5.

[2022-09-12 20:12] prashantjadhav92 opened #150 "SEC-5088 - IDOR to access organization images, /api/GetImagesForCurrentUser"
IDOR to access organization images, API endpoint /api/GetImagesForCurrentUser is vulnerable

Steps to Reproduce:
Send the following request. Replace <SESSION>, <CSRF_TOKEN>, and <ASSET_ID> with appropriate values. <ASSET_ID> should be ID of another organization (it looks like only images uploaded the following way are visible in this case: go to https://partners.acronis.com/#setup/users/list of so

[2022-09-12 20:15] prashantjadhav92 opened #151 "SEC-5091 - XSS on /#setup/organization/overview/<org_ID> page"
XSS on /#setup/organization/overview/<org_ID> page via Website Url parameter

Steps to Reproduce
* Visit this page https://partners.acronis.com/#setup/users/list
* Click on any user
* Click on the organization name
* Chose the info tab to edit the organization
* In Website URL field set the following value: [https://www.WebsiteUrl.live'](https://www.websiteurl.live%27/) onmouseover='confirm(416)
*

[2022-09-12 20:17] prashantjadhav92 opened #152 "SEC-5092 - IDOR via /manage/case-history/2/<case_id> API endpoint"
IDOR via /manage/case-history/2/<case_id> API endpoint

Steps to reproduce:
Open in browser (set <CASE_ID> to ID of a case from any other organization):
view-source:https://partners.acronis.com/manage/case-history/2/<CASE_ID>
Find pageData on page and see case history

Example: view-source:https://partners.acronis.com/manage/case-history/2/60782
![scrot_selection_Sep122022_211821](https://user-ima

[2022-09-12 20:23] prashantjadhav92 commented on #129
@IshantRevclerx the client has mentioned the issue on #43 is not reproducible anymore but the one mentioned on this ticket is still reproducible. Please check this again as it doesn't seem to be a duplicate issue.

[2022-09-13 04:27] IshantRevclerx commented on #129
@prashantjadhav92 Sir, The above Issue is already addressed in PR- 52057 and the PR is still need to be merged. Once the PR will merge the issue will resolved on production.

[2022-09-13 04:44] IshantRevclerx commented on #109
@steffisam, above issue is still exist on the given PR, I need to verify issue on the given PR in order to signoff the PR.

[2022-09-13 05:21] PuneetRevclerx commented on #117
@HareshKedar sir, @sunrao sir, I have checked the above security issue and basic functionality on the given branch (https://pr-52284.dvl.amp.vg/) and it's working as expected now.

[2022-09-13 06:41] PuneetRevclerx commented on #152
@shaileshtayde sir, I have checked the above security issue on https://partners.acronis.com/ and if a user is a partner admin then he can see the case details of other organizations' users.

[2022-09-13 06:52] IshantRevclerx commented on #150
@shaileshtayde Sir, I have checked above security issue and user is able to access the images of other organization's user by following the above mentioned steps.

[2022-09-13 07:17] PuneetRevclerx commented on #148
@shaileshtayde sir, I have checked the above security issue and the user is able to unsubscribe contacts of other organization's user using the steps mentioned above.

[2022-09-13 08:54] IshantRevclerx commented on #145
@shaileshtayde Sir, I have checked above security issue and user is able to mark as Done any ToDO activity of contacts from other organization's user by following above mentioned steps.

[2022-09-13 09:02] PuneetRevclerx commented on #151
@shaileshtayde sir, I have checked the above security issue and JS is getting executed by following the above-mentioned steps.

![image](https://user-images.githubusercontent.com/102346181/189859401-8a0d54f6-2540-4e1d-8873-7250c87487ea.png)

[2022-09-13 09:04] IshantRevclerx commented on #149
@shaileshtayde Sir, I have checked above security issue and JS is getting executed by following above mentioned steps.
![image](https://user-images.githubusercontent.com/92088937/189860006-f8810947-1fad-4ebe-b50b-ff8b2ce8788d.png)

[2022-09-13 09:09] PuneetRevclerx commented on #146
@shaileshtayde sir, I have checked the above security issue and JS is getting executed by following the above-mentioned steps.

![image](https://user-images.githubusercontent.com/102346181/189861223-1e1914a7-e13d-4796-8556-b66b39f10de2.png)

[2022-09-13 10:30] sunrao commented on #129
https://github.com/MindMatrix/AMP/pull/52057

[2022-09-13 10:44] shivmishra commented on #43
chck again plz

[2022-09-13 10:46] shivmishra commented on #110
recheck again

[2022-09-13 11:35] steffisam commented on #109
@IshantRevclerx Sir since dvl is in debug mode it is showing error instead of blank page. It is working as expected on sandbox. So you can sign it off in this PR

[2022-09-13 11:42] IshantRevclerx commented on #147
@shaileshtayde Sir, I have checked above security issue and user is able to access the contact details of other organization's user by following above mentioned steps.

[2022-09-13 11:42] HareshKedar commented on #152
@PuneetRevclerx this got fixed in recent update on prod. couple of hours ago.

[2022-09-13 12:56] IshantRevclerx commented on #109
@sunrao Sir, I have checked above security issue and user is not ascces other organization's user social drip info and  as developer mentioned the page is not getting blank as the dvl is in debug mode.

[2022-09-13 14:51] PuneetRevclerx commented on #110
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-52057.dvl.amp.vg/) and it's working as expected now.

[2022-09-13 14:53] IshantRevclerx commented on #43
@sunrao Sir, @shivmishra Sir,  I have checked above security issue and basic functionality on the given branch (https://pr-52057.dvl.amp.vg/) and it's working as expected now.

[2022-09-13 14:54] IshantRevclerx commented on #129
@sunrao Sir, @shivmishra Sir,  I have checked above security issue and basic functionality on the given branch (https://pr-52057.dvl.amp.vg/) and it's working as expected now.

[2022-09-14 05:59] PuneetRevclerx commented on #152
@prashantjadhav92 sir, I have verified the above issue on Acronis Production and it's working as expected now.

[2022-09-14 09:13] IshantRevclerx commented on #29
@prashantjadhav92 Sir, I have verified the above issue on Acronis Production and it's working as expected now.

[2022-09-14 10:09] IshantRevclerx commented on #69
@shivmishra Sir, I have checked above security issue on Acronis production, If we entered incorrect current password on the change password modal,showing incorrect massage.
![image](https://user-images.githubusercontent.com/92088937/190125813-0d16bbcf-1696-429a-8ea1-76094b31b81e.png)

On Live, It's working as expected

![image](https://user-images.githubusercontent.com/92088937/190125721-0ead9c0e-

[2022-09-14 10:13] PuneetRevclerx commented on #141
@shivmishra sir I have checked the above security issue on Acronis production and JS is getting executed by following the above-mentioned steps.

![image](https://user-images.githubusercontent.com/102346181/190122066-09284027-cd94-4487-acf2-76ec91449415.png)

It's working as expected on the main.
![image](https://user-images.githubusercontent.com/102346181/190126902-f9f7a4e1-1317-4e1e-ba29-0839c5c

[2022-09-14 10:15] IshantRevclerx commented on #70
@prashantjadhav92 Sir, I have verified the above issue on Acronis Production and it's working as expected now.

[2022-09-14 10:16] IshantRevclerx commented on #136
@prashantjadhav92 Sir, I have verified the above issue on Acronis Production and it's working as expected now.

[2022-09-14 10:38] PuneetRevclerx commented on #111
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-09-14 10:39] IshantRevclerx commented on #142
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 10:52] IshantRevclerx commented on #118
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 10:55] IshantRevclerx commented on #106
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 10:57] PuneetRevclerx commented on #133
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 11:06] PuneetRevclerx commented on #120
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 11:06] IshantRevclerx commented on #121
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 11:14] PuneetRevclerx commented on #20
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 11:18] PuneetRevclerx commented on #123
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 11:24] PuneetRevclerx commented on #6
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 11:29] IshantRevclerx commented on #8
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 11:36] PuneetRevclerx commented on #79
@prashantjadhav92 Sir, I have verified the above security issue on Acronis Production and it's working as expected now.

[2022-09-14 13:48] prashantjadhav92 commented on #152
Assigned to client for confirmation.

[2022-09-14 14:01] prashantjadhav92 commented on #29
@IshantRevclerx I have asked the client to verify the same.

[2022-09-14 14:08] prashantjadhav92 commented on #70
I have asked the client to verify.

[2022-09-14 14:09] prashantjadhav92 commented on #136
I have asked the client to verify.

[2022-09-14 14:10] prashantjadhav92 commented on #111
I have asked the client to verify.

[2022-09-14 14:10] prashantjadhav92 commented on #142
I have asked the client to verify.

[2022-09-14 14:12] prashantjadhav92 commented on #118
I have asked the client to verify.

[2022-09-14 14:13] prashantjadhav92 commented on #106
I have asked the client to verify.

[2022-09-14 14:14] prashantjadhav92 commented on #133
I have asked the client to verify.

[2022-09-14 14:22] prashantjadhav92 commented on #120
I have asked the client to verify.

[2022-09-14 14:23] prashantjadhav92 commented on #121
I have asked the client to verify.

[2022-09-14 14:24] prashantjadhav92 commented on #20
I have asked the client to verify.

[2022-09-14 14:25] prashantjadhav92 commented on #123
I have asked the client to verify.

[2022-09-14 14:26] prashantjadhav92 commented on #6
I have asked the client to verify.

[2022-09-14 14:27] prashantjadhav92 commented on #79
I have asked the client to verify.

[2022-09-14 14:27] prashantjadhav92 commented on #8
I have asked the client to verify.

[2022-09-15 10:13] shivmishra commented on #69
check again, there were column missing which is fixed now

[2022-09-15 10:15] shivmishra commented on #141
this should not but can you plz try again in both places in main and acronis

[2022-09-15 10:24] shivmishra commented on #149
can you check on https://github.com/MindMatrix/AMP/pull/51734 branch, can you ask every tester to verify xss issue on  the mentioned PR.

[2022-09-15 10:25] PuneetRevclerx commented on #141
@shivmishra sir, I have checked again and on main it's working fine but on Acronis production, JS is still getting executed.

[2022-09-15 10:26] shivmishra commented on #151
@Vinayakvs1994 plz fix on priority

[2022-09-15 10:26] shivmishra commented on #146
@Vinayakvs1994 plz fix

[2022-09-15 10:27] shivmishra commented on #141
@shaileshtayde what could be the reason

[2022-09-15 10:32] IshantRevclerx commented on #69
@prashantjadhav92 Sir, I have checked above security issue on Acronis Production and It's working as expected now.

[2022-09-15 10:52] IshantRevclerx commented on #149
@shivmishra Sir, I have checked above security issue on the given branch ( https://pr-51734.dvl.amp.vg/ ) JS not getting execute.
but if I click on sharing from three dots (more info) a image showing zero ( 0 ) on the modal.
![image](https://user-images.githubusercontent.com/92088937/190384642-1d2deab9-d3ce-47aa-b259-6218efe7777d.png)

[2022-09-15 11:31] shivmishra commented on #147
check in this branch https://github.com/MindMatrix/AMP/pull/52387

[2022-09-15 11:31] shivmishra commented on #145
check in this branch https://github.com/MindMatrix/AMP/pull/52387

[2022-09-15 11:31] shivmishra commented on #150
check in this branch https://github.com/MindMatrix/AMP/pull/52387

[2022-09-15 12:55] prashantjadhav92 commented on #20
Confirmed by client.

[2022-09-15 12:55] #20 closed

[2022-09-15 12:57] prashantjadhav92 commented on #8
Confirmed by the client.

[2022-09-15 12:57] #8 closed

[2022-09-15 12:58] #6 closed

[2022-09-15 13:04] prashantjadhav92 commented on #121
Verified by the client.

[2022-09-15 13:04] #121 closed

[2022-09-15 13:49] MeghanaThakekar commented on #114
@IshantRevclerx - please check in PR https://github.com/MindMatrix/AMP/pull/52281

[2022-09-15 13:50] MeghanaThakekar commented on #18
please check in pr https://github.com/MindMatrix/AMP/pull/52281

[2022-09-15 14:13] Vinayakvs1994 commented on #151
@sunrao sir this issue is done in this https://github.com/MindMatrix/AMP/pull/52401
please assign this for this testing

[2022-09-15 17:06] Mahimapatil commented on #23
@IshantRevclerx Fix has been merged on sandbox. It has been attached for build.

[2022-09-15 17:52] prashantjadhav92 commented on #152
Verified by the client.

[2022-09-15 17:52] #152 closed

[2022-09-15 17:53] prashantjadhav92 commented on #120
Verified by the client.

[2022-09-15 17:53] #120 closed

[2022-09-15 17:54] prashantjadhav92 commented on #79
Verified by the client.

[2022-09-15 17:54] #79 closed

[2022-09-15 17:54] prashantjadhav92 commented on #123
Thank you for confirming, Sabina.

[2022-09-15 17:54] #123 closed

[2022-09-15 17:56] prashantjadhav92 commented on #136
Verified by the client.

[2022-09-15 17:56] #136 closed

[2022-09-15 17:58] #106 closed

[2022-09-15 18:01] prashantjadhav92 commented on #138
Follow up sent to the client.

[2022-09-15 18:05] shaileshtayde commented on #32
As per @cphillips83 comment, assigning this  to @Vish-Patil & @furquankhan .

[2022-09-15 18:06] prashantjadhav92 commented on #118
Verified by the client.

[2022-09-15 18:06] #118 closed

[2022-09-15 18:10] prashantjadhav92 commented on #111
Verified by the client.

[2022-09-15 18:10] #111 closed

[2022-09-15 18:26] prashantjadhav92 commented on #70
Verified by the client.

[2022-09-15 18:58] prashantjadhav92 commented on #69
Verified by the client.

[2022-09-15 19:05] prashantjadhav92 commented on #69
@IshantRevclerx as per the client this is not fixed yet. Can you please check this again?

[2022-09-16 04:23] IshantRevclerx commented on #69
@prashantjadhav92 Sir, curently if we user enters incorrect password for more than 11 times in the change password modal, he gets locked for 5 mins. If we user enters incorrect password again he gets an error massage. He can still enters the correct password to change his password.
Kindly letus know if client is expecting some different results.

[2022-09-16 05:08] PuneetRevclerx commented on #146
@Vinayakvs1994, @shivmishra sir, any domain name containing xss payload in it is not getting removed. If I try to remove a domain containing xss payload, it gets removed but if I open the same account info again, the same domain shows there.

For reference, try to remove domain names from "TestComp" account in the User: puneet security.

[2022-09-16 05:18] PuneetRevclerx commented on #151
@Vinayakvs1994, @shivmishra sir, I have checked above security issue on the given branch (https://pr-52401.dvl.amp.vg/) and JS is not getting executed.
But, I am not able to paste the copied text to any of the input fields using (Ctrl + V) or by right click and using the paste option.

[2022-09-16 05:32] Vinayakvs1994 commented on #149
@IshantRevclerx please test this after build in this branch https://github.com/MindMatrix/AMP/pull/51734

[2022-09-16 05:49] shivmishra commented on #151
@Vinayakvs1994 update main

[2022-09-16 05:53] Vinayakvs1994 commented on #146
@PuneetRevclerx the issue is resolved. Please check after branch is build.

[2022-09-16 05:54] Vinayakvs1994 commented on #151
@PuneetRevclerx Please check after branch is build.
@shivmishra sir done

[2022-09-16 06:14] PuneetRevclerx commented on #151
@shivmishra sir @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-52401.dvl.amp.vg/) and it's working as expected now.

[2022-09-16 06:16] PuneetRevclerx commented on #146
@shivmishra sir, @sunrao sir,  I have checked above security issue and basic functionality on the given branch (https://pr-52401.dvl.amp.vg/) and it's working as expected now.

[2022-09-16 06:33] IshantRevclerx commented on #147
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52387.dvl.amp.vg/login ) and its working as expected now.

[2022-09-16 06:55] IshantRevclerx commented on #145
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52387.dvl.amp.vg) and It's working as expected now.

[2022-09-16 06:59] PuneetRevclerx commented on #148
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52387.dvl.amp.vg/) and It's working as expected now.

[2022-09-16 07:16] IshantRevclerx commented on #150
@shivmishra Sir, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52387.dvl.amp.vg ) and It's working as expected now.

[2022-09-16 08:55] IshantRevclerx commented on #114
@MeghanaThakekar mam, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52281.dvl.amp.vg/ ) and It's working as expected now.

[2022-09-16 09:06] IshantRevclerx commented on #74
@tajindersharma Sir, @sunrao Sir, As per shiv sir mail I have checked above security issue and basic functionality on this branch (https://pr-52281.dvl.amp.vg/) and its working as expected now.

[2022-09-19 10:56] PuneetRevclerx commented on #15
@Mahimapatil mam, @sunrao sir, I have checked above security issue on https://acronis2.sb.amp.vg/ and it's working as expected now.

[2022-09-19 10:58] IshantRevclerx commented on #23
@Mahimapatil mam, @sunrao Sir, I have checked above security issue on acronis sb ( https://acronis2.sb.amp.vg/ ) and It's working as expected now.

[2022-09-19 11:23] IshantRevclerx commented on #18
@MeghanaThakekar mam, @sunrao Sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52281.dvl.amp.vg/ ) and It's working as expected now.

[2022-09-19 14:37] prashantjadhav92 commented on #142
Verified by the client.

[2022-09-19 14:37] #142 closed

[2022-09-19 14:39] prashantjadhav92 commented on #138
Confirmed this is fixed.

[2022-09-19 14:39] #138 closed

[2022-09-19 14:43] prashantjadhav92 commented on #139
Verified by the client.

[2022-09-19 14:43] #139 closed

[2022-09-19 15:02] prashantjadhav92 commented on #69
@IshantRevclerx please check the initial request on this ticket.

In the fix the client has mentioned the fix as:

Implement brute force protection for current password in change password functionality
Proposed rate limits are 10 attempts per 15 minutes

[2022-09-19 17:57] Vish-Patil commented on #85
@IshantRevclerx is this issue only on this branch or on main as well?

[2022-09-19 17:57] Vish-Patil commented on #86
@IshantRevclerx is this issue only on this branch or on main as well?

[2022-09-19 17:57] Vish-Patil commented on #87
@IshantRevclerx is this issue only on this branch or on main as well?

[2022-09-19 17:57] Vish-Patil commented on #88
@PuneetRevclerx is this issue only on this branch or on main as well?

[2022-09-19 19:55] prashantjadhav92 opened #153 "SEC-4451 - IDOR to get email files of any user"
An IDOR that let get Attachments on any email of users in different Orgs. It happens when you choose an email blast and view the message of it as it send a request to this endpoint /communicate/email/[ email_id ]/message and  leads to get the attachments sent in emails by users
​
Reproduction:
1. you must have 2 different emails in 2 different orgs
2. with account (A) go to https://partners.acroni

[2022-09-19 20:01] prashantjadhav92 opened #154 "SEC-5131 - Spellcheck not disabled for login and password fields"
Enhanced Spellcheck Feature in Chrome & Edge browser sends form field values to Google & Microsoft. This includes login and password fields (for password if "show password" button was clicked by the user). It is required to disable spellcheck for corresponding fields to avoid sensitive information leakage.

Fix: Add attribute spellcheck=false to login and password fields (this includes password re

[2022-09-19 20:04] prashantjadhav92 opened #155 "SEC-5108 - Information about all organizations accessible via /api/GetAllOrganizations"
Information about all organizations accessible via /api/GetAllOrganizations.

Steps to reproduce:

Make the following request. Set proper <SESSION> and <CSRF_TOKEN> values
1. curl -X POST https://partners.acronis.com/api/GetAllOrganizations -H "Content-Type: application/json" -b "jwt=<SESSION>" -H "X-Csrf-Token: <CSRF_TOKEN>" -d '{}' -s

2. {"result":{"schema":{"id":"int64","name":"string","addres

[2022-09-19 20:06] prashantjadhav92 opened #156 "SEC-5107 - It is possible to access information about other users using /api/GetAllUsers endpoint"
It is possible to access information about other users using /api/GetAllUsers endpoint

Steps to reproduce:

Make the following request, set proper <SESSION> and <CSRF_TOKEN> values
curl -X POST https://partners.acronis.com/api/GetAllUsers -H "Content-Type: application/json" -b "jwt=<SESSION>" -H "X-Csrf-Token: <CSRF_TOKEN>" -d '{}' -s

{"result":{"schema":{"id":"int64","photoid":"int64","name":"s

[2022-09-19 20:08] prashantjadhav92 opened #157 "SEC-5105 - IDOR to get imported contacts via /api/ImportContactsFile2 endpoint"
IDOR is possible via /api/ImportContactsFile2 endpoint which allows to get imported contacts. fileID parameter is vulnerable

Steps to reproduce:
* Make the following request, set proper <SESSION>, <CSRF_TOKEN> and <FILE_ID> values. <FILE_ID> should be id of imported contact file from any other organization

curl -X POST https://partners.acronis.com/api/ImportContactsFile2 -H "Content-Type: applic

[2022-09-19 20:19] prashantjadhav92 commented on #98
@PuneetRevclerx the client has mentioned this is not fixed yet.
Logged in user -

Contact with id 517612 and email address [stushieva@wearehackerone.com](mailto:stushieva@wearehackerone.com). Request example:

curl https://partners.acronis.com/api/GetActivityFeed -X POST -H "Content-Type: application/json" -H "X-CSRF-Token: <CSRF_TOKEN>" -b ".ASPXAUTH=<SESSION>"-d '{"contactid":517612,"pagesize":1

[2022-09-20 00:35] cphillips83 commented on #157
Added permission checks. API should be changed to immutable as tasks aren't meant to be updated.

[2022-09-20 01:04] sunrao commented on #157
@PuneetRevclerx / @IshantRevclerx Test this on the Main

[2022-09-20 04:56] shivmishra commented on #69
@prashantjadhav92 @IshantRevclerx please check here
https://github.com/MindMatrix/AMP/pull/52511

[2022-09-20 04:57] shivmishra commented on #155
https://github.com/MindMatrix/AMP/pull/52511
Please check here

[2022-09-20 04:58] shivmishra commented on #156
please check here
https://github.com/MindMatrix/AMP/pull/52511

[2022-09-20 04:58] shivmishra commented on #153
please check here
https://github.com/MindMatrix/AMP/pull/52511

[2022-09-20 04:59] shivmishra commented on #157
https://github.com/MindMatrix/AMP/pull/52511

[2022-09-20 08:07] IshantRevclerx commented on #156
@shivmishra Sir, @sunrao Sir, I have checked above security issue on the given branch ( https://pr-52511.dvl.amp.vg/ ) and It's working as expected now.

[2022-09-20 08:10] IshantRevclerx commented on #69
@shivmishra Sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52511.dvl.amp.vg/ ) and It's working as expected now.

[2022-09-20 08:38] Mahimapatil commented on #23
@PuneetRevclerx PR for this. https://github.com/MindMatrix/AMP/pull/52525

[2022-09-20 08:39] Mahimapatil commented on #15
@PuneetRevclerx PR for this https://github.com/MindMatrix/AMP/pull/52525

[2022-09-20 09:36] PuneetRevclerx commented on #155
@shivmishra sir, @sunrao sir, I have checked above security issue on the given branch (https://pr-52511.dvl.amp.vg) and it's working as expected now.

[2022-09-20 09:41] PuneetRevclerx commented on #153
@shivmishra sir, I have checked above security issue on the given branch (https://pr-52511.dvl.amp.vg/) and user is not able to access the email attachment of other organization's users. But, a user can still access the email attachments of users from the same organization.

For example, a normal user (security ishant) of "Automation" organization is able to see the attachments of super admin user

[2022-09-20 09:46] shaileshtayde commented on #154
![image](https://user-images.githubusercontent.com/6465652/191225815-79501954-2695-4835-8434-8bca380f31c4.png)

[2022-09-20 09:53] shivmishra commented on #153
check after branch build

[2022-09-20 12:06] PuneetRevclerx commented on #153
@shivmishra sir, the User is still able to see email attachments of other users in his own organization.

[2022-09-20 12:24] IshantRevclerx commented on #157
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52511.dvl.amp.vg/ ) and It's working as expected now.

[2022-09-20 12:30] prashantjadhav92 commented on #154
@shaileshtayde I have asked the client to verify the same.

[2022-09-20 13:14] IshantRevclerx commented on #85
@Vish-Patil sir, The above UI Issue is on the main as well.

[2022-09-20 13:15] IshantRevclerx commented on #87
@Vish-Patil sir, The above UI Issue is on the main as well.

[2022-09-20 13:16] PuneetRevclerx commented on #86
@Vish-Patil sir, the above UI Issue is on the main as well.

[2022-09-20 13:17] PuneetRevclerx commented on #88
@Vish-Patil sir, the above UI Issue is on the main as well.

[2022-09-20 16:21] prashantjadhav92 opened #158 "SEC-4460 Stored-XSS in filters input [videos gallery]"
1. Go to edit an video https://partners.acronis.com/#gallery/videos
2. Intercept the request to the endpoint /api/savevideo and
3. Set [filters] parameter: XSS\" onclick=\"alert(164)
4. Forward the Request and go back to videos gallery https://partners.acronis.com/#gallery/videos
5. A new filter is created. It executes JS if it's clicked

[2022-09-20 16:23] #22 closed

[2022-09-20 18:13] prashantjadhav92 commented on #29
Verified by the client.

[2022-09-20 18:13] #29 closed

[2022-09-20 19:43] prashantjadhav92 commented on #134
@IshantRevclerx can you please check this on Acronis install once? The client is still able to reproduce this issue.

You can just open in the browser the following: view-source:https://partners.acronis.com/calendarevent/view/11 and see data accessible:
![scrot_selection_Aug102022_012154](https://user-images.githubusercontent.com/31324885/191350099-8ed419a7-580a-49d3-852f-9dcc92dc8ac9.png)

[2022-09-20 21:08] sunrao commented on #158
@IshantRevclerx / @PuneetRevclerx Pl. check this on the XSS branch of @shivmishra

[2022-09-21 05:10] PuneetRevclerx commented on #81
@sunrao sir, @HareshKedar sir, I have verified above issue on mm.amp.vg and it's working as expected now.

[2022-09-21 05:10] #81 closed

[2022-09-21 07:01] shivmishra commented on #158
yes plz check on mentioned branch https://github.com/MindMatrix/AMP/pull/52281

[2022-09-21 07:03] shivmishra commented on #153
this needs discussion with @sunrao who can access other users email

[2022-09-21 09:30] PuneetRevclerx commented on #158
@shivmishra sir, I have checked the above issue on the given branch (https://pr-52281.dvl.amp.vg/) and "Edit" button is not showing on the video and also thumbnail is not loading. On main "Edit" button is visible along with the thumbnail of the video.

On main:
![image](https://user-images.githubusercontent.com/102346181/191468439-a6f7ca08-b6e5-4ab0-b21f-97d214fd4bb7.png)

On Branch:
![image](http

[2022-09-21 12:01] IshantRevclerx commented on #134
@prashantjadhav92 sir, I have checked above security issue on acronis production

[2022-09-21 12:06] IshantRevclerx commented on #134
@prashantjadhav92 sir, I have tried open the link provided in the above comment on acronis production and its showing an error shown in the screenshoot below.
![image](https://user-images.githubusercontent.com/92088937/191498606-c5e99370-9036-4bf2-8900-a9a12c9ea6f1.png)

![image](https://user-images.githubusercontent.com/92088937/191498711-1db7febf-9540-4066-acd2-e8c5f303b041.png)

**Kindly provid

[2022-09-21 12:09] IshantRevclerx commented on #100
As discuss with @shivmishra sir assigning above ticket to him.

[2022-09-21 16:18] prashantjadhav92 commented on #134
I will ask the client to verify this again.

[2022-09-22 14:56] prashantjadhav92 commented on #154
@HareshKedar @shaileshtayde the client has mentioned that this is not present on the password change field in the user's profile - Confirm new password field (where there is a button "show password" present) does not have a spellcheck attribute. The same for the password reset page

[2022-09-23 05:35] PuneetRevclerx commented on #112
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-52281.dvl.amp.vg/) and it's working as expected now.

[2022-09-23 05:49] PuneetRevclerx commented on #4
@prashantjadhav92 sir, I have checked above issue on Acronis production and it's working as expected now.

[2022-09-23 05:58] PuneetRevclerx commented on #117
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-23 06:05] PuneetRevclerx commented on #110
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-23 06:15] PuneetRevclerx commented on #146
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-23 06:16] IshantRevclerx commented on #129
@prashantjadhav92 sir,  I have checked above issue on Acronis production and it's working as expected now.

[2022-09-23 06:43] PuneetRevclerx commented on #101
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-23 07:38] IshantRevclerx commented on #43
@prashantjadhav92 sir,  I have checked above issue on Acronis production and it's working as expected now.

[2022-09-23 07:42] IshantRevclerx commented on #140
@prashantjadhav92 sir,  I have checked above issue on Acronis production and it's working as expected now.

[2022-09-23 07:46] IshantRevclerx commented on #109
@prashantjadhav92 sir,  I have checked above issue on Acronis production and it's working as expected now.

[2022-09-23 07:50] PuneetRevclerx commented on #151
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-09-23 07:58] IshantRevclerx commented on #145
@prashantjadhav92 sir,  I have checked above issue on Acronis production and it's working as expected now.

[2022-09-23 09:01] IshantRevclerx commented on #147
@prashantjadhav92 sir,  I have checked above issue on Acronis production and it's working as expected now.

[2022-09-23 09:04] PuneetRevclerx commented on #148
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-09-23 09:11] IshantRevclerx commented on #150
@prashantjadhav92 sir,  I have checked above issue on Acronis production and it's working as expected now.

[2022-09-23 16:12] prashantjadhav92 commented on #133
Verified by the client.

[2022-09-23 16:12] #133 closed

[2022-09-23 16:15] prashantjadhav92 commented on #67
Verified by the client.

[2022-09-23 16:15] #67 closed

[2022-09-23 16:43] prashantjadhav92 commented on #150
I have asked the client to verify.

[2022-09-23 16:44] prashantjadhav92 commented on #148
I have asked the client to verify this.

[2022-09-23 16:44] prashantjadhav92 commented on #147
I have asked the client to verify this.

[2022-09-23 16:45] prashantjadhav92 commented on #145
I have asked the client to verify this.

[2022-09-23 16:46] prashantjadhav92 commented on #4
I have asked the client to verify this.

[2022-09-23 17:51] prashantjadhav92 commented on #151
I have asked the client to verify this.

[2022-09-23 17:52] prashantjadhav92 commented on #109
I have asked the client to verify this.

[2022-09-23 17:53] prashantjadhav92 commented on #140
I have asked the client to verify this.

[2022-09-23 17:56] prashantjadhav92 commented on #43
I have asked the client to verify this.

[2022-09-23 18:00] #43 closed

[2022-09-23 18:01] prashantjadhav92 commented on #101
I have asked the client to verify this.

[2022-09-23 18:02] prashantjadhav92 commented on #129
I have asked the client to verify this.

[2022-09-23 18:09] prashantjadhav92 commented on #146
I have asked the client to verify this.

[2022-09-23 18:10] prashantjadhav92 commented on #110
I have asked the client to verify this.

[2022-09-23 18:13] prashantjadhav92 commented on #117
I have asked the client to verify this.

[2022-09-26 12:31] shivmishra commented on #149
@IshantRevclerx plz check here https://github.com/MindMatrix/AMP/pull/52699

[2022-09-26 12:32] shivmishra commented on #100
@IshantRevclerx plz check here https://github.com/MindMatrix/AMP/pull/52699

[2022-09-26 12:43] shivmishra commented on #158
@PuneetRevclerx i update the branch from main, so please check again. if still didnt work then could be some video setting issue on main and branch and in such case plz check for filter here.

if you still want to sure check on any other 3rd branch.

[2022-09-26 15:45] prashantjadhav92 opened #159 "#1429940 Improper access control allows to modify level/plan of the partner program, (/api/SaveOrganization)"
It is possible to change organization level/plan using request to /api/SaveOrganization. In fields f_34, f_36, f_35, f_37 required level might be specified, e.g. "f_34":"Service provider","f_36":"Authorized","f_35":"Reseller","f_37":"Platinum".
Afterwards, it might be verified on /#partnerprogram page, that level/plan was changed.

As per Acronis, even if the user has organization edit access, it

[2022-09-27 10:31] shaileshtayde commented on #159
@prashantjadhav92 @sunrao We don't have a special permission to restrict particular fields of an organization. This is completely driven on organization edit fields only.
@shivmishra  Can we set the visibility or accessibility of these Organization fields so only Super Admin users can edit resp. fields?

[2022-09-27 10:41] PuneetRevclerx commented on #158
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch (https://pr-52281.dvl.amp.vg/) and it's working as expected now.

[2022-09-27 10:45] shivmishra commented on #159
right now we cannot fix this and after organization layout enhancement we would be able to hide the tab i guess.

@sunrao is that correct?

[2022-09-27 10:48] IshantRevclerx commented on #100
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52699.dvl.amp.vg/ ) and It's working as expected now.

[2022-09-27 10:51] IshantRevclerx commented on #149
@shivmishra sir, @sunrao sir, I have checked above security issue and basic functionality on the given branch ( https://pr-52699.dvl.amp.vg/ ) and It's working as expected now.

[2022-09-27 11:13] sunrao commented on #159
@shaileshtayde The tabs can be hidden and all the fields in the tab will be hidden

[2022-09-27 14:19] prashantjadhav92 commented on #64
Hi @cphillips83 and @shaileshtayde, Acronis has been asking for an update on this security point.

[2022-09-27 15:31] prashantjadhav92 commented on #148
Verified by the client.

[2022-09-27 15:31] #148 closed

[2022-09-27 15:32] prashantjadhav92 commented on #150
Verified by the client.

[2022-09-27 15:32] #150 closed

[2022-09-27 18:29] prashantjadhav92 commented on #147
Verified by the client.

[2022-09-27 18:29] #147 closed

[2022-09-27 18:30] prashantjadhav92 commented on #145
Verified by the client.

[2022-09-27 18:30] #145 closed

[2022-09-27 18:40] prashantjadhav92 commented on #151
Verified by the client.

[2022-09-27 18:40] #151 closed

[2022-09-27 18:41] prashantjadhav92 commented on #109
Verified by the client.

[2022-09-27 18:41] #109 closed

[2022-09-27 18:42] prashantjadhav92 commented on #101
Verified by the client.

[2022-09-27 18:42] #101 closed

[2022-09-27 18:48] prashantjadhav92 commented on #129
Verified by the client.

[2022-09-27 18:48] #129 closed

[2022-09-27 18:49] prashantjadhav92 commented on #146
Verified by the client.

[2022-09-27 18:49] #146 closed

[2022-09-27 18:50] prashantjadhav92 commented on #117
Verified by the client.

[2022-09-27 18:50] #117 closed

[2022-09-28 05:38] PuneetRevclerx opened #160 "XSS: JS is getting executed on export status page."
URL: https://main.dvl.amp.vg/#connections/export/status

STR:
1. Export Contact, opportunity or pdf report.
2. Repeat the process and in API change the name of the export file to (New "onmouseover=confirm(1)).
3. Now, go to Connection>> Export Status.
4. Hover the mouse over the export file name.

Actual Result: JS will execute by hovering the mouse over the export file name.

**Contact**:
![image

[2022-09-28 05:50] IshantRevclerx opened #161 "XSS : JS is getting executed on company smart list name"
URL : https://main.dvl.amp.vg/#setup/companysmartlists

STR :
1) Go to above url>>> Click on create button
2) Enter  [Test" onmouseover="confirm(164) ] in the name field
3) Fill the requireds filleds and click on finish button.
4) Now hover the mouseover the newly created list

Actual Result : JS is getting executed on company smart list name
![image](https://user-images.githubusercontent.com/9208

[2022-09-28 06:29] shaileshtayde commented on #160
@PuneetRevclerx This should be fixed in @shivmishra sir's branch where ke fixed all XSS issues in dot-template. Can you please have this validated there.

[2022-09-28 06:40] PuneetRevclerx commented on #160
@shaileshtayde sir, PR- 51734, where all the XSS issues were fixed, was not released and is closed now. Also, Sunil sir told us to assign all the issues fixed in that PR to the respective developers.

[2022-09-28 10:08] sunrao commented on #159
@shaileshtayde If visible for the user it can be updated from the front end

[2022-09-28 10:11] sunrao commented on #160
@Mahimapatil Get the page done in Razor with all permission checks

[2022-09-28 10:16] shivmishra commented on #159
@shaileshtayde yes if user add field and value in json it will be updated

[2022-09-28 12:19] Mahimapatil commented on #160
@sunrao Done in https://pr-52769.dvl.amp.vg/

[2022-09-28 14:28] sabhareeraj commented on #161
@sunrao sir, Issue fixed in above PR. Kindly assign tester.

[2022-09-29 04:12] IshantRevclerx commented on #161
@sabhareeraj @sunrao sir, I have checked above security issue and It's working as expected.

[2022-09-29 04:58] PuneetRevclerx commented on #160
URL: https://pr-52769.dvl.amp.vg/#connections/export/status

When we first go to the above URL, contact, and user both tabs show selected and the user cannot switch between these two. The user has to click on any other tab then he can move back to the contact or user tab.

![image](https://user-images.githubusercontent.com/102346181/192940777-9b457213-7f66-407d-8751-cd09832ba19d.png)

[2022-09-30 07:27] HareshKedar commented on #154
@prashantjadhav92 This is done on sandbox. Kindly verify.

[2022-09-30 10:28] IshantRevclerx commented on #161
@sunrao sir, I have checked above security issue and basic functionality, Its working as expected now.

[2022-09-30 10:28] #161 closed

[2022-10-03 05:18] PuneetRevclerx commented on #155
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-10-03 05:20] IshantRevclerx commented on #156
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-10-03 05:24] IshantRevclerx commented on #157
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-10-03 05:30] IshantRevclerx commented on #69
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-10-03 09:16] Vish-Patil commented on #87
its due to screen size, nothing related to current changes. so please approve this bug and PR.

[2022-10-03 11:07] shivmishra commented on #72
@PuneetRevclerx i think this would be globally fixed in one of my PR. can you verify on main

[2022-10-03 11:53] Mahimapatil commented on #160
@PuneetRevclerx Done

[2022-10-03 12:19] shivmishra commented on #153
@PuneetRevclerx plz check after build here https://github.com/MindMatrix/AMP/pull/52884

[2022-10-03 12:23] shivmishra commented on #85
@sunrao @IshantRevclerx @shaileshtayde  if API issue fixed then for usability we can create new issue from main instead security issue

[2022-10-03 12:23] shivmishra commented on #86
@sunrao @IshantRevclerx @shaileshtayde  if API issue fixed then for usability we can create new issue from main instead security issue

[2022-10-03 12:25] Vish-Patil commented on #85
yes as this issue is due to screen size as no one reported it on live yet.

[2022-10-03 12:53] sunrao commented on #86
@PuneetRevclerx Pl. get Piyush report the UI issue and close the Security issue

[2022-10-03 15:27] prashantjadhav92 commented on #155
Asked the client to verify.

[2022-10-03 15:27] prashantjadhav92 commented on #69
Asked the client to verify.

[2022-10-03 15:28] prashantjadhav92 commented on #157
Asked the client to verify.

[2022-10-03 15:30] prashantjadhav92 commented on #156
Asked the client to verify.

[2022-10-03 15:31] prashantjadhav92 commented on #155
Asked the client to verify.

[2022-10-03 17:37] prashantjadhav92 opened #162 "SEC-4417 Possible to bypass file access restrictions"
It is possible to bypass file access restrictions by modifying file URL. For example, changing /file/ to /img/ in the following URL will allow to obtain access to the file:
https://partners.acronis.com/file/cchj6znwbae5y/LicenseCertificate-SOCH586561.pdf

->

https://partners.acronis.com/img/cchj6znwbae5y/LicenseCertificate-SOCH586561.pdf

Fix: It should not be possible to bypass file access restr

[2022-10-03 20:23] prashantjadhav92 commented on #42
@cphillips83 do we have any update on this point?

[2022-10-04 04:38] PuneetRevclerx commented on #160
@Mahimapatil mam, @sunrao sir, I have checked above security issue on the given branch (https://pr-52769.dvl.amp.vg/) and it's working as expected now.

[2022-10-04 04:49] PuneetRevclerx commented on #86
@Vish-Patil sir, @sunrao sir, I have checked above security issue on the given branch (https://pr-51825.dvl.amp.vg/) and user is not able to delete MDF fund request created by other organization's user.

For the UI, an issue (https://github.com/MindMatrix/AMP/issues/51769) is already created by Priyank on the main.

[2022-10-04 05:32] PuneetRevclerx commented on #153
@shivmishra sir, I have checked above security issue on the given branch (https://pr-52884.dvl.amp.vg/) and a normal user is still able to access emails of other users of his own organization including the super admin users.

[2022-10-04 05:52] PuneetRevclerx commented on #72
@shivmishra sir, @sunrao sir, I have checked above security issue on main and it's working as expected now.

[2022-10-04 06:32] IshantRevclerx commented on #87
@Vish-Patil sir, @sunrao sir, , I have checked above security issue on the given branch (https://pr-51916.dvl.amp.vg/) and user is not able to Approve or Reject MDF request created by other organization's user.

For the UI, an issue (https://github.com/MindMatrix/AMP/issues/51769) is already created by Priyank on the main.

[2022-10-04 06:38] IshantRevclerx commented on #85
@Vish-Patil sir, @sunrao sir, , I have checked above security issue on the given branch ( https://pr-51735.dvl.amp.vg/ )and user is not able to create MDF Fund Request for the plan not assigned to his Organization.

For the UI, an issue (https://github.com/MindMatrix/AMP/issues/51769) is already created by Priyank on the main.

[2022-10-04 06:50] shivmishra commented on #153
please mention both users

[2022-10-04 07:02] PuneetRevclerx commented on #153
@shivmishra sir,
Username- Ishant (Super Admin)
Username- Security Ishant (Normal User)

Email was sent by Super Admn user but both users are able to view the email message with the following link (https://pr-52884.dvl.amp.vg/#communicate/email/10780/message)

[2022-10-04 07:43] PuneetRevclerx commented on #154
@HareshKedar sir, @sunrao sir, I have checked above issue on Acronis Sandbox and it's working as expected now.

@HareshKedar sir, Kindly update it on Acronis Production.

[2022-10-04 10:15] PuneetRevclerx commented on #153
@shivmishra sir, @sunrao sir, I have checked above security issue on the given branch (https://pr-52884.dvl.amp.vg) and it's working as expected now.

[2022-10-04 17:04] PuneetRevclerx commented on #141
@shaileshtayde sir, the above issue is reproducible on MM (Live) but not on Main.

**On Main**
![image](https://user-images.githubusercontent.com/102346181/193881810-33eec1eb-5150-449d-97af-bb91fe004e61.png)

**On MM (Live)**
![image](https://user-images.githubusercontent.com/102346181/193881937-83c8de36-5dcd-4bae-8e5a-62c327a03ff9.png)

[2022-10-06 09:49] Vish-Patil commented on #35
this looks good to me. please get this tested.

[2022-10-06 11:22] IshantRevclerx commented on #35
@Vish-Patil sir, @sunrao sir, I have checked above security issue on live and It's working as expected now

[2022-10-06 13:21] prashantjadhav92 commented on #35
@IshantRevclerx was this verified on Acronis production?

[2022-10-06 13:30] prashantjadhav92 commented on #157
Verified by the client.

[2022-10-06 13:30] #157 closed

[2022-10-06 13:31] prashantjadhav92 commented on #156
Verified by the client.

[2022-10-06 13:32] #156 closed

[2022-10-06 13:33] prashantjadhav92 commented on #69
Verified by the client.

[2022-10-06 13:33] #69 closed

[2022-10-06 13:34] prashantjadhav92 commented on #155
Verified by the client.

[2022-10-06 13:34] #155 closed

[2022-10-06 14:00] shaileshtayde commented on #159
@sunrao @prashantjadhav92 This is our default functionality. Please have this discussed with @cphillips83 + Vedonia as it may require a new implementation of accessibility per field and it will be complex one (This was discussed with @shivmishra already)

[2022-10-06 17:33] Vish-Patil commented on #5
@sunrao please get this tested in following PR
https://github.com/MindMatrix/AMP/pull/52996

[2022-10-07 04:31] cphillips83 commented on #42
@prashantjadhav92 https://github.com/MindMatrix/AMP/pull/53000 fixes this issue

[2022-10-07 12:11] PuneetRevclerx commented on #115
@MeghanaThakekar mam, @sunrao sir, I have checked above security issue on Acronis sandbox and it's working as expected now.

[2022-10-07 12:13] PuneetRevclerx commented on #122
@MeghanaThakekar mam, @sunrao sir, I have checked above security issue on Acronis sandbox and it's working as expected now.

[2022-10-10 07:43] PuneetRevclerx commented on #5
@Vish-Patil sir, @sunrao sir, I have checked above security issue on Acronis Sandbox and it's working as expected now.

[2022-10-10 09:05] shivmishra commented on #162
@sunrao @IshantRevclerx should be fixed here
https://github.com/MindMatrix/AMP/pull/53058

[2022-10-10 14:02] prashantjadhav92 commented on #140
@IshantRevclerx Acronis has mentioned the issue is still reproducible using the same steps. Can you verify this again?

[2022-10-10 16:42] IshantRevclerx commented on #140
@prashantjadhav92 sir, I have verifiyed again at my end  on Acronis production using above mentioned steps , the issue is not reproducable now.
kindly provide the additional info or the users that are being used.

[2022-10-10 17:37] prashantjadhav92 commented on #140
@IshantRevclerx
1. Create a video, add XSS to its name and description
2. Create another video, add XSS to its name and description
3. Add the same filter on both then view a video and hover on the description and name of the video displayed in the related category, it will execute the XSS.

https://user-images.githubusercontent.com/31324885/194923412-1a132dc9-8443-45a3-9147-40609ba216cd.mp4

[2022-10-10 20:11] prashantjadhav92 commented on #42
@sunrao you have closed this issue. Can you please let me know if this is fixed?

[2022-10-10 20:20] prashantjadhav92 commented on #37
@tajindersharma do we have any further updates on this point? We need to get this point sorted as it is on of the priority items marked by Acronis.
+ @sunrao @cphillips83 for visibility.

[2022-10-10 21:33] sunrao commented on #37
@tajindersharma Team is working on this and it will take some time, I do send status every week and even today for this

[2022-10-11 05:55] IshantRevclerx commented on #140
@shivmishra sir, I have verified above issue on main, this issue still exist in Releted Video Functinality
![image](https://user-images.githubusercontent.com/92088937/195007803-b36ae7fc-07b0-4b5a-85e6-9274ae5a4f33.png)

[2022-10-11 05:56] tajindersharma commented on #37
@prashantjadhav92 Its an enhancing and will take some time to complete. Team is working on this and will update once its done.

[2022-10-11 10:40] IshantRevclerx commented on #35
@prashantjadhav92 sir, PR of this ticket is not merged on Acronis production, so I did not verified on Acronis production yet

[2022-10-11 10:54] shaileshtayde commented on #38
@sunrao @PuneetRevclerx @IshantRevclerx This is addressed in main branch, please have this tested.

[2022-10-11 10:54] shivmishra commented on #140
fixed here https://github.com/MindMatrix/AMP/pull/53058

[2022-10-11 11:10] PuneetRevclerx commented on #38
@shaileshtayde sir, I have tested it on main and still after changing the password on 1 browser the session stays active in the second browser.

[2022-10-11 11:32] shaileshtayde commented on #38
@PuneetRevclerx Did you build the main branch? If not, please do so. I've rebuild again

[2022-10-11 13:03] prashantjadhav92 commented on #35
Thanks for the update @IshantRevclerx. Let me know once this is updated on Acronis Prod.

[2022-10-11 15:15] IshantRevclerx commented on #38
@prashantjadhav92 sir, The above issue is fixed for reset password functionality. Kindly check the video for reference.
Kindly confirm if the same changes need to be done on the change password functionality as well?

https://user-images.githubusercontent.com/92088937/195130825-e294632f-5c7a-4815-9c8b-4247a1faffbf.mp4

[2022-10-11 16:32] sunrao commented on #59
@Vish-Patil Pl. get this done

[2022-10-12 04:57] IshantRevclerx commented on #38
@shaileshtayde sir, as mentioned by prashant sir kindly make the changes in change password functinality as well.

[2022-10-12 06:30] shaileshtayde commented on #38
@prashantjadhav92 When you ask for this functionality, what do you mean?
1. Do you mean to terminate all  the active sessions including current one?
2. Or keep the active one and terminate rest of the sessions?

This needs to be confirmed @cphillips83 @sunrao what is your point of view on this one?

[2022-10-12 09:34] sunrao commented on #38
This was done earlier wherein it used to terminate all existing sessions, can we make this configurable?

[2022-10-12 09:46] shaileshtayde commented on #38
@cphillips83 please comment

[2022-10-12 15:06] prashantjadhav92 commented on #42
@cphillips83, can you please let me know if this point was fixed?

[2022-10-14 06:24] shaileshtayde commented on #98
@PuneetRevclerx @IshantRevclerx Please give a run on this one as well. You'd see the existing record because it might have been created due to contact check wasn't present in resp. API before.

[2022-10-14 06:26] shaileshtayde commented on #159
@sunrao Assigning this to @shivmishra as he's working on this  one. @cphillips83 fyi.
@PuneetRevclerx @IshantRevclerx @prashantjadhav92 This would need investigation on Shiv's end, hence consider this is work in progress.

[2022-10-14 06:32] shaileshtayde commented on #64
@prashantjadhav92 As Chris has mentioned in one of an email, we'll be enabling the <disablepii>true</disablepii> that will hide the user personalization info. This is a quick remedy that will not show the user/org data even after changing the userid.

This is the temporary fix to restrict exposing the user data.
@furquankhan Can you please have this added in Acronis staging  install's config.xml f

[2022-10-14 06:53] IshantRevclerx commented on #100
@prashantjadhav92 sir, I have checked above security issue on Acronis production and It's working as expected now.

[2022-10-14 06:57] IshantRevclerx commented on #149
@prashantjadhav92 sir, I have checked above security issue on Acronis production and Its's working as expected now.

[2022-10-14 07:03] IshantRevclerx commented on #87
@Vish-Patil sir and @sunrao sir, working as expected now.

[2022-10-14 07:03] #87 closed

[2022-10-14 07:23] PuneetRevclerx commented on #153
@prashantjadhav92 sir, I have checked the above security issue on Acronis Production and it's working as expected now.

[2022-10-14 07:26] PuneetRevclerx commented on #5
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-10-14 07:36] IshantRevclerx commented on #35
@prashantjadhav92 sir, I have checked above security issue on Acronis production and It's working as expected now.

[2022-10-14 09:04] shaileshtayde commented on #64
@sunrao @PuneetRevclerx @IshantRevclerx Can you please have this verified on Acronis staging please.
User personal data won't be showed in preview page anymore; https://staging.partners.acronis.com

[2022-10-14 09:52] PuneetRevclerx commented on #154
As per our discussion, assigning it back to Haresh sir.

[2022-10-14 10:39] PuneetRevclerx commented on #64
@shaileshtayde sir, @sunrao sir, I have checked the above security issue on https://staging.partners.acronis.com. and no personal data is being shared on the preview page now.

[2022-10-14 10:41] sunrao commented on #64
@shaileshtayde <disablepii>true</disablepii>  after this key the issue becomes invalid but over the period we need to provide URL signing and enable User parsing

[2022-10-14 12:58] prashantjadhav92 commented on #100
@IshantRevclerx I have asked the client to confirm.

[2022-10-14 13:00] prashantjadhav92 commented on #149
@IshantRevclerx I have asked the client to confirm.

[2022-10-14 13:01] prashantjadhav92 commented on #153
@PuneetRevclerx I have asked the client to confirm.

[2022-10-14 13:05] prashantjadhav92 commented on #5
@PuneetRevclerx I have asked the client to confirm.

[2022-10-14 13:12] prashantjadhav92 commented on #159
Thank you for the update @shaileshtayde.

[2022-10-17 05:20] PuneetRevclerx commented on #86
@Vish-Patil sir, I have checked the above issue on Main as the PR was merged and the issue is getting reproduced on Main.

[2022-10-17 05:23] IshantRevclerx commented on #140
As disscussed with shiv sir assignining it back

[2022-10-17 10:11] PuneetRevclerx commented on #98
@shaileshtayde sir, @sunrao sir, I have checked the above security issue on the Main and it's working as expected now.

[2022-10-17 17:49] prashantjadhav92 commented on #149
Client has confirmed the fix.

[2022-10-17 17:49] #149 closed

[2022-10-17 17:51] prashantjadhav92 commented on #100
The client has confirmed the fix.

[2022-10-17 17:51] #100 closed

[2022-10-17 18:02] prashantjadhav92 commented on #35
Hi @IshantRevclerx @Vish-Patil Acronis has tested this and confirmed the issue is still reproducible.

Check the website URL at the bottom of this landing page in this example - https://partners.acronis.com/media/previewEditor/100829/89608/2?ismobileop=false.

The proper fix is to encode quotes, https://cheatsheetseries.owasp.org/cheatsheets/Cross_Site_Scripting_Prevention_Cheat_Sheet.html

[2022-10-18 10:48] shivmishra commented on #162
@IshantRevclerx should be fixed after branch build

[2022-10-18 10:49] shivmishra commented on #140
check in branch after build

[2022-10-18 13:13] HareshKedar commented on #154
@PuneetRevclerx This is fixed on sandbox now.

[2022-10-18 14:10] PuneetRevclerx commented on #154
@HareshKedar sir, @sunrao sir, I have checked above issue on Acronis Sandbox and it's working as expected now.

@HareshKedar sir,  Kindly update it on Acronis Production.

[2022-10-18 16:02] shaileshtayde commented on #64
@furquankhan @apmohnot Please add key `<disablepii>true</disablepii>`  in Acronis production

[2022-10-20 06:10] IshantRevclerx commented on #140
@sunrao sir, @shivmishra sir, I have checked above security issue on the given branch ( https://pr-53375.dvl.amp.vg/ ) and Its working as expected now.

[2022-10-20 09:44] sunrao commented on #42
@IshantRevclerx Pl. test this on the LIVE

[2022-10-20 11:24] IshantRevclerx commented on #42
@sunrao sir,  I have checked on Print template and eBook , Its working as expected

[2022-10-20 11:36] shivmishra commented on #162
@IshantRevclerx this document uploaded from case records

[2022-10-20 12:23] IshantRevclerx commented on #162
@shivmishra sir, I have checked on main and mm live but we can not reproduce it.
kindly let us know,  how we can reproduce this issue, so that we can reproduce on the branch.

[2022-10-20 12:25] shivmishra commented on #162
once i will fix at my end then will try to reproduce

[2022-10-20 13:14] prashantjadhav92 commented on #42
@IshantRevclerx was this tested on Acronis production?

[2022-10-20 13:19] shivmishra commented on #162
@IshantRevclerx you can check now

[2022-10-20 13:22] prashantjadhav92 commented on #153
The client has verified the fix.

[2022-10-20 13:51] #5 closed

[2022-10-20 14:31] #160 closed

[2022-10-20 15:46] prashantjadhav92 commented on #159
@shivmishra, can super admins update these fields?

[2022-10-20 15:46] shivmishra commented on #159
no

[2022-10-20 15:55] sunrao commented on #159
@shivmishra The fields can be edited and saved for users who can view the fields i.e. based on the tab view of the fieldset

[2022-10-20 16:10] shivmishra commented on #159
no this is not related to tab. protected means protected for system. Please talk to @cphillips83 and get his approval

[2022-10-20 16:13] sunrao commented on #159
@shivmishra Chris has mentioned that
If you want to disable what is allowed to be updatable, you change this setting, then if you still need to modify it, then you have to take it as an additional param and manually set it in the API.

Hence in the API if there is visibility for the User it can be updated

[2022-10-20 16:13] shivmishra commented on #159
![image](https://user-images.githubusercontent.com/6465643/197002565-85fdd7aa-2764-4729-8586-c370bb5ac903.png)

[2022-10-21 06:34] IshantRevclerx commented on #85
@Vish-Patil sir, I have checked the above issue on Main as the PR was merged and the issue is getting reproduced on Main.

[2022-10-21 08:33] IshantRevclerx commented on #42
@prashantjadhav92 sir, this issue was reported by 8X8 but we verified on Acronis production and its working as expected now.

[2022-10-21 14:17] prashantjadhav92 commented on #42
@IshantRevclerx I have asked the client to confirm.

[2022-10-25 08:06] PuneetRevclerx commented on #116
@MeghanaThakekar mam, as mentioned on the PR, I checked above security issue again. JS is not getting executed on the calendar event. But, after adding ("Test <script>alert('XSS on Calendar event')</script>") in the description. If I click on the event again to view it then it shows some text as shown in the screenshot. This issue was fixed earlier but now facing it again

![image](https://user-im

[2022-10-25 10:22] sunrao commented on #159
@cphillips83 @shivmishra Following is the requirement
Organization custom tabs can be made visible to specific users from the show/hide settings
![image](https://user-images.githubusercontent.com/6465639/197748635-c30829d0-1fe0-46d7-9263-1a3df4f0b94d.png)

![image](https://user-images.githubusercontent.com/6465639/197748655-adf224aa-563d-4895-91b5-662c297f77e6.png)

From the front end, since the u

[2022-10-25 10:29] MeghanaThakekar commented on #144
@PuneetRevclerx - please check this issue in pr https://github.com/MindMatrix/AMP/pull/51374

[2022-10-25 10:55] shaileshtayde commented on #64
@PuneetRevclerx @IshantRevclerx this key is configured on Acronis production, please verify

[2022-10-25 10:58] MeghanaThakekar commented on #116
@PuneetRevclerx - fixed

[2022-10-25 11:08] PuneetRevclerx commented on #116
@MeghanaThakekar mam, @sunrao sir, I have checked above security issue on given branch (https://pr-52090.dvl.amp.vg/) and it's working as expected now.

[2022-10-26 04:31] PuneetRevclerx commented on #64
@prashantjadhav92 sir, I have checked above security issue on Acronis production and it's working as expected now.

[2022-10-26 16:26] IshantRevclerx commented on #114
@prashantjadhav92 sir,  I have checked above security issue on Acronis production and it's working as expected.

[2022-10-26 16:32] PuneetRevclerx commented on #15
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-10-26 16:33] prashantjadhav92 commented on #64
I have asked the client to verify this.

[2022-10-26 16:34] prashantjadhav92 commented on #74
I have asked the client to verify the fix.

[2022-10-26 16:35] prashantjadhav92 commented on #114
I have asked the client to verify the fix.

[2022-10-26 16:39] IshantRevclerx commented on #18
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-10-26 16:42] PuneetRevclerx commented on #112
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-10-26 16:44] PuneetRevclerx commented on #158
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-10-26 16:49] PuneetRevclerx commented on #72
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-10-26 16:53] prashantjadhav92 commented on #23
I have asked the client to verify the fix.

[2022-10-26 16:56] PuneetRevclerx commented on #115
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-10-26 16:57] prashantjadhav92 commented on #18
I have asked the client to verify the fix.

[2022-10-26 16:58] prashantjadhav92 commented on #112
I have asked the client to verify the fix.

[2022-10-26 16:59] prashantjadhav92 commented on #158
I have asked the client to verify the fix.

[2022-10-26 17:01] PuneetRevclerx commented on #122
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-10-26 17:01] prashantjadhav92 commented on #72
I have asked the client to verify the fix.

[2022-10-26 17:02] prashantjadhav92 commented on #115
I have asked the client to verify the fix.

[2022-10-26 17:05] prashantjadhav92 commented on #122
I have asked the client to verify the fix.

[2022-10-26 17:10] PuneetRevclerx commented on #154
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-10-26 17:16] prashantjadhav92 commented on #154
I have asked the client to verify.

[2022-10-26 18:00] PuneetRevclerx commented on #116
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now.

[2022-10-26 18:04] PuneetRevclerx commented on #98
@prashantjadhav92 sir, I have checked above security issue on Acronis Production and it's working as expected now. As mentioned by Shailesh sir, records created earlier will stay accessible but new records will not be accessible to any user.

[2022-10-26 18:28] prashantjadhav92 commented on #116
I have asked the client to verify.

[2022-10-27 08:57] shivmishra commented on #159
@IshantRevclerx @PuneetRevclerx plz verify on this PR

[2022-10-27 11:11] sunrao commented on #159
@IshantRevclerx Pl. check this

[2022-10-27 16:11] sunrao commented on #38
@PuneetRevclerx Pl. test this

[2022-10-27 21:06] prashantjadhav92 commented on #98
This is approved to be fixed.

[2022-10-27 21:06] #98 closed

[2022-10-27 21:08] prashantjadhav92 commented on #154
The client has verified the fix.

[2022-10-27 21:08] #154 closed

[2022-10-27 21:09] prashantjadhav92 commented on #122
The client has verified the fix.

[2022-10-27 21:10] prashantjadhav92 commented on #115
Fix has been verified by the client.

[2022-10-27 21:10] #115 closed

[2022-10-27 21:16] prashantjadhav92 commented on #72
The fix has been verified.

[2022-10-27 21:16] #72 closed

[2022-10-27 21:18] prashantjadhav92 commented on #112
The fix has been verified.

[2022-10-27 21:18] #112 closed

[2022-10-27 21:19] prashantjadhav92 commented on #114
The fix has been verified.

[2022-10-27 21:19] #114 closed

[2022-10-27 21:20] prashantjadhav92 commented on #74
The fix has been verified.

[2022-10-27 21:20] #74 closed

[2022-10-27 21:24] prashantjadhav92 commented on #15
The fix has been verified.

[2022-10-27 21:24] #15 closed

[2022-10-27 21:26] prashantjadhav92 commented on #18
The fix has been verified.

[2022-10-27 21:26] #18 closed

[2022-10-27 21:28] prashantjadhav92 commented on #23
The fix has been verified.

[2022-10-27 21:28] #23 closed

[2022-10-28 15:23] #42 closed

[2022-10-31 08:07] IshantRevclerx commented on #159
@shivmishra sir, @sunrao sir, I have checked above security issue on the given branch (  https://pr-53481.dvl.amp.vg ) and now if custom filed not visible to user then he is not able to edit the values of those field.

[2022-10-31 09:55] sunrao commented on #159
Super job

[2022-10-31 10:56] sunrao commented on #37
@PuneetRevclerx Pl. test this on https://github.com/MindMatrix/AMP/pull/53532

[2022-10-31 12:04] PuneetRevclerx commented on #37
@ashifhusainoo7, @tajindersharma sir, In the user profile, under activate social tab, if I click on activate account button for any of the social accounts, then I am not getting redirected to the login page of that social site.

It's redirecting to the following page shown in the screenshot:
![image](https://user-images.githubusercontent.com/102346181/199003689-2f3fbb75-e436-46ed-8710-e54f56509654

[2022-10-31 12:55] ashifhusainoo7 commented on #37
@PuneetRevclerx  please check now.

[2022-11-01 05:04] PuneetRevclerx commented on #38
@tajindersharma sir, @sunrao sir, I have checked above security issue on the given branch (http://pr-53532.dvl.amp.vg/) and it's working as expected now.

[2022-11-01 05:07] PuneetRevclerx commented on #38
@vickypoonia, As discussed with @shaileshtayde sir, if user changes his password with checkbox checked then he should get redirected to the login page in his current session.

[2022-11-01 05:09] PuneetRevclerx commented on #37
@ashifhusainoo7, @tajindersharma sir, @sunrao sir, I have checked above security issue on the given branch (https://pr-53532.dvl.amp.vg) and it's working as expected now.

[2022-11-01 13:46] prashantjadhav92 commented on #158
Fix has been verified by the client.

[2022-11-01 13:46] #158 closed

[2022-11-01 14:27] PuneetRevclerx commented on #38
@vickypoonia, @sunrao sir, I have checked above security issue on the given branch (https://pr-53377.dvl.amp.vg) and it's working as expected now.

[2022-11-03 20:57] prashantjadhav92 commented on #64
The client has approved that the ticket can be closed for now.

[2022-11-03 20:57] #64 closed

[2022-11-03 21:24] prashantjadhav92 commented on #116
The fix has been verified by the client.

[2022-11-03 21:24] #116 closed

[2022-11-04 19:56] prashantjadhav92 commented on #7
@PuneetRevclerx @IshantRevclerx can you please reverify this issue as Acronis has mentioned this is not fixed?

[2022-11-07 07:34] IshantRevclerx commented on #7
@prashantjadhav92 sir, this issue is already created by me ( https://github.com/MindMatrix/SecurityTracker/issues/144 )
and the issue is fixed on the PR -https://github.com/MindMatrix/AMP/pull/51374.
Once this PR is released the above issue will be fixed automaticaly.

[2022-11-08 14:50] prashantjadhav92 commented on #4
Verified by the client.

[2022-11-08 14:50] #4 closed

[2022-11-08 21:21] sunrao commented on #159
@IshantRevclerx Pl. demonstrate to @prashantjadhav92 what has been fixed, basically if user doesn't have access to the tab the user cannot change the values even from API for the fields from the tab

[2022-11-09 05:56] IshantRevclerx commented on #140
@prashantjadhav92 sir, I have checked above security issue on the Acronis Production and it's working as expected now.

[2022-11-09 09:32] Vish-Patil commented on #59
please get this tested in following PR -53840

[2022-11-09 10:36] PuneetRevclerx commented on #59
@sunrao sir, @Vish-Patil sir, I have checked above security issue on the given branch (https://pr-53840.dvl.amp.vg/) and it's working as expected now.

[2022-11-09 18:09] prashantjadhav92 commented on #140
I have asked the client to confirm.

[2022-11-11 14:17] Vish-Patil commented on #59
@sunrao please get this tested by executing API directly as well.

[2022-11-14 06:25] PuneetRevclerx commented on #59
@sunrao sir, +1

[2022-11-14 14:11] prashantjadhav92 commented on #140
Client has confirmed the fix.

[2022-11-14 14:11] #140 closed

[2022-11-14 14:12] #134 closed

[2022-11-14 20:13] prashantjadhav92 commented on #35
Hi @Vish-Patil and @IshantRevclerx do we have any update on the fix?

[2022-11-14 20:14] prashantjadhav92 commented on #162
@IshantRevclerx was this verified?

[2022-11-14 20:14] prashantjadhav92 commented on #144
@IshantRevclerx was this verified?

[2022-11-15 05:08] IshantRevclerx commented on #162
@prashantjadhav92 sir, PR- 53058 of this ticket has not gone to the Acronis production yet. Firstly we need to tested on Acronis Sand Box and for that we need to merged it on Acronis Sand box.

[2022-11-16 04:04] IshantRevclerx opened #163 "IDOR : Issues found in following API's"
URL : https://pr-51374.dvl.amp.vg/#manage/opportunity-records

#51374

User :  Puneet Security ( Normal User ), Org : Security 1
User : Ishant ( Super Admin ) , Org : Automation
Company : Automation Tetser

Below is the list of APIs which are having issues in them :

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:o

[2022-11-16 06:16] IshantRevclerx commented on #144
@prashantjadhav92 sir, security issue is fixed in PR-51374 , but some functionality and  API's issues are pending.

[2022-11-17 12:22] Vish-Patil commented on #91
please get this tested on following branch PR-54081

[2022-11-22 05:41] PuneetRevclerx commented on #86
@Vish-Patil sir, @sunrao sir, I have checked above security issue on the given branch (https://pr-54081.dvl.amp.vg/) and it's working as expected now.

[2022-11-22 05:42] PuneetRevclerx commented on #91
@Vish-Patil sir, user is not able to approve the request but user can still reject a lead request created by other organization users.

[2022-11-22 07:05] Vish-Patil commented on #91
added security check for deal registration reject as well.

[2022-11-22 07:26] PuneetRevclerx commented on #91
@Vish-Patil sir, @sunrao sir, I have checked about the security issue on the given branch (https://pr-54081.dvl.amp.vg/) and it's working as expected now.

[2022-11-23 08:28] Vish-Patil commented on #35
[organization URL .webm](https://user-images.githubusercontent.com/6465635/203500815-d5fad60a-a8e5-48bc-b3d2-4319860dd6d5.webm)
@prashantjadhav92 @IshantRevclerx following URL is working for me. can you please give more details.

https://partners.acronis.com/media/previewEditor/100829/89608/2?ismobileop=false.

[2022-11-23 14:38] prashantjadhav92 commented on #35
@shaileshtayde @sunrao @Vish-Patil since we have hidden the variables for Acronis, we are not able to reproduce this issue anymore.

[2022-11-29 04:25] PuneetRevclerx commented on #59
@prashantjadhav92 sir, I checked the above security issue on Acronis Production and it's working as expected.

[2022-11-29 04:59] IshantRevclerx commented on #144
@sunrao sir,  I have verified on mm live Production and Its' working as expected.

[2022-11-29 04:59] #144 closed

[2022-11-29 05:04] PuneetRevclerx commented on #86
@sunrao sir, I have verified it on MM and it's working as expected now.

[2022-11-29 05:04] #86 closed

[2022-11-29 05:08] PuneetRevclerx commented on #91
@sunrao sir, I have verified it on MM and it's working as expected now.

[2022-11-29 05:08] #91 closed

[2022-11-29 05:27] IshantRevclerx opened #164 "Data is not showing on the graph"
URL : https://pr-52938.dvl.amp.vg/#sa/socialhealth

#52938
STR :
1) Login with Site admin user and go to above url.

Actual Result : Data is not showing on the graph.
![image](https://user-images.githubusercontent.com/92088937/204446022-532ffb8a-f686-4086-b868-36e0d004c951.png)

Expected Result : Data should show on the graph
![image](https://user-images.githubusercontent.com/92088937/204446193-d3

[2022-11-29 13:45] IshantRevclerx commented on #162
@sunrao sir and @shivmishra sir, I have checked above issue on given branch ( https://pr-54304.dvl.amp.vg/ ) and Its working as expected now.

[2022-11-29 13:59] prashantjadhav92 commented on #159
I have asked the client to verify the fix.

[2022-11-29 21:28] prashantjadhav92 commented on #59
I have asked the client to verify.